In [1]:
import pandas as pd

In [2]:
dirty_df = pd.read_csv("./Group113_dirty_data.csv")
outlier_df = pd.read_csv("./Group113_outlier_data.csv")
missing_df = pd.read_csv("./Group113_missing_data.csv")
node = pd.read_csv("./nodes.csv")
edges = pd.read_csv("./edges.csv")
branches = pd.read_csv("./branches.csv")

In [3]:
dirty_df.describe()

,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,490.960700,-30.754358,143.504515,0.126000,8.822786,13.722854
std,258.944904,25.336872,16.299119,0.332182,1.648781,2.564382
min,43.000000,-37.840654,-37.823134,0.000000,3.562000,3.955939
25%,296.812500,-37.818644,144.950373,0.000000,7.882250,12.502573
50%,460.100000,-37.812013,144.963606,0.000000,8.872500,13.781359
75%,645.000000,-37.804556,144.982663,0.000000,9.954000,15.350428
max,1397.000000,145.015210,145.018834,1.000000,13.848000,20.370184

In [5]:
dirty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
order_id                   500 non-null object
date                       500 non-null object
time                       500 non-null object
order_type                 500 non-null object
branch_code                500 non-null object
order_items                500 non-null object
order_price                500 non-null float64
customer_lat               500 non-null float64
customer_lon               500 non-null float64
customerHasloyalty?        500 non-null int64
distance_to_customer_KM    500 non-null float64
delivery_fee               500 non-null float64
dtypes: float64(5), int64(1), object(6)
memory usage: 47.0+ KB

In [7]:
dirty_df.describe(include=['O'])

,order_id,date,time,order_type,branch_code,order_items
count,500,500,500,500,500,500
unique,500,298,72,3,6,498
top,ORDX10966,2018-01-04,18:08:27,Dinner,TP,"[('Fish&Chips', 7), ('Pasta', 3)]"
freq,1,6,13,170,174,2

In [13]:
dirty_df.head()

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDY03163,2018-09-15,16:27:02,Dinner,tp,"[('Fish&Chips', 4), ('Salmon', 7), ('Pasta', 3...",671.5,-37.815611,144.973490,0,8.318,14.140324
1,ORDB08039,2018-05-19,12:33:48,Lunch,TP,"[('Steak', 4), ('Salad', 7)]",300.4,-37.806544,145.010707,0,12.438,17.011135
2,ORDA01841,2018-08-21,15:36:20,Lunch,BK,"[('Fish&Chips', 3), ('Fries', 10), ('Chicken',...",511.0,-37.823347,144.988505,0,6.383,12.206218
3,ORDB05089,2018-03-14,10:21:58,Breakfast,TP,"[('Coffee', 3), ('Cereal', 10), ('Pancake', 10)]",475.0,-37.799659,144.970194,0,9.221,12.911713
4,ORDA10328,2018-07-16,14:25:21,Dinner,BK,"[('Fries', 9), ('Salad', 8), ('Burger', 6)]",431.6,-37.805799,144.994800,0,5.102,11.231360

In [48]:
# checking date format

mask = pd.to_datetime(dirty_df.date, format='%Y-%m-%d', errors='coerce').isna()
dirty_date = dirty_df.loc[mask, :]
dirty_date

In [50]:
# fixing date format
def fix_date(date_str):
    date_token = date_str.split('-')
    year = (date_token[0])
    month = (int)(date_token[1])
    date = (int)(date_token[2])
    
    if len(year) != 4:
        year,date = date,(int)(year)
    
    if month > 12:
        date,month = month,date

    if month in (4,6,9,11):
        if date >30:
            date = 30
            
    if month == 2:
        if date>28:
            date =28
    
    final_date = pd.to_datetime(str(year)+"-"+str(month)+"-"+str(date),format='%Y-%m-%d')
#     print("date string:" + date_str + "######" + " final date:" + str(final_date))
    return final_date
        
dirty_date['date']=dirty_date['date'].apply(fix_date)
dirty_date

date string:2018-24-09###### final date:2018-09-24 00:00:00
date string:10-01-2018###### final date:2018-01-10 00:00:00
date string:2018-23-05###### final date:2018-05-23 00:00:00
date string:2018-16-10###### final date:2018-10-16 00:00:00
date string:2018-19-01###### final date:2018-01-19 00:00:00
date string:04-11-2018###### final date:2018-11-04 00:00:00
date string:2018-15-08###### final date:2018-08-15 00:00:00
date string:11-11-2018###### final date:2018-11-11 00:00:00
date string:2018-17-07###### final date:2018-07-17 00:00:00
date string:2018-20-12###### final date:2018-12-20 00:00:00
date string:03-06-2018###### final date:2018-06-03 00:00:00
date string:2018-31-08###### final date:2018-08-31 00:00:00
date string:2018-26-04###### final date:2018-04-26 00:00:00
date string:12-11-2018###### final date:2018-11-12 00:00:00
date string:02-02-2018###### final date:2018-02-02 00:00:00
date string:2018-14-09###### final date:2018-09-14 00:00:00
date string:05-03-2018###### final date:2018-03-05 00:00:00
date string:12-12-2018###### final date:2018-12-12 00:00:00
date string:04-06-2018###### final date:2018-06-04 00:00:00
date string:03-04-2018###### final date:2018-04-03 00:00:00
date string:2018-20-03###### final date:2018-03-20 00:00:00
date string:2018-26-08###### final date:2018-08-26 00:00:00
date string:2018-24-10###### final date:2018-10-24 00:00:00
date string:2018-22-09###### final date:2018-09-22 00:00:00
date string:09-04-2018###### final date:2018-04-09 00:00:00
date string:2018-26-01###### final date:2018-01-26 00:00:00
date string:2018-26-02###### final date:2018-02-26 00:00:00
date string:2018-20-04###### final date:2018-04-20 00:00:00
date string:04-11-2018###### final date:2018-11-04 00:00:00
date string:2018-23-11###### final date:2018-11-23 00:00:00
date string:2018-24-10###### final date:2018-10-24 00:00:00
date string:02-05-2018###### final date:2018-05-02 00:00:00
date string:07-08-2018###### final date:2018-08-07 00:00:00
date string:09-07-2018###### final date:2018-07-09 00:00:00
date string:2018-16-01###### final date:2018-01-16 00:00:00
date string:2018-14-06###### final date:2018-06-14 00:00:00
date string:09-11-2018###### final date:2018-11-09 00:00:00

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
30,ORDC04608,2018-09-24,16:47:19,Dinner,NS,"[('Shrimp', 10), ('Pasta', 2), ('Fish&Chips', 3)]",700.00,-37.816886,144.988144,0,9.050,15.276973
40,ORDX10324,2018-01-10,08:10:08,Breakfast,BK,"[('Eggs', 3), ('Pancake', 5), ('Cereal', 9)]",376.25,-37.806651,144.957028,1,8.296,6.822306
50,ORDJ06852,2018-05-23,12:43:56,Lunch,TP,"[('Fries', 5), ('Steak', 10), ('Burger', 4)]",634.00,-37.814628,144.983456,0,9.310,13.094294
55,ORDB05508,2018-10-16,17:27:53,Dinner,TP,"[('Pasta', 8), ('Shrimp', 5), ('Fish&Chips', 8...",1180.00,-37.822314,144.996798,0,10.154,14.085795
61,ORDB09528,2018-01-19,08:30:25,Breakfast,TP,"[('Eggs', 4), ('Coffee', 9), ('Pancake', 3)]",228.25,-37.805573,144.953490,0,9.413,11.779022
80,ORDX10265,2018-11-04,18:08:27,Dinner,BK,"[('Pasta', 6), ('Shrimp', 8), ('Fish&Chips', 7...",965.00,-37.811351,144.952810,0,8.456,17.851977
153,ORDI09232,2018-08-15,15:26:11,Lunch,NS,"[('Fries', 4), ('Steak', 2), ('Chicken', 10), ...",692.20,-37.808185,144.975624,0,7.292,12.705843
164,ORDX01295,2018-11-11,18:28:43,Dinner,BK,"[('Salmon', 8), ('Shrimp', 8), ('Pasta', 5), (...",967.50,-37.817193,144.958842,0,8.285,17.801597
166,ORDC00567,2018-07-17,14:25:21,Lunch,NS,"[('Salad', 10), ('Chicken', 6), ('Burger', 9)]",643.00,-37.808679,144.948694,0,8.809,15.180942
167,ORDI08693,2018-12-20,19:39:43,Dinner,NS,"[('Fish&Chips', 10), ('Shrimp', 5)]",620.00,-37.815358,144.936667,0,10.042,15.928873
172,ORDA02758,2018-06-03,13:04:13,Lunch,BK,"[('Chicken', 1), ('Salad', 8), ('Burger', 9)]",448.60,-37.825403,144.956963,0,8.868,17.115707
189,ORDI03974,2018-08-31,15:56:37,Lunch,NS,"[('Fries', 2), ('Chicken', 3), ('Steak', 9), (...",728.00,-37.816484,144.955836,0,8.745,14.226277
211,ORDB07098,2018-04-26,11:43:05,Breakfast,TP,"[('Cereal', 7), ('Eggs', 9)]",345.00,-37.818234,144.965229,0,7.528,10.682669
218,ORDI05818,2018-11-12,18:28:43,Dinner,NS,"[('Shrimp', 8), ('Fish&Chips', 1)]",467.00,-37.815726,144.958167,0,8.536,14.962425
231,ORDJ03417,2018-02-02,09:00:50,Breakfast,TP,"[('Cereal', 8), ('Pancake', 7), ('Eggs', 8), (...",536.25,-37.815982,144.963023,0,8.037,10.795490
236,ORDI01691,2018-09-14,16:27:02,Dinner,NS,"[('Fish&Chips', 8), ('Shrimp', 9), ('Pasta', 1...",1123.00,-37.813046,144.965930,0,7.774,13.736735
237,ORDA04082,2018-03-05,10:01:41,Breakfast,BK,"[('Cereal', 3), ('Pancake', 5)]",184.25,-37.802596,144.965176,0,7.626,12.361496
272,ORDA04225,2018-12-12,19:29:34,Dinner,BK,"[('Salmon', 1), ('Pasta', 4)]",151.00,-37.817750,144.974697,0,7.154,13.879524
286,ORDI02601,2018-06-04,13:04:13,Lunch,NS,"[('Steak', 5), ('Chicken', 6), ('Salad', 6)]",520.20,-37.806177,144.998109,0,8.973,14.694716
292,ORDK06179,2018-04-03,11:02:32,Breakfast,BK,"[('Eggs', 8), ('Coffee', 4), ('Cereal', 4)]",290.00,-37.810657,144.985294,0,5.547,10.148954
293,ORDK04561,2018-03-20,10:32:06,Breakfast,BK,"[('Cereal', 4), ('Pancake', 8)]",278.00,-37.810224,144.957822,0,8.018,13.018343
305,ORDJ02179,2018-08-26,15:46:28,Lunch,TP,"[('Steak', 9), ('Burger', 8)]",653.00,-37.811816,144.966912,0,8.511,13.579630
321,ORDI07061,2018-10-24,17:48:10,Dinner,NS,"[('Fish&Chips', 4), ('Salmon', 2), ('Shrimp', 3)]",384.00,-37.810411,144.961597,0,7.873,14.050267
354,ORDJ03887,2018-09-22,16:47:19,Dinner,TP,"[('Fish&Chips', 4), ('Pasta', 5), ('Shrimp', 4)]",493.50,-37.805357,144.943200,0,10.210,15.416232
361,ORDX07252,2018-04-09,11:12:40,Breakfast,BK,"[('Cereal', 10), ('Pancake', 3)]",282.75,-37.820741,144.978575,0,7.011,12.274570
369,ORDY05019,2018-01-26,08:50:42,Breakfast,TP,"[('Cereal', 4), ('Eggs', 3)]",150.00,-37.820386,144.953408,0,8.677,10.938105
398,ORDJ00319,2018-02-26,09:51:32,Breakfast,TP,"[('Pancake', 8), ('Coffee', 3), ('Cereal', 1)]",237.50,-37.823353,144.967193,0,7.798,10.749014
408,ORDC01615,2018-04-20,11:32:57,Breakfast,NS,"[('Coffee', 2), ('Cereal', 6)]",141.00,-37.825198,144.956885,0,9.719,14.135956
414,ORDC01426,2018-11-04,18:08:27,Dinner,NS,"[('Pasta', 10), ('Salmon', 1), ('Shrimp', 1)]",370.00,-37.818790,144.952956,0,9.244,17.075859
427,ORDZ08371,2018-11-23,18:49:00,Dinner,NS,"[('Fish&Chips', 8), ('Shrimp', 6), ('Salmon', ...",1179.50,-37.802553,144.956590,0,7.596,13.485463
429,ORDK04928,2018-10-24,17:48:10,Dinner,BK,"[('Fish&Chips', 2), ('Salmon', 6), ('Shrimp', ...",480.00,-37.820526,144.966399,0,7.934,14.967220
433,ORDX09488,2018-05-02,12:03:22,Lunch,BK,"[('Salad', 1), ('Fries', 4), ('Steak', 6), ('C...",431.20,-37.811662,144.965470,0,7.397,13.573020
436,ORDB04269,2018-08-07,15:16:03,Lunch,TP,"[('Fries', 4), ('Salad', 1)]",65.20,-37.816492,144.966926,0,7.845,11.402240
439,ORDX05550,2018-07-09,14:15:12,Lunch,BK,"[('Steak', 8), ('Burger', 7)]",577.00,-37.809355,144.974479,0,6.500,12.869336
461,ORDY02383,2018-01-16,08:20:16,Breakfast,TP,"[('Coffee', 9), ('Cereal', 2)]",109.50,-37.826228,144.995646,1,10.089,6.658349
475,ORDI05094,2018-06-14,13:24:30,Lunch,NS,"[('Burger', 7), ('Steak', 3), ('Fries', 1), ('...",484.40,-37.827855,144.984324,0,9.910,15.527013
497,ORDY01656,2018-11-09,18:18:35,Dinner,TP,"[('Fish&Chips', 2), ('Salmon', 4)]",234.00,-37.811762,144.985926,0,9.613,13.911924

In [69]:
dirty_new = dirty_df[~dirty_df['order_id'].isin(dirty_date['order_id'])]

In [70]:
len(dirty_new)

463

In [71]:
# check time format

mask1 = pd.to_datetime(dirty_new.time, format='%H:%M:%S', errors='coerce').isna()
dirty_time = dirty_new.loc[mask1, :]
dirty_time

Empty DataFrame
Columns: [order_id, date, time, order_type, branch_code, order_items, order_price, customer_lat, customer_lon, customerHasloyalty?, distance_to_customer_KM, delivery_fee]
Index: []

In [72]:
# checking branch code
dirty_new.branch_code.value_counts()

TP    162
BK    140
NS    135
tp     12
bk      7
ns      7
Name: branch_code, dtype: int64

In [73]:
dirty_bc = dirty_new[(dirty_new.branch_code == 'tp') | (dirty_new.branch_code == 'bk') |(dirty_new.branch_code == 'ns')] 
dirty_bc

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDY03163,2018-09-15,16:27:02,Dinner,tp,"[('Fish&Chips', 4), ('Salmon', 7), ('Pasta', 3...",671.50,-37.815611,144.973490,0,8.318,14.140324
13,ORDK00414,2018-06-27,13:44:47,Lunch,tp,"[('Salad', 8), ('Fries', 9), ('Chicken', 3)]",341.60,-37.818929,144.973552,0,7.245,13.235827
28,ORDJ00251,2018-12-11,19:19:26,Dinner,ns,"[('Fish&Chips', 1), ('Shrimp', 1), ('Pasta', 8)]",309.00,-37.822558,144.950131,0,8.647,12.832132
98,ORDB04798,2018-06-03,13:04:13,Lunch,bk,"[('Burger', 1), ('Chicken', 10), ('Fries', 7),...",607.00,-37.816684,144.970055,0,7.984,12.902967
107,ORDA10203,2018-04-19,11:32:57,Breakfast,tp,"[('Eggs', 4), ('Cereal', 1), ('Pancake', 6), (...",314.50,-37.813404,144.974073,0,6.806,11.718539
132,ORDJ06622,2018-05-29,12:54:05,Lunch,ns,"[('Chicken', 7), ('Fries', 5), ('Steak', 6), (...",970.60,-37.816534,145.008947,0,11.625,14.418109
154,ORDK05097,2018-07-23,14:45:38,Lunch,ns,"[('Salad', 4), ('Steak', 3), ('Fries', 9)]",311.80,-37.823694,145.013756,0,4.828,10.575452
188,ORDB08700,2018-08-22,15:46:28,Lunch,tp,"[('Fries', 5), ('Steak', 6)]",330.00,-37.820425,144.976665,0,8.511,11.914621
235,ORDB03709,2018-07-07,14:15:12,Lunch,tp,"[('Chicken', 7), ('Steak', 8)]",584.00,-37.818630,145.016065,0,12.751,17.293692
239,ORDI09901,2018-07-01,13:54:55,Lunch,ns,"[('Steak', 1), ('Chicken', 1)]",77.00,-37.813624,144.941056,0,9.513,16.408801
241,ORDI02277,2018-12-10,19:19:26,Dinner,tp,"[('Shrimp', 1), ('Pasta', 5), ('Fish&Chips', 8)]",471.50,-37.811683,145.012088,0,10.510,16.595504
264,ORDY05491,2018-08-07,15:16:03,Lunch,bk,"[('Salad', 6), ('Burger', 8)]",351.20,-37.809310,144.952641,0,9.126,12.207146
267,ORDC06790,2018-06-15,13:24:30,Lunch,bk,"[('Steak', 4), ('Fries', 7), ('Burger', 3), ('...",507.00,-37.813495,144.965648,0,7.843,13.399540
298,ORDI09369,2018-08-22,15:46:28,Lunch,bk,"[('Steak', 2), ('Fries', 5), ('Salad', 1), ('B...",641.20,-37.809117,144.936871,0,10.109,15.867473
352,ORDI05109,2018-07-21,14:35:29,Lunch,bk,"[('Salad', 5), ('Fries', 4), ('Burger', 5), ('...",739.00,-37.821238,145.011546,0,11.462,18.969606
360,ORDC08852,2018-08-10,15:16:03,Lunch,bk,"[('Fries', 10), ('Salad', 8), ('Chicken', 1), ...",804.60,-37.805571,144.941830,0,9.306,14.440601
364,ORDJ10565,2018-11-03,18:08:27,Dinner,ns,"[('Salmon', 9), ('Shrimp', 3)]",531.00,-37.803167,145.004497,0,12.079,17.448913
387,ORDA10246,2018-10-04,17:07:36,Dinner,ns,"[('Salmon', 3), ('Fish&Chips', 1), ('Pasta', 4)]",268.00,-37.806691,144.945277,0,9.317,17.072313
401,ORDA00753,2018-08-12,15:26:11,Lunch,ns,"[('Fries', 3), ('Burger', 3), ('Steak', 6), ('...",873.80,-37.810412,144.988266,0,5.280,14.001156
411,ORDZ03961,2018-05-08,12:13:31,Lunch,bk,"[('Fries', 5), ('Burger', 6)]",246.00,-37.804307,145.011153,0,10.132,15.637220
415,ORDJ02792,2018-10-08,17:17:44,Dinner,tp,"[('Salmon', 7), ('Fish&Chips', 4)]",427.00,-37.819402,144.961118,0,7.633,12.138353
425,ORDA07342,2018-04-28,11:53:14,Breakfast,tp,"[('Coffee', 8), ('Pancake', 2), ('Cereal', 2),...",260.50,-37.816005,144.963555,0,7.878,14.617005
426,ORDK00329,2018-02-18,09:31:16,Breakfast,tp,"[('Coffee', 1), ('Cereal', 10), ('Pancake', 9)]",435.75,-37.819611,144.993726,0,5.451,13.033753
450,ORDC06324,2018-11-04,18:08:27,Dinner,tp,"[('Pasta', 8), ('Salmon', 4)]",384.00,-37.818785,144.952466,0,9.285,17.937408
479,ORDA04385,2018-10-23,17:48:10,Dinner,tp,"[('Pasta', 8), ('Fish&Chips', 10)]",570.00,-37.807279,144.948608,0,8.825,15.572730
487,ORDJ08784,2018-01-09,08:10:08,Breakfast,tp,"[('Coffee', 8), ('Cereal', 9), ('Eggs', 6), ('...",599.25,-37.812935,144.960171,1,8.424,6.029875

In [79]:
# fixing branch code
dirty_bc['branch_code'] = dirty_bc.apply(lambda row: row['branch_code'].upper(),axis=1)
dirty_bc

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDY03163,2018-09-15,16:27:02,Dinner,TP,"[('Fish&Chips', 4), ('Salmon', 7), ('Pasta', 3...",671.50,-37.815611,144.973490,0,8.318,14.140324
13,ORDK00414,2018-06-27,13:44:47,Lunch,TP,"[('Salad', 8), ('Fries', 9), ('Chicken', 3)]",341.60,-37.818929,144.973552,0,7.245,13.235827
28,ORDJ00251,2018-12-11,19:19:26,Dinner,NS,"[('Fish&Chips', 1), ('Shrimp', 1), ('Pasta', 8)]",309.00,-37.822558,144.950131,0,8.647,12.832132
98,ORDB04798,2018-06-03,13:04:13,Lunch,BK,"[('Burger', 1), ('Chicken', 10), ('Fries', 7),...",607.00,-37.816684,144.970055,0,7.984,12.902967
107,ORDA10203,2018-04-19,11:32:57,Breakfast,TP,"[('Eggs', 4), ('Cereal', 1), ('Pancake', 6), (...",314.50,-37.813404,144.974073,0,6.806,11.718539
132,ORDJ06622,2018-05-29,12:54:05,Lunch,NS,"[('Chicken', 7), ('Fries', 5), ('Steak', 6), (...",970.60,-37.816534,145.008947,0,11.625,14.418109
154,ORDK05097,2018-07-23,14:45:38,Lunch,NS,"[('Salad', 4), ('Steak', 3), ('Fries', 9)]",311.80,-37.823694,145.013756,0,4.828,10.575452
188,ORDB08700,2018-08-22,15:46:28,Lunch,TP,"[('Fries', 5), ('Steak', 6)]",330.00,-37.820425,144.976665,0,8.511,11.914621
235,ORDB03709,2018-07-07,14:15:12,Lunch,TP,"[('Chicken', 7), ('Steak', 8)]",584.00,-37.818630,145.016065,0,12.751,17.293692
239,ORDI09901,2018-07-01,13:54:55,Lunch,NS,"[('Steak', 1), ('Chicken', 1)]",77.00,-37.813624,144.941056,0,9.513,16.408801
241,ORDI02277,2018-12-10,19:19:26,Dinner,TP,"[('Shrimp', 1), ('Pasta', 5), ('Fish&Chips', 8)]",471.50,-37.811683,145.012088,0,10.510,16.595504
264,ORDY05491,2018-08-07,15:16:03,Lunch,BK,"[('Salad', 6), ('Burger', 8)]",351.20,-37.809310,144.952641,0,9.126,12.207146
267,ORDC06790,2018-06-15,13:24:30,Lunch,BK,"[('Steak', 4), ('Fries', 7), ('Burger', 3), ('...",507.00,-37.813495,144.965648,0,7.843,13.399540
298,ORDI09369,2018-08-22,15:46:28,Lunch,BK,"[('Steak', 2), ('Fries', 5), ('Salad', 1), ('B...",641.20,-37.809117,144.936871,0,10.109,15.867473
352,ORDI05109,2018-07-21,14:35:29,Lunch,BK,"[('Salad', 5), ('Fries', 4), ('Burger', 5), ('...",739.00,-37.821238,145.011546,0,11.462,18.969606
360,ORDC08852,2018-08-10,15:16:03,Lunch,BK,"[('Fries', 10), ('Salad', 8), ('Chicken', 1), ...",804.60,-37.805571,144.941830,0,9.306,14.440601
364,ORDJ10565,2018-11-03,18:08:27,Dinner,NS,"[('Salmon', 9), ('Shrimp', 3)]",531.00,-37.803167,145.004497,0,12.079,17.448913
387,ORDA10246,2018-10-04,17:07:36,Dinner,NS,"[('Salmon', 3), ('Fish&Chips', 1), ('Pasta', 4)]",268.00,-37.806691,144.945277,0,9.317,17.072313
401,ORDA00753,2018-08-12,15:26:11,Lunch,NS,"[('Fries', 3), ('Burger', 3), ('Steak', 6), ('...",873.80,-37.810412,144.988266,0,5.280,14.001156
411,ORDZ03961,2018-05-08,12:13:31,Lunch,BK,"[('Fries', 5), ('Burger', 6)]",246.00,-37.804307,145.011153,0,10.132,15.637220
415,ORDJ02792,2018-10-08,17:17:44,Dinner,TP,"[('Salmon', 7), ('Fish&Chips', 4)]",427.00,-37.819402,144.961118,0,7.633,12.138353
425,ORDA07342,2018-04-28,11:53:14,Breakfast,TP,"[('Coffee', 8), ('Pancake', 2), ('Cereal', 2),...",260.50,-37.816005,144.963555,0,7.878,14.617005
426,ORDK00329,2018-02-18,09:31:16,Breakfast,TP,"[('Coffee', 1), ('Cereal', 10), ('Pancake', 9)]",435.75,-37.819611,144.993726,0,5.451,13.033753
450,ORDC06324,2018-11-04,18:08:27,Dinner,TP,"[('Pasta', 8), ('Salmon', 4)]",384.00,-37.818785,144.952466,0,9.285,17.937408
479,ORDA04385,2018-10-23,17:48:10,Dinner,TP,"[('Pasta', 8), ('Fish&Chips', 10)]",570.00,-37.807279,144.948608,0,8.825,15.572730
487,ORDJ08784,2018-01-09,08:10:08,Breakfast,TP,"[('Coffee', 8), ('Cereal', 9), ('Eggs', 6), ('...",599.25,-37.812935,144.960171,1,8.424,6.029875

In [82]:
# fixing branch code
def check_branch_code(order_id, branch_code):
    if order_id.startswith('ORDA') or order_id.startswith('ORDK') or order_id.startswith('ORDX'):
        return 'BK'
    elif order_id.startswith('ORDB') or order_id.startswith('ORDJ') or order_id.startswith('ORDY'):
        return 'TP'
    elif order_id.startswith('ORDC') or order_id.startswith('ORDI') or order_id.startswith('ORDZ'):
        return 'NS'
    return branch_code

In [83]:
dirty_bc['branch_code'] = dirty_bc.apply(lambda row:check_branch_code(row['order_id'], row['branch_code']),axis=1)
dirty_bc

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDY03163,2018-09-15,16:27:02,Dinner,TP,"[('Fish&Chips', 4), ('Salmon', 7), ('Pasta', 3...",671.50,-37.815611,144.973490,0,8.318,14.140324
13,ORDK00414,2018-06-27,13:44:47,Lunch,BK,"[('Salad', 8), ('Fries', 9), ('Chicken', 3)]",341.60,-37.818929,144.973552,0,7.245,13.235827
28,ORDJ00251,2018-12-11,19:19:26,Dinner,TP,"[('Fish&Chips', 1), ('Shrimp', 1), ('Pasta', 8)]",309.00,-37.822558,144.950131,0,8.647,12.832132
98,ORDB04798,2018-06-03,13:04:13,Lunch,TP,"[('Burger', 1), ('Chicken', 10), ('Fries', 7),...",607.00,-37.816684,144.970055,0,7.984,12.902967
107,ORDA10203,2018-04-19,11:32:57,Breakfast,BK,"[('Eggs', 4), ('Cereal', 1), ('Pancake', 6), (...",314.50,-37.813404,144.974073,0,6.806,11.718539
132,ORDJ06622,2018-05-29,12:54:05,Lunch,TP,"[('Chicken', 7), ('Fries', 5), ('Steak', 6), (...",970.60,-37.816534,145.008947,0,11.625,14.418109
154,ORDK05097,2018-07-23,14:45:38,Lunch,BK,"[('Salad', 4), ('Steak', 3), ('Fries', 9)]",311.80,-37.823694,145.013756,0,4.828,10.575452
188,ORDB08700,2018-08-22,15:46:28,Lunch,TP,"[('Fries', 5), ('Steak', 6)]",330.00,-37.820425,144.976665,0,8.511,11.914621
235,ORDB03709,2018-07-07,14:15:12,Lunch,TP,"[('Chicken', 7), ('Steak', 8)]",584.00,-37.818630,145.016065,0,12.751,17.293692
239,ORDI09901,2018-07-01,13:54:55,Lunch,NS,"[('Steak', 1), ('Chicken', 1)]",77.00,-37.813624,144.941056,0,9.513,16.408801
241,ORDI02277,2018-12-10,19:19:26,Dinner,NS,"[('Shrimp', 1), ('Pasta', 5), ('Fish&Chips', 8)]",471.50,-37.811683,145.012088,0,10.510,16.595504
264,ORDY05491,2018-08-07,15:16:03,Lunch,TP,"[('Salad', 6), ('Burger', 8)]",351.20,-37.809310,144.952641,0,9.126,12.207146
267,ORDC06790,2018-06-15,13:24:30,Lunch,NS,"[('Steak', 4), ('Fries', 7), ('Burger', 3), ('...",507.00,-37.813495,144.965648,0,7.843,13.399540
298,ORDI09369,2018-08-22,15:46:28,Lunch,NS,"[('Steak', 2), ('Fries', 5), ('Salad', 1), ('B...",641.20,-37.809117,144.936871,0,10.109,15.867473
352,ORDI05109,2018-07-21,14:35:29,Lunch,NS,"[('Salad', 5), ('Fries', 4), ('Burger', 5), ('...",739.00,-37.821238,145.011546,0,11.462,18.969606
360,ORDC08852,2018-08-10,15:16:03,Lunch,NS,"[('Fries', 10), ('Salad', 8), ('Chicken', 1), ...",804.60,-37.805571,144.941830,0,9.306,14.440601
364,ORDJ10565,2018-11-03,18:08:27,Dinner,TP,"[('Salmon', 9), ('Shrimp', 3)]",531.00,-37.803167,145.004497,0,12.079,17.448913
387,ORDA10246,2018-10-04,17:07:36,Dinner,BK,"[('Salmon', 3), ('Fish&Chips', 1), ('Pasta', 4)]",268.00,-37.806691,144.945277,0,9.317,17.072313
401,ORDA00753,2018-08-12,15:26:11,Lunch,BK,"[('Fries', 3), ('Burger', 3), ('Steak', 6), ('...",873.80,-37.810412,144.988266,0,5.280,14.001156
411,ORDZ03961,2018-05-08,12:13:31,Lunch,NS,"[('Fries', 5), ('Burger', 6)]",246.00,-37.804307,145.011153,0,10.132,15.637220
415,ORDJ02792,2018-10-08,17:17:44,Dinner,TP,"[('Salmon', 7), ('Fish&Chips', 4)]",427.00,-37.819402,144.961118,0,7.633,12.138353
425,ORDA07342,2018-04-28,11:53:14,Breakfast,BK,"[('Coffee', 8), ('Pancake', 2), ('Cereal', 2),...",260.50,-37.816005,144.963555,0,7.878,14.617005
426,ORDK00329,2018-02-18,09:31:16,Breakfast,BK,"[('Coffee', 1), ('Cereal', 10), ('Pancake', 9)]",435.75,-37.819611,144.993726,0,5.451,13.033753
450,ORDC06324,2018-11-04,18:08:27,Dinner,NS,"[('Pasta', 8), ('Salmon', 4)]",384.00,-37.818785,144.952466,0,9.285,17.937408
479,ORDA04385,2018-10-23,17:48:10,Dinner,BK,"[('Pasta', 8), ('Fish&Chips', 10)]",570.00,-37.807279,144.948608,0,8.825,15.572730
487,ORDJ08784,2018-01-09,08:10:08,Breakfast,TP,"[('Coffee', 8), ('Cereal', 9), ('Eggs', 6), ('...",599.25,-37.812935,144.960171,1,8.424,6.029875

In [75]:
dirty_new_1 = dirty_new[~dirty_new['order_id'].isin(dirty_bc['order_id'])]
len(dirty_new_1)

437

I am not checking it on the extracted data as we will anyway run it on the entire data

In [85]:
# dirty_new_1[((dirty_new_1.order_id.startswith('ORDA') or dirty_new_1.order_id.startswith('ORDK') or dirty_new_1.order_id.startswith('ORDX')) \
#             and (dirty_new_1.branch_code != 'BK'))|\
#             ((dirty_new_1.order_id.startswith('ORDB') or dirty_new_1.order_id.startswith('ORDJ') or dirty_new_1.order_id.startswith('ORDY')) \
#             and (dirty_new_1.branch_code != 'TP'))|\
#             ((dirty_new_1.order_id.startswith('ORDC') or dirty_new_1.order_id.startswith('ORDI') or dirty_new_1.order_id.startswith('ORDZ')) \
#             and (dirty_new_1.branch_code != 'NS'))]

In [96]:

# checking interchange latitude longitude
interchanged_df = dirty_new_1[(dirty_new_1['customer_lat'] > 0) & (dirty_new_1['customer_lon'] < 0)]

idx = (interchanged_df['customer_lat'] > 0) & (interchanged_df['customer_lon'] < 0)

interchanged_df

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
376,ORDX10477,2018-08-06,15:05:54,Lunch,BK,"[('Steak', 3), ('Burger', 7), ('Salad', 4), ('...",540.8,144.970391,-37.823134,0,7.938,13.555022
385,ORDJ02390,2018-11-05,18:08:27,Dinner,TP,"[('Pasta', 6), ('Salmon', 10), ('Fish&Chips', ...",1160.0,144.963469,-37.815258,0,7.906,12.166725
459,ORDA05768,2018-05-19,12:33:48,Lunch,BK,"[('Steak', 5), ('Salad', 10), ('Fries', 1), ('...",817.0,144.962735,-37.803438,0,7.742,16.251153
460,ORDZ08685,2018-12-06,19:19:26,Dinner,NS,"[('Salmon', 8), ('Pasta', 5)]",465.5,145.015210,-37.810352,0,10.826,16.713025

In [97]:
# fixing latitude longitude
interchanged_df.loc[idx,['customer_lat','customer_lon']] = interchanged_df.loc[idx,['customer_lon','customer_lat']].values
interchanged_df

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
376,ORDX10477,2018-08-06,15:05:54,Lunch,BK,"[('Steak', 3), ('Burger', 7), ('Salad', 4), ('...",540.8,-37.823134,144.970391,0,7.938,13.555022
385,ORDJ02390,2018-11-05,18:08:27,Dinner,TP,"[('Pasta', 6), ('Salmon', 10), ('Fish&Chips', ...",1160.0,-37.815258,144.963469,0,7.906,12.166725
459,ORDA05768,2018-05-19,12:33:48,Lunch,BK,"[('Steak', 5), ('Salad', 10), ('Fries', 1), ('...",817.0,-37.803438,144.962735,0,7.742,16.251153
460,ORDZ08685,2018-12-06,19:19:26,Dinner,NS,"[('Salmon', 8), ('Pasta', 5)]",465.5,-37.810352,145.015210,0,10.826,16.713025

In [98]:
dirty_new_2 = dirty_new_1[~dirty_new_1['order_id'].isin(interchanged_df['order_id'])]
len(dirty_new_2)

433

In [101]:

# checking positive latitude 
positive_lat_to_negative = dirty_new_2[dirty_new_2['customer_lat'] > 0]
positive_lat_to_negative

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
11,ORDJ04320,2018-06-29,13:54:55,Lunch,TP,"[('Fries', 3), ('Steak', 8)]",396.00,37.806172,144.944749,0,10.048,13.321015
15,ORDC08350,2018-04-04,11:02:32,Breakfast,NS,"[('Pancake', 4), ('Eggs', 10), ('Cereal', 4), ...",446.00,37.817408,144.945824,0,9.435,14.395185
27,ORDK05494,2018-11-05,18:08:27,Dinner,BK,"[('Shrimp', 5), ('Fish&Chips', 1)]",305.00,37.819857,144.951875,0,8.922,16.059124
31,ORDZ03638,2018-11-07,18:18:35,Dinner,NS,"[('Salmon', 7), ('Pasta', 9), ('Shrimp', 10), ...",1354.50,37.811267,144.961717,0,7.744,13.626144
34,ORDZ02029,2018-05-04,12:03:22,Lunch,NS,"[('Burger', 6), ('Salad', 7), ('Fries', 9)]",414.40,37.800157,144.935366,0,6.636,12.369558
45,ORDY08080,2018-11-28,18:59:09,Dinner,TP,"[('Shrimp', 6), ('Fish&Chips', 7)]",569.00,37.805046,144.967249,0,9.401,13.727322
48,ORDC06702,2018-05-12,12:13:31,Lunch,NS,"[('Salad', 2), ('Fries', 8), ('Burger', 2)]",192.40,37.802282,144.962224,0,7.018,14.787773
57,ORDZ08200,2018-01-03,08:00:00,Breakfast,NS,"[('Coffee', 7), ('Eggs', 1), ('Cereal', 4)]",158.50,37.800937,145.015453,1,10.778,8.221095
63,ORDC09613,2018-08-12,15:26:11,Lunch,NS,"[('Chicken', 8), ('Fries', 8), ('Steak', 5), (...",738.80,37.818178,144.964958,0,8.504,15.937463
67,ORDZ00943,2018-04-06,11:02:32,Breakfast,NS,"[('Pancake', 7), ('Cereal', 6), ('Eggs', 6)]",427.75,37.812266,144.983811,0,8.327,13.559941
90,ORDB01052,2018-02-24,09:41:24,Breakfast,TP,"[('Eggs', 1), ('Cereal', 4), ('Coffee', 5), ('...",216.25,37.811030,144.963657,0,8.497,12.011636
112,ORDY06164,2018-09-10,16:16:54,Dinner,TP,"[('Salmon', 5), ('Shrimp', 2), ('Pasta', 4), (...",493.00,37.807381,144.998196,0,11.141,14.930649
114,ORDC08092,2018-09-10,16:16:54,Dinner,NS,"[('Salmon', 2), ('Shrimp', 7)]",460.00,37.807797,144.973202,0,7.074,12.950579
119,ORDI03100,2018-01-05,08:00:00,Breakfast,NS,"[('Coffee', 6), ('Pancake', 6), ('Cereal', 10)...",532.50,37.802519,144.992267,1,8.365,6.707984
124,ORDB02586,2018-11-07,18:18:35,Dinner,TP,"[('Shrimp', 3), ('Pasta', 9)]",409.50,37.809350,144.960834,0,8.612,12.924069
125,ORDZ05256,2018-09-28,16:57:27,Dinner,NS,"[('Pasta', 4), ('Fish&Chips', 7)]",355.00,37.810001,144.944741,0,9.136,15.363535
137,ORDY00005,2018-04-03,11:02:32,Breakfast,TP,"[('Cereal', 3), ('Coffee', 5), ('Pancake', 9),...",406.75,37.810429,144.984431,0,9.589,11.790980
206,ORDB03568,2018-07-26,14:45:38,Lunch,TP,"[('Burger', 1), ('Steak', 9), ('Fries', 7)]",520.00,37.806235,144.933584,0,10.862,13.867534
219,ORDI05565,2018-07-23,14:45:38,Lunch,NS,"[('Fries', 10), ('Steak', 3), ('Salad', 7), ('...",503.40,37.812003,144.990883,0,8.881,14.564758
234,ORDY00851,2018-03-11,10:11:49,Breakfast,TP,"[('Eggs', 10), ('Pancake', 6), ('Coffee', 1)]",373.00,37.803830,144.963397,0,9.319,13.357791
246,ORDZ05833,2018-12-20,19:39:43,Dinner,NS,"[('Salmon', 9), ('Shrimp', 5), ('Fish&Chips', 8)]",919.00,37.814592,144.959722,0,8.290,14.472206
301,ORDA05178,2018-03-10,10:11:49,Breakfast,BK,"[('Coffee', 1), ('Eggs', 5), ('Cereal', 4), ('...",322.75,37.823279,144.978495,0,7.165,14.418280
313,ORDB07128,2018-03-06,10:01:41,Breakfast,TP,"[('Cereal', 10), ('Eggs', 8)]",386.00,37.816026,144.982576,0,9.133,12.095391
314,ORDX01360,2018-01-05,08:00:00,Breakfast,BK,"[('Coffee', 3), ('Pancake', 5), ('Cereal', 8)]",311.75,37.813249,144.937156,1,10.095,7.387176
332,ORDJ09823,2018-04-12,11:22:49,Breakfast,TP,"[('Coffee', 1), ('Pancake', 9), ('Eggs', 9), (...",444.75,37.810037,144.964360,0,8.620,10.603949
358,ORDA07222,2018-06-07,13:14:21,Lunch,BK,"[('Fries', 2), ('Burger', 1), ('Steak', 6), ('...",679.40,37.805880,144.955990,0,8.069,13.953428
372,ORDC02052,2018-02-07,09:10:59,Breakfast,NS,"[('Eggs', 6), ('Cereal', 10), ('Pancake', 5)]",463.25,37.824416,144.989164,0,9.659,14.354491
380,ORDI08549,2018-01-24,08:40:33,Breakfast,NS,"[('Pancake', 8), ('Eggs', 7), ('Coffee', 7), (...",526.50,37.812723,144.962641,0,7.883,12.959957
386,ORDK00704,2018-08-03,15:05:54,Lunch,BK,"[('Burger', 7), ('Steak', 9), ('Salad', 8), ('...",887.60,37.814721,144.990386,0,5.430,11.135269
407,ORDY09831,2018-01-21,08:40:33,Breakfast,TP,"[('Eggs', 2), ('Pancake', 6)]",189.50,37.805083,144.963657,0,9.217,13.531902
410,ORDI06013,2018-03-16,10:21:58,Breakfast,NS,"[('Coffee', 10), ('Pancake', 3), ('Cereal', 4)]",231.75,37.813012,144.976231,0,7.907,13.387011
413,ORDI07251,2018-12-25,19:49:51,Dinner,NS,"[('Shrimp', 8), ('Fish&Chips', 9)]",747.00,37.805647,144.968215,0,6.744,12.719263
440,ORDC00777,2018-02-28,09:51:32,Breakfast,NS,"[('Eggs', 4), ('Cereal', 10)]",298.00,37.811374,144.936892,0,10.389,15.057098
454,ORDB00358,2018-10-15,17:27:53,Dinner,TP,"[('Pasta', 2), ('Salmon', 6), ('Shrimp', 1)]",355.00,37.821257,144.942430,0,9.415,13.777699
476,ORDZ03022,2018-01-10,08:10:08,Breakfast,NS,"[('Eggs', 4), ('Pancake', 5), ('Cereal', 6)]",335.25,37.806988,144.957088,1,8.157,6.130123
477,ORDA07175,2018-05-19,12:33:48,Lunch,BK,"[('Steak', 10), ('Salad', 7), ('Chicken', 8)]",826.40,37.802609,144.957187,0,8.275,16.333235
490,ORDA10116,2018-12-22,19:49:51,Dinner,BK,"[('Pasta', 1), ('Fish&Chips', 1), ('Shrimp', 9...",712.50,37.805768,144.966843,0,7.282,16.389603

In [102]:
# fixing positive latitude to negative
positive_lat_to_negative['customer_lat'] = -positive_lat_to_negative['customer_lat']
positive_lat_to_negative

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
11,ORDJ04320,2018-06-29,13:54:55,Lunch,TP,"[('Fries', 3), ('Steak', 8)]",396.00,-37.806172,144.944749,0,10.048,13.321015
15,ORDC08350,2018-04-04,11:02:32,Breakfast,NS,"[('Pancake', 4), ('Eggs', 10), ('Cereal', 4), ...",446.00,-37.817408,144.945824,0,9.435,14.395185
27,ORDK05494,2018-11-05,18:08:27,Dinner,BK,"[('Shrimp', 5), ('Fish&Chips', 1)]",305.00,-37.819857,144.951875,0,8.922,16.059124
31,ORDZ03638,2018-11-07,18:18:35,Dinner,NS,"[('Salmon', 7), ('Pasta', 9), ('Shrimp', 10), ...",1354.50,-37.811267,144.961717,0,7.744,13.626144
34,ORDZ02029,2018-05-04,12:03:22,Lunch,NS,"[('Burger', 6), ('Salad', 7), ('Fries', 9)]",414.40,-37.800157,144.935366,0,6.636,12.369558
45,ORDY08080,2018-11-28,18:59:09,Dinner,TP,"[('Shrimp', 6), ('Fish&Chips', 7)]",569.00,-37.805046,144.967249,0,9.401,13.727322
48,ORDC06702,2018-05-12,12:13:31,Lunch,NS,"[('Salad', 2), ('Fries', 8), ('Burger', 2)]",192.40,-37.802282,144.962224,0,7.018,14.787773
57,ORDZ08200,2018-01-03,08:00:00,Breakfast,NS,"[('Coffee', 7), ('Eggs', 1), ('Cereal', 4)]",158.50,-37.800937,145.015453,1,10.778,8.221095
63,ORDC09613,2018-08-12,15:26:11,Lunch,NS,"[('Chicken', 8), ('Fries', 8), ('Steak', 5), (...",738.80,-37.818178,144.964958,0,8.504,15.937463
67,ORDZ00943,2018-04-06,11:02:32,Breakfast,NS,"[('Pancake', 7), ('Cereal', 6), ('Eggs', 6)]",427.75,-37.812266,144.983811,0,8.327,13.559941
90,ORDB01052,2018-02-24,09:41:24,Breakfast,TP,"[('Eggs', 1), ('Cereal', 4), ('Coffee', 5), ('...",216.25,-37.811030,144.963657,0,8.497,12.011636
112,ORDY06164,2018-09-10,16:16:54,Dinner,TP,"[('Salmon', 5), ('Shrimp', 2), ('Pasta', 4), (...",493.00,-37.807381,144.998196,0,11.141,14.930649
114,ORDC08092,2018-09-10,16:16:54,Dinner,NS,"[('Salmon', 2), ('Shrimp', 7)]",460.00,-37.807797,144.973202,0,7.074,12.950579
119,ORDI03100,2018-01-05,08:00:00,Breakfast,NS,"[('Coffee', 6), ('Pancake', 6), ('Cereal', 10)...",532.50,-37.802519,144.992267,1,8.365,6.707984
124,ORDB02586,2018-11-07,18:18:35,Dinner,TP,"[('Shrimp', 3), ('Pasta', 9)]",409.50,-37.809350,144.960834,0,8.612,12.924069
125,ORDZ05256,2018-09-28,16:57:27,Dinner,NS,"[('Pasta', 4), ('Fish&Chips', 7)]",355.00,-37.810001,144.944741,0,9.136,15.363535
137,ORDY00005,2018-04-03,11:02:32,Breakfast,TP,"[('Cereal', 3), ('Coffee', 5), ('Pancake', 9),...",406.75,-37.810429,144.984431,0,9.589,11.790980
206,ORDB03568,2018-07-26,14:45:38,Lunch,TP,"[('Burger', 1), ('Steak', 9), ('Fries', 7)]",520.00,-37.806235,144.933584,0,10.862,13.867534
219,ORDI05565,2018-07-23,14:45:38,Lunch,NS,"[('Fries', 10), ('Steak', 3), ('Salad', 7), ('...",503.40,-37.812003,144.990883,0,8.881,14.564758
234,ORDY00851,2018-03-11,10:11:49,Breakfast,TP,"[('Eggs', 10), ('Pancake', 6), ('Coffee', 1)]",373.00,-37.803830,144.963397,0,9.319,13.357791
246,ORDZ05833,2018-12-20,19:39:43,Dinner,NS,"[('Salmon', 9), ('Shrimp', 5), ('Fish&Chips', 8)]",919.00,-37.814592,144.959722,0,8.290,14.472206
301,ORDA05178,2018-03-10,10:11:49,Breakfast,BK,"[('Coffee', 1), ('Eggs', 5), ('Cereal', 4), ('...",322.75,-37.823279,144.978495,0,7.165,14.418280
313,ORDB07128,2018-03-06,10:01:41,Breakfast,TP,"[('Cereal', 10), ('Eggs', 8)]",386.00,-37.816026,144.982576,0,9.133,12.095391
314,ORDX01360,2018-01-05,08:00:00,Breakfast,BK,"[('Coffee', 3), ('Pancake', 5), ('Cereal', 8)]",311.75,-37.813249,144.937156,1,10.095,7.387176
332,ORDJ09823,2018-04-12,11:22:49,Breakfast,TP,"[('Coffee', 1), ('Pancake', 9), ('Eggs', 9), (...",444.75,-37.810037,144.964360,0,8.620,10.603949
358,ORDA07222,2018-06-07,13:14:21,Lunch,BK,"[('Fries', 2), ('Burger', 1), ('Steak', 6), ('...",679.40,-37.805880,144.955990,0,8.069,13.953428
372,ORDC02052,2018-02-07,09:10:59,Breakfast,NS,"[('Eggs', 6), ('Cereal', 10), ('Pancake', 5)]",463.25,-37.824416,144.989164,0,9.659,14.354491
380,ORDI08549,2018-01-24,08:40:33,Breakfast,NS,"[('Pancake', 8), ('Eggs', 7), ('Coffee', 7), (...",526.50,-37.812723,144.962641,0,7.883,12.959957
386,ORDK00704,2018-08-03,15:05:54,Lunch,BK,"[('Burger', 7), ('Steak', 9), ('Salad', 8), ('...",887.60,-37.814721,144.990386,0,5.430,11.135269
407,ORDY09831,2018-01-21,08:40:33,Breakfast,TP,"[('Eggs', 2), ('Pancake', 6)]",189.50,-37.805083,144.963657,0,9.217,13.531902
410,ORDI06013,2018-03-16,10:21:58,Breakfast,NS,"[('Coffee', 10), ('Pancake', 3), ('Cereal', 4)]",231.75,-37.813012,144.976231,0,7.907,13.387011
413,ORDI07251,2018-12-25,19:49:51,Dinner,NS,"[('Shrimp', 8), ('Fish&Chips', 9)]",747.00,-37.805647,144.968215,0,6.744,12.719263
440,ORDC00777,2018-02-28,09:51:32,Breakfast,NS,"[('Eggs', 4), ('Cereal', 10)]",298.00,-37.811374,144.936892,0,10.389,15.057098
454,ORDB00358,2018-10-15,17:27:53,Dinner,TP,"[('Pasta', 2), ('Salmon', 6), ('Shrimp', 1)]",355.00,-37.821257,144.942430,0,9.415,13.777699
476,ORDZ03022,2018-01-10,08:10:08,Breakfast,NS,"[('Eggs', 4), ('Pancake', 5), ('Cereal', 6)]",335.25,-37.806988,144.957088,1,8.157,6.130123
477,ORDA07175,2018-05-19,12:33:48,Lunch,BK,"[('Steak', 10), ('Salad', 7), ('Chicken', 8)]",826.40,-37.802609,144.957187,0,8.275,16.333235
490,ORDA10116,2018-12-22,19:49:51,Dinner,BK,"[('Pasta', 1), ('Fish&Chips', 1), ('Shrimp', 9...",712.50,-37.805768,144.966843,0,7.282,16.389603

In [104]:
dirty_new_3 = dirty_new_2[~dirty_new_2['order_id'].isin(positive_lat_to_negative['order_id'])]
len(dirty_new_3)

396

In [106]:
# No customer longitude with negative sign

dirty_new_3[dirty_new_3['customer_lon'] < 0]

Empty DataFrame
Columns: [order_id, date, time, order_type, branch_code, order_items, order_price, customer_lat, customer_lon, customerHasloyalty?, distance_to_customer_KM, delivery_fee]
Index: []

In [108]:
# checking order type with respect to time
time_order_type = dirty_new_3[((dirty_new_3.time >= '08:00:00') & (dirty_new_3.time <= '12:00:00') & (dirty_new_3.order_type != 'Breakfast'))|\
            ((dirty_new_3.time >= '12:00:01') & (dirty_new_3.time <= '16:00:00') & (dirty_new_3.order_type != 'Lunch'))|\
            ((dirty_new_3.time >= '16:00:01') & (dirty_new_3.time <= '20:00:00') & (dirty_new_3.order_type != 'Dinner'))]


time_order_type

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
4,ORDA10328,2018-07-16,14:25:21,Dinner,BK,"[('Fries', 9), ('Salad', 8), ('Burger', 6)]",431.60,-37.805799,144.994800,0,5.102,11.231360
49,ORDX06996,2018-06-15,13:24:30,Dinner,BK,"[('Burger', 2), ('Fries', 8)]",158.00,-37.813268,144.965470,0,7.520,12.629953
75,ORDZ04960,2018-06-09,13:14:21,Dinner,NS,"[('Burger', 6), ('Chicken', 8)]",442.00,-37.818399,144.978798,0,9.109,16.502571
81,ORDC04467,2018-02-02,09:00:50,Dinner,NS,"[('Pancake', 10), ('Cereal', 9), ('Coffee', 8)...",513.50,-37.819764,145.012797,0,11.284,16.189410
105,ORDZ08634,2018-02-15,09:21:07,Dinner,NS,"[('Eggs', 7), ('Cereal', 9), ('Pancake', 8)]",537.00,-37.811941,144.969361,0,7.441,12.513105
116,ORDZ08328,2018-04-21,11:32:57,Dinner,NS,"[('Coffee', 8), ('Eggs', 9), ('Cereal', 4), ('...",390.50,-37.818818,144.953376,0,9.227,16.908111
118,ORDY08030,2018-09-26,16:47:19,Lunch,TP,"[('Shrimp', 9), ('Pasta', 8), ('Fish&Chips', 2...",899.00,-37.799264,144.960783,0,10.011,13.816681
126,ORDC05978,2018-03-10,10:11:49,Lunch,NS,"[('Pancake', 5), ('Coffee', 1), ('Cereal', 2)]",170.75,-37.822858,145.014101,0,11.710,19.117573
133,ORDB01502,2018-12-06,19:09:17,Breakfast,TP,"[('Pasta', 10), ('Fish&Chips', 2), ('Salmon', ...",643.00,-37.818440,144.956745,0,8.155,13.288764
147,ORDJ03556,2018-12-01,19:09:17,Lunch,TP,"[('Pasta', 6), ('Shrimp', 9), ('Fish&Chips', 1)]",686.00,-37.808319,144.936399,0,10.529,15.613354
180,ORDK10834,2018-02-19,09:31:16,Dinner,BK,"[('Pancake', 4), ('Eggs', 5), ('Coffee', 6)]",252.00,-37.824226,144.986689,0,6.499,11.372960
198,ORDA03989,2018-11-22,18:49:00,Breakfast,BK,"[('Pasta', 10), ('Fish&Chips', 6)]",485.00,-37.821044,144.983691,0,6.549,12.772421
227,ORDJ08044,2018-04-20,11:32:57,Dinner,TP,"[('Pancake', 4), ('Eggs', 1), ('Cereal', 10)]",329.00,-37.819002,144.952830,0,8.555,11.452001
232,ORDX05105,2018-04-06,11:02:32,Dinner,BK,"[('Pancake', 1), ('Eggs', 3), ('Cereal', 6), (...",223.75,-37.814846,144.950625,0,10.086,15.021940
233,ORDX04792,2018-08-04,15:05:54,Breakfast,BK,"[('Chicken', 4), ('Burger', 1), ('Steak', 6)]",429.00,-37.803524,144.949886,0,8.793,16.779613
243,ORDK08426,2018-01-08,08:10:08,Dinner,BK,"[('Coffee', 8), ('Cereal', 4), ('Eggs', 3)]",210.00,-37.808679,145.006707,1,3.829,3.955939
247,ORDY02965,2018-04-26,11:43:05,Lunch,TP,"[('Eggs', 7), ('Cereal', 4)]",238.00,-37.819053,144.965513,0,7.422,10.218993
257,ORDB07081,2018-06-26,13:44:47,Dinner,TP,"[('Burger', 4), ('Fries', 7), ('Salad', 6), ('...",625.20,-37.802612,144.970545,0,9.764,13.477806
259,ORDK09411,2018-08-25,15:46:28,Dinner,BK,"[('Burger', 1), ('Steak', 9), ('Chicken', 9)]",724.00,-37.824554,144.946887,0,9.586,18.217519
265,ORDC04323,2018-12-19,19:39:43,Breakfast,NS,"[('Salmon', 2), ('Pasta', 10), ('Shrimp', 7)]",735.00,-37.821143,144.954898,0,9.436,15.438976
269,ORDZ02463,2018-05-25,12:43:56,Dinner,NS,"[('Salad', 3), ('Steak', 9)]",456.60,-37.824991,144.949411,0,10.243,15.312055
285,ORDZ06123,2018-04-10,11:12:40,Lunch,NS,"[('Eggs', 1), ('Coffee', 10), ('Cereal', 10), ...",355.50,-37.802651,144.945577,0,8.600,13.303507
287,ORDI00713,2018-11-11,18:28:43,Lunch,NS,"[('Salmon', 5), ('Fish&Chips', 3)]",310.00,-37.803123,144.961601,0,7.165,15.117966
295,ORDI05249,2018-02-21,09:41:24,Dinner,NS,"[('Eggs', 2), ('Pancake', 7), ('Coffee', 7)]",266.25,-37.814928,144.999836,0,9.938,15.054007
326,ORDJ00353,2018-01-23,08:40:33,Lunch,TP,"[('Pancake', 7), ('Eggs', 1)]",191.75,-37.814942,144.960603,0,8.229,10.922235
340,ORDC03807,2018-06-19,13:34:38,Dinner,NS,"[('Steak', 2), ('Chicken', 6), ('Fries', 10), ...",643.00,-37.824644,145.005777,0,11.158,16.652347
343,ORDC01373,2018-06-17,13:24:30,Breakfast,NS,"[('Burger', 8), ('Fries', 5), ('Chicken', 8), ...",982.20,-37.802534,144.964587,0,6.822,14.365069
344,ORDB10841,2018-07-10,14:15:12,Breakfast,TP,"[('Burger', 3), ('Salad', 5)]",179.00,-37.824700,144.984722,0,8.917,12.323881
406,ORDJ02429,2018-11-25,18:49:00,Lunch,TP,"[('Fish&Chips', 2), ('Pasta', 3)]",152.50,-37.820867,144.982362,0,9.014,14.498447
420,ORDJ02149,2018-10-18,17:38:01,Lunch,TP,"[('Fish&Chips', 10), ('Pasta', 10), ('Shrimp',...",1180.00,-37.802571,144.948827,0,10.081,14.386339
435,ORDY04225,2018-06-18,13:34:38,Dinner,TP,"[('Steak', 2), ('Salad', 2)]",124.40,-37.814554,144.964091,0,7.991,11.537220
452,ORDA03243,2018-01-12,08:20:16,Dinner,BK,"[('Cereal', 7), ('Eggs', 7), ('Pancake', 7)]",470.75,-37.820897,144.947371,1,9.337,6.935784
463,ORDZ01150,2018-12-03,19:09:17,Lunch,NS,"[('Shrimp', 2), ('Fish&Chips', 3)]",213.00,-37.818574,144.966275,0,8.536,15.337476
468,ORDJ09311,2018-05-28,12:54:05,Breakfast,TP,"[('Burger', 3), ('Chicken', 9), ('Salad', 9), ...",805.80,-37.817548,144.933481,0,10.844,14.575940
484,ORDZ00806,2018-06-24,13:44:47,Breakfast,NS,"[('Steak', 1), ('Chicken', 8), ('Burger', 6), ...",573.00,-37.818858,144.974113,0,8.301,16.411459
485,ORDY07286,2018-12-03,19:09:17,Breakfast,TP,"[('Fish&Chips', 10), ('Pasta', 9)]",597.50,-37.816116,144.964014,0,7.796,12.530235
491,ORDY10038,2018-01-17,08:30:25,Dinner,TP,"[('Cereal', 7), ('Pancake', 9), ('Coffee', 4),...",593.25,-37.806701,144.956017,1,9.242,6.110585

In [110]:
# fixing order type with respect to time
def fix_order_type_with_respect_to_time(time, order_type):
    if (time >= '08:00:00') & (time <= '12:00:00') & (order_type != 'Breakfast'):
        order_type = 'Breakfast'
    elif (time >= '12:00:01') & (time <= '16:00:00') & (order_type != 'Lunch'):
        order_type = 'Lunch'
    elif (time >= '16:00:01') & (time <= '20:00:00') & (order_type != 'Dinner'):
        order_type = 'Dinner'
    
    return order_type

time_order_type['order_type'] = time_order_type.apply(lambda row:fix_order_type_with_respect_to_time(row['time'], row['order_type']),axis=1)
time_order_type

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
4,ORDA10328,2018-07-16,14:25:21,Lunch,BK,"[('Fries', 9), ('Salad', 8), ('Burger', 6)]",431.60,-37.805799,144.994800,0,5.102,11.231360
49,ORDX06996,2018-06-15,13:24:30,Lunch,BK,"[('Burger', 2), ('Fries', 8)]",158.00,-37.813268,144.965470,0,7.520,12.629953
75,ORDZ04960,2018-06-09,13:14:21,Lunch,NS,"[('Burger', 6), ('Chicken', 8)]",442.00,-37.818399,144.978798,0,9.109,16.502571
81,ORDC04467,2018-02-02,09:00:50,Breakfast,NS,"[('Pancake', 10), ('Cereal', 9), ('Coffee', 8)...",513.50,-37.819764,145.012797,0,11.284,16.189410
105,ORDZ08634,2018-02-15,09:21:07,Breakfast,NS,"[('Eggs', 7), ('Cereal', 9), ('Pancake', 8)]",537.00,-37.811941,144.969361,0,7.441,12.513105
116,ORDZ08328,2018-04-21,11:32:57,Breakfast,NS,"[('Coffee', 8), ('Eggs', 9), ('Cereal', 4), ('...",390.50,-37.818818,144.953376,0,9.227,16.908111
118,ORDY08030,2018-09-26,16:47:19,Dinner,TP,"[('Shrimp', 9), ('Pasta', 8), ('Fish&Chips', 2...",899.00,-37.799264,144.960783,0,10.011,13.816681
126,ORDC05978,2018-03-10,10:11:49,Breakfast,NS,"[('Pancake', 5), ('Coffee', 1), ('Cereal', 2)]",170.75,-37.822858,145.014101,0,11.710,19.117573
133,ORDB01502,2018-12-06,19:09:17,Dinner,TP,"[('Pasta', 10), ('Fish&Chips', 2), ('Salmon', ...",643.00,-37.818440,144.956745,0,8.155,13.288764
147,ORDJ03556,2018-12-01,19:09:17,Dinner,TP,"[('Pasta', 6), ('Shrimp', 9), ('Fish&Chips', 1)]",686.00,-37.808319,144.936399,0,10.529,15.613354
180,ORDK10834,2018-02-19,09:31:16,Breakfast,BK,"[('Pancake', 4), ('Eggs', 5), ('Coffee', 6)]",252.00,-37.824226,144.986689,0,6.499,11.372960
198,ORDA03989,2018-11-22,18:49:00,Dinner,BK,"[('Pasta', 10), ('Fish&Chips', 6)]",485.00,-37.821044,144.983691,0,6.549,12.772421
227,ORDJ08044,2018-04-20,11:32:57,Breakfast,TP,"[('Pancake', 4), ('Eggs', 1), ('Cereal', 10)]",329.00,-37.819002,144.952830,0,8.555,11.452001
232,ORDX05105,2018-04-06,11:02:32,Breakfast,BK,"[('Pancake', 1), ('Eggs', 3), ('Cereal', 6), (...",223.75,-37.814846,144.950625,0,10.086,15.021940
233,ORDX04792,2018-08-04,15:05:54,Lunch,BK,"[('Chicken', 4), ('Burger', 1), ('Steak', 6)]",429.00,-37.803524,144.949886,0,8.793,16.779613
243,ORDK08426,2018-01-08,08:10:08,Breakfast,BK,"[('Coffee', 8), ('Cereal', 4), ('Eggs', 3)]",210.00,-37.808679,145.006707,1,3.829,3.955939
247,ORDY02965,2018-04-26,11:43:05,Breakfast,TP,"[('Eggs', 7), ('Cereal', 4)]",238.00,-37.819053,144.965513,0,7.422,10.218993
257,ORDB07081,2018-06-26,13:44:47,Lunch,TP,"[('Burger', 4), ('Fries', 7), ('Salad', 6), ('...",625.20,-37.802612,144.970545,0,9.764,13.477806
259,ORDK09411,2018-08-25,15:46:28,Lunch,BK,"[('Burger', 1), ('Steak', 9), ('Chicken', 9)]",724.00,-37.824554,144.946887,0,9.586,18.217519
265,ORDC04323,2018-12-19,19:39:43,Dinner,NS,"[('Salmon', 2), ('Pasta', 10), ('Shrimp', 7)]",735.00,-37.821143,144.954898,0,9.436,15.438976
269,ORDZ02463,2018-05-25,12:43:56,Lunch,NS,"[('Salad', 3), ('Steak', 9)]",456.60,-37.824991,144.949411,0,10.243,15.312055
285,ORDZ06123,2018-04-10,11:12:40,Breakfast,NS,"[('Eggs', 1), ('Coffee', 10), ('Cereal', 10), ...",355.50,-37.802651,144.945577,0,8.600,13.303507
287,ORDI00713,2018-11-11,18:28:43,Dinner,NS,"[('Salmon', 5), ('Fish&Chips', 3)]",310.00,-37.803123,144.961601,0,7.165,15.117966
295,ORDI05249,2018-02-21,09:41:24,Breakfast,NS,"[('Eggs', 2), ('Pancake', 7), ('Coffee', 7)]",266.25,-37.814928,144.999836,0,9.938,15.054007
326,ORDJ00353,2018-01-23,08:40:33,Breakfast,TP,"[('Pancake', 7), ('Eggs', 1)]",191.75,-37.814942,144.960603,0,8.229,10.922235
340,ORDC03807,2018-06-19,13:34:38,Lunch,NS,"[('Steak', 2), ('Chicken', 6), ('Fries', 10), ...",643.00,-37.824644,145.005777,0,11.158,16.652347
343,ORDC01373,2018-06-17,13:24:30,Lunch,NS,"[('Burger', 8), ('Fries', 5), ('Chicken', 8), ...",982.20,-37.802534,144.964587,0,6.822,14.365069
344,ORDB10841,2018-07-10,14:15:12,Lunch,TP,"[('Burger', 3), ('Salad', 5)]",179.00,-37.824700,144.984722,0,8.917,12.323881
406,ORDJ02429,2018-11-25,18:49:00,Dinner,TP,"[('Fish&Chips', 2), ('Pasta', 3)]",152.50,-37.820867,144.982362,0,9.014,14.498447
420,ORDJ02149,2018-10-18,17:38:01,Dinner,TP,"[('Fish&Chips', 10), ('Pasta', 10), ('Shrimp',...",1180.00,-37.802571,144.948827,0,10.081,14.386339
435,ORDY04225,2018-06-18,13:34:38,Lunch,TP,"[('Steak', 2), ('Salad', 2)]",124.40,-37.814554,144.964091,0,7.991,11.537220
452,ORDA03243,2018-01-12,08:20:16,Breakfast,BK,"[('Cereal', 7), ('Eggs', 7), ('Pancake', 7)]",470.75,-37.820897,144.947371,1,9.337,6.935784
463,ORDZ01150,2018-12-03,19:09:17,Dinner,NS,"[('Shrimp', 2), ('Fish&Chips', 3)]",213.00,-37.818574,144.966275,0,8.536,15.337476
468,ORDJ09311,2018-05-28,12:54:05,Lunch,TP,"[('Burger', 3), ('Chicken', 9), ('Salad', 9), ...",805.80,-37.817548,144.933481,0,10.844,14.575940
484,ORDZ00806,2018-06-24,13:44:47,Lunch,NS,"[('Steak', 1), ('Chicken', 8), ('Burger', 6), ...",573.00,-37.818858,144.974113,0,8.301,16.411459
485,ORDY07286,2018-12-03,19:09:17,Dinner,TP,"[('Fish&Chips', 10), ('Pasta', 9)]",597.50,-37.816116,144.964014,0,7.796,12.530235
491,ORDY10038,2018-01-17,08:30:25,Breakfast,TP,"[('Cereal', 7), ('Pancake', 9), ('Coffee', 4),...",593.25,-37.806701,144.956017,1,9.242,6.110585

In [111]:
dirty_new_4 = dirty_new_3[~dirty_new_3['order_id'].isin(time_order_type['order_id'])]
len(dirty_new_4)

359

In [8]:
missing_df.shape

(500, 12)

In [9]:
missing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
order_id                   500 non-null object
date                       500 non-null object
time                       500 non-null object
order_type                 500 non-null object
branch_code                400 non-null object
order_items                500 non-null object
order_price                500 non-null float64
customer_lat               500 non-null float64
customer_lon               500 non-null float64
customerHasloyalty?        500 non-null int64
distance_to_customer_KM    450 non-null float64
delivery_fee               450 non-null float64
dtypes: float64(5), int64(1), object(6)
memory usage: 47.0+ KB

In [11]:
missing_df.head()

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDB00336,2018-11-27,18:59:09,Dinner,TP,"[('Fish&Chips', 9), ('Shrimp', 2), ('Pasta', 5)]",560.5,-37.816186,145.012942,0,12.129,16.144210
1,ORDJ03182,2018-03-30,10:52:23,Breakfast,NaN,"[('Coffee', 6), ('Cereal', 1)]",66.0,-37.810246,144.961350,0,8.501,11.384186
2,ORDC01032,2018-09-18,16:37:10,Dinner,NS,"[('Salmon', 6), ('Shrimp', 4), ('Pasta', 6), (...",837.0,-37.806882,144.957889,0,8.110,13.893630
3,ORDX03103,2018-11-21,18:38:52,Dinner,BK,"[('Shrimp', 8), ('Salmon', 9), ('Fish&Chips', ...",1188.5,-37.813348,144.935750,0,10.285,17.171047
4,ORDJ00175,2018-08-08,15:16:03,Lunch,NaN,"[('Burger', 7), ('Steak', 4)]",397.0,-37.806441,144.941329,0,NaN,13.082562

In [12]:
missing_df.describe()

,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
count,500.000000,500.000000,500.000000,500.000000,450.000000,450.000000
mean,500.571100,-37.812380,144.966818,0.064000,8.640987,13.713170
std,265.200107,0.007580,0.020441,0.244998,1.609263,2.710950
min,59.500000,-37.829848,144.926723,0.000000,3.640000,4.224023
25%,300.000000,-37.818463,144.953097,0.000000,7.744250,12.641206
50%,429.000000,-37.812833,144.963767,0.000000,8.677000,13.986931
75%,683.250000,-37.805928,144.978163,0.000000,9.665500,15.344647
max,1444.000000,-37.794547,145.018407,1.000000,13.559000,19.901359

In [ ]:
sum(missing_df['branch_code'].isnull())

In [ ]:
missing_df[missing_df['branch_code'] == 'NS']['order_id'].unique()

In [ ]:
missing_df[missing_df['order_id'].str.startswith('ORDB')]

In [ ]:
def check_branch_code(order_id, branch_code):
    if pd.isnull(branch_code):
        if order_id.startswith('ORDA') or order_id.startswith('ORDK') or order_id.startswith('ORDX'):
            return 'BK'
        elif order_id.startswith('ORDB') or order_id.startswith('ORDJ') or order_id.startswith('ORDY'):
            return 'TP'
        elif order_id.startswith('ORDC') or order_id.startswith('ORDI') or order_id.startswith('ORDZ'):
            return 'NS'
    return branch_code

missing_df['branch_code'] = missing_df.apply(lambda row:check_branch_code(row['order_id'], row['branch_code']),axis=1)

In [ ]:
# node.head()

In [ ]:
# print(node['lat'].max())
# print(node['lat'].min())
# print(node['lon'].max())
# print(node['lon'].min())

In [ ]:
outlier_df.shape

In [10]:
outlier_df.describe()

,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
count,500.00000,500.000000,500.000000,500.00000,500.000000,500.000000
mean,487.88090,-37.812460,144.968418,0.04200,8.627326,13.703572
std,264.30641,0.007714,0.020821,0.20079,1.686663,2.692274
min,51.00000,-37.836908,144.894564,0.00000,3.758000,5.354800
25%,283.68750,-37.818475,144.953418,0.00000,7.684000,12.417850
50%,448.75000,-37.812848,144.965990,0.00000,8.586500,13.947467
75%,636.52500,-37.805937,144.982151,0.00000,9.619250,15.140462
max,1486.00000,-37.791484,145.018679,1.00000,19.900000,23.909199

In [ ]:
bp = outlier_df.boxplot(figsize=(12,10))
bp

In [ ]:
# 144.9631608,-37.8142177,144.9631608,-37.8142177

outlier_df.boxplot('order_price', by='order_type', figsize=(10,6))

In [ ]:
outlier_df.boxplot('delivery_fee', by='branch_code', figsize=(12,8))

In [ ]:
outlier_df['date'] = pd.to_datetime(outlier_df['date'])
outlier_df['time'] = pd.to_datetime(outlier_df['time'])

In [ ]:
def check_for_weekend(order_date):
    day = order_date.weekday()
    if day < 5:
        return 0
    else:
        return 1

outlier_df['weekend'] = outlier_df.apply(lambda row:check_for_weekend(row['date']),axis=1)

In [ ]:
outlier_tp_branch = outlier_df[outlier_df['branch_code'] == 'TP']
outlier_bk_branch = outlier_df[outlier_df['branch_code'] == 'BK']
outlier_ns_branch = outlier_df[outlier_df['branch_code'] == 'NS']

In [ ]:
import matplotlib.pyplot as plt

fig1 = plt.figure()
ax1 = fig1.add_subplot(1, 1, 1)
n, bins, patches = ax1.hist(outlier_tp_branch['delivery_fee'], color='r')
ax1.set_xlabel('Branch TP Delivery Fee')
ax1.set_ylabel('Frequency')


fig2 = plt.figure()
ax2 = fig2.add_subplot(1, 1, 1)
n, bins, patches = ax2.hist(outlier_bk_branch['delivery_fee'])
ax2.set_xlabel('Branch BK Delivery Fee')
ax2.set_ylabel('Frequency')

fig3 = plt.figure()
ax3 = fig3.add_subplot(1, 1, 1)
n, bins, patches = ax3.hist(outlier_ns_branch['delivery_fee'], color='black')
ax3.set_xlabel('Branch NS Delivery Fee')
ax3.set_ylabel('Frequency')

In [ ]:
# outlier_tp_branch.boxplot('delivery_fee', by='order_type', figsize=(12,8))
# outlier_tp_branch.boxplot('delivery_fee', by='weekend', figsize=(12,8))
# outlier_bk_branch.boxplot('delivery_fee', by='order_type', figsize=(12,8))
# outlier_bk_branch.boxplot('delivery_fee', by='weekend', figsize=(12,8))
# outlier_ns_branch.boxplot('delivery_fee', by='order_type', figsize=(12,8))
# outlier_ns_branch.boxplot('delivery_fee', by='weekend', figsize=(12,8))

In [ ]:
outlier_df.loc[outlier_df['branch_code'] == 'TP','Predicted_Delivery_Fee'] =l0.predict(outliers[outlier_df['branch_code'] == 'TP'][['distance_to_customer_KM','weekend','order_type']])

sns.residplot(outlier_df[outlier_df['branch_code']=='TP']['Predicted_Delivery_Fee'],outlier_df[outlier_df['branch_code']=='TP']['delivery_fee'],lowess=True,line_kws={'color': 'red'} )
plt.xlabel('Fitted Values')
plt.ylabel('Fare ')
plt.title('Residual VS Fitted for Fare of Uber Type 0')

In [ ]:
outlier_df.head()

In [ ]:
outlier_df.boxplot('distance_to_customer_KM', figsize=(12,8))

In [ ]:
outlier_df.boxplot('distance_to_customer_KM', by='branch_code', figsize=(12,8))