In [41]:
import pandas as pd
import networkx as nx

In [2]:
dirty_df = pd.read_csv("./Group113_dirty_data.csv")
outlier_df = pd.read_csv("./Group113_outlier_data.csv")
missing_df = pd.read_csv("./Group113_missing_data.csv")
node = pd.read_csv("./nodes.csv")
edges = pd.read_csv("./edges.csv")
branches = pd.read_csv("./branches.csv")

In [3]:
dirty_df.describe()

,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,490.960700,-30.754358,143.504515,0.126000,8.822786,13.722854
std,258.944904,25.336872,16.299119,0.332182,1.648781,2.564382
min,43.000000,-37.840654,-37.823134,0.000000,3.562000,3.955939
25%,296.812500,-37.818644,144.950373,0.000000,7.882250,12.502573
50%,460.100000,-37.812013,144.963606,0.000000,8.872500,13.781359
75%,645.000000,-37.804556,144.982663,0.000000,9.954000,15.350428
max,1397.000000,145.015210,145.018834,1.000000,13.848000,20.370184

In [4]:
dirty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
order_id                   500 non-null object
date                       500 non-null object
time                       500 non-null object
order_type                 500 non-null object
branch_code                500 non-null object
order_items                500 non-null object
order_price                500 non-null float64
customer_lat               500 non-null float64
customer_lon               500 non-null float64
customerHasloyalty?        500 non-null int64
distance_to_customer_KM    500 non-null float64
delivery_fee               500 non-null float64
dtypes: float64(5), int64(1), object(6)
memory usage: 47.0+ KB

In [5]:
dirty_df.describe(include=['O'])

,order_id,date,time,order_type,branch_code,order_items
count,500,500,500,500,500,500
unique,500,298,72,3,6,498
top,ORDB10854,2018-11-11,18:08:27,Dinner,TP,"[('Fish&Chips', 7), ('Pasta', 3)]"
freq,1,6,13,170,174,2

In [6]:
dirty_df.head()

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDY03163,2018-09-15,16:27:02,Dinner,tp,"[('Fish&Chips', 4), ('Salmon', 7), ('Pasta', 3...",671.5,-37.815611,144.973490,0,8.318,14.140324
1,ORDB08039,2018-05-19,12:33:48,Lunch,TP,"[('Steak', 4), ('Salad', 7)]",300.4,-37.806544,145.010707,0,12.438,17.011135
2,ORDA01841,2018-08-21,15:36:20,Lunch,BK,"[('Fish&Chips', 3), ('Fries', 10), ('Chicken',...",511.0,-37.823347,144.988505,0,6.383,12.206218
3,ORDB05089,2018-03-14,10:21:58,Breakfast,TP,"[('Coffee', 3), ('Cereal', 10), ('Pancake', 10)]",475.0,-37.799659,144.970194,0,9.221,12.911713
4,ORDA10328,2018-07-16,14:25:21,Dinner,BK,"[('Fries', 9), ('Salad', 8), ('Burger', 6)]",431.6,-37.805799,144.994800,0,5.102,11.231360

In [7]:
# checking date format

mask = pd.to_datetime(dirty_df.date, format='%Y-%m-%d', errors='coerce').isna()
dirty_date = dirty_df.loc[mask, :]
dirty_date

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
30,ORDC04608,2018-24-09,16:47:19,Dinner,NS,"[('Shrimp', 10), ('Pasta', 2), ('Fish&Chips', 3)]",700.00,-37.816886,144.988144,0,9.050,15.276973
40,ORDX10324,10-01-2018,08:10:08,Breakfast,BK,"[('Eggs', 3), ('Pancake', 5), ('Cereal', 9)]",376.25,-37.806651,144.957028,1,8.296,6.822306
50,ORDJ06852,2018-23-05,12:43:56,Lunch,TP,"[('Fries', 5), ('Steak', 10), ('Burger', 4)]",634.00,-37.814628,144.983456,0,9.310,13.094294
55,ORDB05508,2018-16-10,17:27:53,Dinner,TP,"[('Pasta', 8), ('Shrimp', 5), ('Fish&Chips', 8...",1180.00,-37.822314,144.996798,0,10.154,14.085795
61,ORDB09528,2018-19-01,08:30:25,Breakfast,TP,"[('Eggs', 4), ('Coffee', 9), ('Pancake', 3)]",228.25,-37.805573,144.953490,0,9.413,11.779022
80,ORDX10265,04-11-2018,18:08:27,Dinner,BK,"[('Pasta', 6), ('Shrimp', 8), ('Fish&Chips', 7...",965.00,-37.811351,144.952810,0,8.456,17.851977
153,ORDI09232,2018-15-08,15:26:11,Lunch,NS,"[('Fries', 4), ('Steak', 2), ('Chicken', 10), ...",692.20,-37.808185,144.975624,0,7.292,12.705843
164,ORDX01295,11-11-2018,18:28:43,Dinner,BK,"[('Salmon', 8), ('Shrimp', 8), ('Pasta', 5), (...",967.50,-37.817193,144.958842,0,8.285,17.801597
166,ORDC00567,2018-17-07,14:25:21,Lunch,NS,"[('Salad', 10), ('Chicken', 6), ('Burger', 9)]",643.00,-37.808679,144.948694,0,8.809,15.180942
167,ORDI08693,2018-20-12,19:39:43,Dinner,NS,"[('Fish&Chips', 10), ('Shrimp', 5)]",620.00,-37.815358,144.936667,0,10.042,15.928873
172,ORDA02758,03-06-2018,13:04:13,Lunch,BK,"[('Chicken', 1), ('Salad', 8), ('Burger', 9)]",448.60,-37.825403,144.956963,0,8.868,17.115707
189,ORDI03974,2018-31-08,15:56:37,Lunch,NS,"[('Fries', 2), ('Chicken', 3), ('Steak', 9), (...",728.00,-37.816484,144.955836,0,8.745,14.226277
211,ORDB07098,2018-26-04,11:43:05,Breakfast,TP,"[('Cereal', 7), ('Eggs', 9)]",345.00,-37.818234,144.965229,0,7.528,10.682669
218,ORDI05818,12-11-2018,18:28:43,Dinner,NS,"[('Shrimp', 8), ('Fish&Chips', 1)]",467.00,-37.815726,144.958167,0,8.536,14.962425
231,ORDJ03417,02-02-2018,09:00:50,Breakfast,TP,"[('Cereal', 8), ('Pancake', 7), ('Eggs', 8), (...",536.25,-37.815982,144.963023,0,8.037,10.795490
236,ORDI01691,2018-14-09,16:27:02,Dinner,NS,"[('Fish&Chips', 8), ('Shrimp', 9), ('Pasta', 1...",1123.00,-37.813046,144.965930,0,7.774,13.736735
237,ORDA04082,05-03-2018,10:01:41,Breakfast,BK,"[('Cereal', 3), ('Pancake', 5)]",184.25,-37.802596,144.965176,0,7.626,12.361496
272,ORDA04225,12-12-2018,19:29:34,Dinner,BK,"[('Salmon', 1), ('Pasta', 4)]",151.00,-37.817750,144.974697,0,7.154,13.879524
286,ORDI02601,04-06-2018,13:04:13,Lunch,NS,"[('Steak', 5), ('Chicken', 6), ('Salad', 6)]",520.20,-37.806177,144.998109,0,8.973,14.694716
292,ORDK06179,03-04-2018,11:02:32,Breakfast,BK,"[('Eggs', 8), ('Coffee', 4), ('Cereal', 4)]",290.00,-37.810657,144.985294,0,5.547,10.148954
293,ORDK04561,2018-20-03,10:32:06,Breakfast,BK,"[('Cereal', 4), ('Pancake', 8)]",278.00,-37.810224,144.957822,0,8.018,13.018343
305,ORDJ02179,2018-26-08,15:46:28,Lunch,TP,"[('Steak', 9), ('Burger', 8)]",653.00,-37.811816,144.966912,0,8.511,13.579630
321,ORDI07061,2018-24-10,17:48:10,Dinner,NS,"[('Fish&Chips', 4), ('Salmon', 2), ('Shrimp', 3)]",384.00,-37.810411,144.961597,0,7.873,14.050267
354,ORDJ03887,2018-22-09,16:47:19,Dinner,TP,"[('Fish&Chips', 4), ('Pasta', 5), ('Shrimp', 4)]",493.50,-37.805357,144.943200,0,10.210,15.416232
361,ORDX07252,09-04-2018,11:12:40,Breakfast,BK,"[('Cereal', 10), ('Pancake', 3)]",282.75,-37.820741,144.978575,0,7.011,12.274570
369,ORDY05019,2018-26-01,08:50:42,Breakfast,TP,"[('Cereal', 4), ('Eggs', 3)]",150.00,-37.820386,144.953408,0,8.677,10.938105
398,ORDJ00319,2018-26-02,09:51:32,Breakfast,TP,"[('Pancake', 8), ('Coffee', 3), ('Cereal', 1)]",237.50,-37.823353,144.967193,0,7.798,10.749014
408,ORDC01615,2018-20-04,11:32:57,Breakfast,NS,"[('Coffee', 2), ('Cereal', 6)]",141.00,-37.825198,144.956885,0,9.719,14.135956
414,ORDC01426,04-11-2018,18:08:27,Dinner,NS,"[('Pasta', 10), ('Salmon', 1), ('Shrimp', 1)]",370.00,-37.818790,144.952956,0,9.244,17.075859
427,ORDZ08371,2018-23-11,18:49:00,Dinner,NS,"[('Fish&Chips', 8), ('Shrimp', 6), ('Salmon', ...",1179.50,-37.802553,144.956590,0,7.596,13.485463
429,ORDK04928,2018-24-10,17:48:10,Dinner,BK,"[('Fish&Chips', 2), ('Salmon', 6), ('Shrimp', ...",480.00,-37.820526,144.966399,0,7.934,14.967220
433,ORDX09488,02-05-2018,12:03:22,Lunch,BK,"[('Salad', 1), ('Fries', 4), ('Steak', 6), ('C...",431.20,-37.811662,144.965470,0,7.397,13.573020
436,ORDB04269,07-08-2018,15:16:03,Lunch,TP,"[('Fries', 4), ('Salad', 1)]",65.20,-37.816492,144.966926,0,7.845,11.402240
439,ORDX05550,09-07-2018,14:15:12,Lunch,BK,"[('Steak', 8), ('Burger', 7)]",577.00,-37.809355,144.974479,0,6.500,12.869336
461,ORDY02383,2018-16-01,08:20:16,Breakfast,TP,"[('Coffee', 9), ('Cereal', 2)]",109.50,-37.826228,144.995646,1,10.089,6.658349
475,ORDI05094,2018-14-06,13:24:30,Lunch,NS,"[('Burger', 7), ('Steak', 3), ('Fries', 1), ('...",484.40,-37.827855,144.984324,0,9.910,15.527013
497,ORDY01656,09-11-2018,18:18:35,Dinner,TP,"[('Fish&Chips', 2), ('Salmon', 4)]",234.00,-37.811762,144.985926,0,9.613,13.911924

In [8]:
# fixing date format
def fix_date(date_str):
    date_token = date_str.split('-')
    year = (date_token[0])
    month = (int)(date_token[1])
    date = (int)(date_token[2])
    
    if len(year) != 4:
        year,date = date,(int)(year)
    
    if month > 12:
        date,month = month,date

    if month in (4,6,9,11):
        if date >30:
            date = 30
            
    if month == 2:
        if date>28:
            date =28
    
    final_date = pd.to_datetime(str(year)+"-"+str(month)+"-"+str(date),format='%Y-%m-%d')
#     print("date string:" + date_str + "######" + " final date:" + str(final_date))
    return final_date
        
dirty_date['date']=dirty_date['date'].apply(fix_date)
dirty_date

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
30,ORDC04608,2018-09-24,16:47:19,Dinner,NS,"[('Shrimp', 10), ('Pasta', 2), ('Fish&Chips', 3)]",700.00,-37.816886,144.988144,0,9.050,15.276973
40,ORDX10324,2018-01-10,08:10:08,Breakfast,BK,"[('Eggs', 3), ('Pancake', 5), ('Cereal', 9)]",376.25,-37.806651,144.957028,1,8.296,6.822306
50,ORDJ06852,2018-05-23,12:43:56,Lunch,TP,"[('Fries', 5), ('Steak', 10), ('Burger', 4)]",634.00,-37.814628,144.983456,0,9.310,13.094294
55,ORDB05508,2018-10-16,17:27:53,Dinner,TP,"[('Pasta', 8), ('Shrimp', 5), ('Fish&Chips', 8...",1180.00,-37.822314,144.996798,0,10.154,14.085795
61,ORDB09528,2018-01-19,08:30:25,Breakfast,TP,"[('Eggs', 4), ('Coffee', 9), ('Pancake', 3)]",228.25,-37.805573,144.953490,0,9.413,11.779022
80,ORDX10265,2018-11-04,18:08:27,Dinner,BK,"[('Pasta', 6), ('Shrimp', 8), ('Fish&Chips', 7...",965.00,-37.811351,144.952810,0,8.456,17.851977
153,ORDI09232,2018-08-15,15:26:11,Lunch,NS,"[('Fries', 4), ('Steak', 2), ('Chicken', 10), ...",692.20,-37.808185,144.975624,0,7.292,12.705843
164,ORDX01295,2018-11-11,18:28:43,Dinner,BK,"[('Salmon', 8), ('Shrimp', 8), ('Pasta', 5), (...",967.50,-37.817193,144.958842,0,8.285,17.801597
166,ORDC00567,2018-07-17,14:25:21,Lunch,NS,"[('Salad', 10), ('Chicken', 6), ('Burger', 9)]",643.00,-37.808679,144.948694,0,8.809,15.180942
167,ORDI08693,2018-12-20,19:39:43,Dinner,NS,"[('Fish&Chips', 10), ('Shrimp', 5)]",620.00,-37.815358,144.936667,0,10.042,15.928873
172,ORDA02758,2018-06-03,13:04:13,Lunch,BK,"[('Chicken', 1), ('Salad', 8), ('Burger', 9)]",448.60,-37.825403,144.956963,0,8.868,17.115707
189,ORDI03974,2018-08-31,15:56:37,Lunch,NS,"[('Fries', 2), ('Chicken', 3), ('Steak', 9), (...",728.00,-37.816484,144.955836,0,8.745,14.226277
211,ORDB07098,2018-04-26,11:43:05,Breakfast,TP,"[('Cereal', 7), ('Eggs', 9)]",345.00,-37.818234,144.965229,0,7.528,10.682669
218,ORDI05818,2018-11-12,18:28:43,Dinner,NS,"[('Shrimp', 8), ('Fish&Chips', 1)]",467.00,-37.815726,144.958167,0,8.536,14.962425
231,ORDJ03417,2018-02-02,09:00:50,Breakfast,TP,"[('Cereal', 8), ('Pancake', 7), ('Eggs', 8), (...",536.25,-37.815982,144.963023,0,8.037,10.795490
236,ORDI01691,2018-09-14,16:27:02,Dinner,NS,"[('Fish&Chips', 8), ('Shrimp', 9), ('Pasta', 1...",1123.00,-37.813046,144.965930,0,7.774,13.736735
237,ORDA04082,2018-03-05,10:01:41,Breakfast,BK,"[('Cereal', 3), ('Pancake', 5)]",184.25,-37.802596,144.965176,0,7.626,12.361496
272,ORDA04225,2018-12-12,19:29:34,Dinner,BK,"[('Salmon', 1), ('Pasta', 4)]",151.00,-37.817750,144.974697,0,7.154,13.879524
286,ORDI02601,2018-06-04,13:04:13,Lunch,NS,"[('Steak', 5), ('Chicken', 6), ('Salad', 6)]",520.20,-37.806177,144.998109,0,8.973,14.694716
292,ORDK06179,2018-04-03,11:02:32,Breakfast,BK,"[('Eggs', 8), ('Coffee', 4), ('Cereal', 4)]",290.00,-37.810657,144.985294,0,5.547,10.148954
293,ORDK04561,2018-03-20,10:32:06,Breakfast,BK,"[('Cereal', 4), ('Pancake', 8)]",278.00,-37.810224,144.957822,0,8.018,13.018343
305,ORDJ02179,2018-08-26,15:46:28,Lunch,TP,"[('Steak', 9), ('Burger', 8)]",653.00,-37.811816,144.966912,0,8.511,13.579630
321,ORDI07061,2018-10-24,17:48:10,Dinner,NS,"[('Fish&Chips', 4), ('Salmon', 2), ('Shrimp', 3)]",384.00,-37.810411,144.961597,0,7.873,14.050267
354,ORDJ03887,2018-09-22,16:47:19,Dinner,TP,"[('Fish&Chips', 4), ('Pasta', 5), ('Shrimp', 4)]",493.50,-37.805357,144.943200,0,10.210,15.416232
361,ORDX07252,2018-04-09,11:12:40,Breakfast,BK,"[('Cereal', 10), ('Pancake', 3)]",282.75,-37.820741,144.978575,0,7.011,12.274570
369,ORDY05019,2018-01-26,08:50:42,Breakfast,TP,"[('Cereal', 4), ('Eggs', 3)]",150.00,-37.820386,144.953408,0,8.677,10.938105
398,ORDJ00319,2018-02-26,09:51:32,Breakfast,TP,"[('Pancake', 8), ('Coffee', 3), ('Cereal', 1)]",237.50,-37.823353,144.967193,0,7.798,10.749014
408,ORDC01615,2018-04-20,11:32:57,Breakfast,NS,"[('Coffee', 2), ('Cereal', 6)]",141.00,-37.825198,144.956885,0,9.719,14.135956
414,ORDC01426,2018-11-04,18:08:27,Dinner,NS,"[('Pasta', 10), ('Salmon', 1), ('Shrimp', 1)]",370.00,-37.818790,144.952956,0,9.244,17.075859
427,ORDZ08371,2018-11-23,18:49:00,Dinner,NS,"[('Fish&Chips', 8), ('Shrimp', 6), ('Salmon', ...",1179.50,-37.802553,144.956590,0,7.596,13.485463
429,ORDK04928,2018-10-24,17:48:10,Dinner,BK,"[('Fish&Chips', 2), ('Salmon', 6), ('Shrimp', ...",480.00,-37.820526,144.966399,0,7.934,14.967220
433,ORDX09488,2018-05-02,12:03:22,Lunch,BK,"[('Salad', 1), ('Fries', 4), ('Steak', 6), ('C...",431.20,-37.811662,144.965470,0,7.397,13.573020
436,ORDB04269,2018-08-07,15:16:03,Lunch,TP,"[('Fries', 4), ('Salad', 1)]",65.20,-37.816492,144.966926,0,7.845,11.402240
439,ORDX05550,2018-07-09,14:15:12,Lunch,BK,"[('Steak', 8), ('Burger', 7)]",577.00,-37.809355,144.974479,0,6.500,12.869336
461,ORDY02383,2018-01-16,08:20:16,Breakfast,TP,"[('Coffee', 9), ('Cereal', 2)]",109.50,-37.826228,144.995646,1,10.089,6.658349
475,ORDI05094,2018-06-14,13:24:30,Lunch,NS,"[('Burger', 7), ('Steak', 3), ('Fries', 1), ('...",484.40,-37.827855,144.984324,0,9.910,15.527013
497,ORDY01656,2018-11-09,18:18:35,Dinner,TP,"[('Fish&Chips', 2), ('Salmon', 4)]",234.00,-37.811762,144.985926,0,9.613,13.911924

In [9]:
dirty_new = dirty_df[~dirty_df['order_id'].isin(dirty_date['order_id'])]

In [10]:
len(dirty_new)

463

In [11]:
# check time format

mask1 = pd.to_datetime(dirty_new.time, format='%H:%M:%S', errors='coerce').isna()
dirty_time = dirty_new.loc[mask1, :]
dirty_time

Empty DataFrame
Columns: [order_id, date, time, order_type, branch_code, order_items, order_price, customer_lat, customer_lon, customerHasloyalty?, distance_to_customer_KM, delivery_fee]
Index: []

In [12]:
# checking branch code
dirty_new.branch_code.value_counts()

TP    162
BK    140
NS    135
tp     12
ns      7
bk      7
Name: branch_code, dtype: int64

In [13]:
dirty_bc = dirty_new[(dirty_new.branch_code == 'tp') | (dirty_new.branch_code == 'bk') |(dirty_new.branch_code == 'ns')] 
dirty_bc

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDY03163,2018-09-15,16:27:02,Dinner,tp,"[('Fish&Chips', 4), ('Salmon', 7), ('Pasta', 3...",671.50,-37.815611,144.973490,0,8.318,14.140324
13,ORDK00414,2018-06-27,13:44:47,Lunch,tp,"[('Salad', 8), ('Fries', 9), ('Chicken', 3)]",341.60,-37.818929,144.973552,0,7.245,13.235827
28,ORDJ00251,2018-12-11,19:19:26,Dinner,ns,"[('Fish&Chips', 1), ('Shrimp', 1), ('Pasta', 8)]",309.00,-37.822558,144.950131,0,8.647,12.832132
98,ORDB04798,2018-06-03,13:04:13,Lunch,bk,"[('Burger', 1), ('Chicken', 10), ('Fries', 7),...",607.00,-37.816684,144.970055,0,7.984,12.902967
107,ORDA10203,2018-04-19,11:32:57,Breakfast,tp,"[('Eggs', 4), ('Cereal', 1), ('Pancake', 6), (...",314.50,-37.813404,144.974073,0,6.806,11.718539
132,ORDJ06622,2018-05-29,12:54:05,Lunch,ns,"[('Chicken', 7), ('Fries', 5), ('Steak', 6), (...",970.60,-37.816534,145.008947,0,11.625,14.418109
154,ORDK05097,2018-07-23,14:45:38,Lunch,ns,"[('Salad', 4), ('Steak', 3), ('Fries', 9)]",311.80,-37.823694,145.013756,0,4.828,10.575452
188,ORDB08700,2018-08-22,15:46:28,Lunch,tp,"[('Fries', 5), ('Steak', 6)]",330.00,-37.820425,144.976665,0,8.511,11.914621
235,ORDB03709,2018-07-07,14:15:12,Lunch,tp,"[('Chicken', 7), ('Steak', 8)]",584.00,-37.818630,145.016065,0,12.751,17.293692
239,ORDI09901,2018-07-01,13:54:55,Lunch,ns,"[('Steak', 1), ('Chicken', 1)]",77.00,-37.813624,144.941056,0,9.513,16.408801
241,ORDI02277,2018-12-10,19:19:26,Dinner,tp,"[('Shrimp', 1), ('Pasta', 5), ('Fish&Chips', 8)]",471.50,-37.811683,145.012088,0,10.510,16.595504
264,ORDY05491,2018-08-07,15:16:03,Lunch,bk,"[('Salad', 6), ('Burger', 8)]",351.20,-37.809310,144.952641,0,9.126,12.207146
267,ORDC06790,2018-06-15,13:24:30,Lunch,bk,"[('Steak', 4), ('Fries', 7), ('Burger', 3), ('...",507.00,-37.813495,144.965648,0,7.843,13.399540
298,ORDI09369,2018-08-22,15:46:28,Lunch,bk,"[('Steak', 2), ('Fries', 5), ('Salad', 1), ('B...",641.20,-37.809117,144.936871,0,10.109,15.867473
352,ORDI05109,2018-07-21,14:35:29,Lunch,bk,"[('Salad', 5), ('Fries', 4), ('Burger', 5), ('...",739.00,-37.821238,145.011546,0,11.462,18.969606
360,ORDC08852,2018-08-10,15:16:03,Lunch,bk,"[('Fries', 10), ('Salad', 8), ('Chicken', 1), ...",804.60,-37.805571,144.941830,0,9.306,14.440601
364,ORDJ10565,2018-11-03,18:08:27,Dinner,ns,"[('Salmon', 9), ('Shrimp', 3)]",531.00,-37.803167,145.004497,0,12.079,17.448913
387,ORDA10246,2018-10-04,17:07:36,Dinner,ns,"[('Salmon', 3), ('Fish&Chips', 1), ('Pasta', 4)]",268.00,-37.806691,144.945277,0,9.317,17.072313
401,ORDA00753,2018-08-12,15:26:11,Lunch,ns,"[('Fries', 3), ('Burger', 3), ('Steak', 6), ('...",873.80,-37.810412,144.988266,0,5.280,14.001156
411,ORDZ03961,2018-05-08,12:13:31,Lunch,bk,"[('Fries', 5), ('Burger', 6)]",246.00,-37.804307,145.011153,0,10.132,15.637220
415,ORDJ02792,2018-10-08,17:17:44,Dinner,tp,"[('Salmon', 7), ('Fish&Chips', 4)]",427.00,-37.819402,144.961118,0,7.633,12.138353
425,ORDA07342,2018-04-28,11:53:14,Breakfast,tp,"[('Coffee', 8), ('Pancake', 2), ('Cereal', 2),...",260.50,-37.816005,144.963555,0,7.878,14.617005
426,ORDK00329,2018-02-18,09:31:16,Breakfast,tp,"[('Coffee', 1), ('Cereal', 10), ('Pancake', 9)]",435.75,-37.819611,144.993726,0,5.451,13.033753
450,ORDC06324,2018-11-04,18:08:27,Dinner,tp,"[('Pasta', 8), ('Salmon', 4)]",384.00,-37.818785,144.952466,0,9.285,17.937408
479,ORDA04385,2018-10-23,17:48:10,Dinner,tp,"[('Pasta', 8), ('Fish&Chips', 10)]",570.00,-37.807279,144.948608,0,8.825,15.572730
487,ORDJ08784,2018-01-09,08:10:08,Breakfast,tp,"[('Coffee', 8), ('Cereal', 9), ('Eggs', 6), ('...",599.25,-37.812935,144.960171,1,8.424,6.029875

In [14]:
# fixing branch code
dirty_bc['branch_code'] = dirty_bc.apply(lambda row: row['branch_code'].upper(),axis=1)
dirty_bc

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDY03163,2018-09-15,16:27:02,Dinner,TP,"[('Fish&Chips', 4), ('Salmon', 7), ('Pasta', 3...",671.50,-37.815611,144.973490,0,8.318,14.140324
13,ORDK00414,2018-06-27,13:44:47,Lunch,TP,"[('Salad', 8), ('Fries', 9), ('Chicken', 3)]",341.60,-37.818929,144.973552,0,7.245,13.235827
28,ORDJ00251,2018-12-11,19:19:26,Dinner,NS,"[('Fish&Chips', 1), ('Shrimp', 1), ('Pasta', 8)]",309.00,-37.822558,144.950131,0,8.647,12.832132
98,ORDB04798,2018-06-03,13:04:13,Lunch,BK,"[('Burger', 1), ('Chicken', 10), ('Fries', 7),...",607.00,-37.816684,144.970055,0,7.984,12.902967
107,ORDA10203,2018-04-19,11:32:57,Breakfast,TP,"[('Eggs', 4), ('Cereal', 1), ('Pancake', 6), (...",314.50,-37.813404,144.974073,0,6.806,11.718539
132,ORDJ06622,2018-05-29,12:54:05,Lunch,NS,"[('Chicken', 7), ('Fries', 5), ('Steak', 6), (...",970.60,-37.816534,145.008947,0,11.625,14.418109
154,ORDK05097,2018-07-23,14:45:38,Lunch,NS,"[('Salad', 4), ('Steak', 3), ('Fries', 9)]",311.80,-37.823694,145.013756,0,4.828,10.575452
188,ORDB08700,2018-08-22,15:46:28,Lunch,TP,"[('Fries', 5), ('Steak', 6)]",330.00,-37.820425,144.976665,0,8.511,11.914621
235,ORDB03709,2018-07-07,14:15:12,Lunch,TP,"[('Chicken', 7), ('Steak', 8)]",584.00,-37.818630,145.016065,0,12.751,17.293692
239,ORDI09901,2018-07-01,13:54:55,Lunch,NS,"[('Steak', 1), ('Chicken', 1)]",77.00,-37.813624,144.941056,0,9.513,16.408801
241,ORDI02277,2018-12-10,19:19:26,Dinner,TP,"[('Shrimp', 1), ('Pasta', 5), ('Fish&Chips', 8)]",471.50,-37.811683,145.012088,0,10.510,16.595504
264,ORDY05491,2018-08-07,15:16:03,Lunch,BK,"[('Salad', 6), ('Burger', 8)]",351.20,-37.809310,144.952641,0,9.126,12.207146
267,ORDC06790,2018-06-15,13:24:30,Lunch,BK,"[('Steak', 4), ('Fries', 7), ('Burger', 3), ('...",507.00,-37.813495,144.965648,0,7.843,13.399540
298,ORDI09369,2018-08-22,15:46:28,Lunch,BK,"[('Steak', 2), ('Fries', 5), ('Salad', 1), ('B...",641.20,-37.809117,144.936871,0,10.109,15.867473
352,ORDI05109,2018-07-21,14:35:29,Lunch,BK,"[('Salad', 5), ('Fries', 4), ('Burger', 5), ('...",739.00,-37.821238,145.011546,0,11.462,18.969606
360,ORDC08852,2018-08-10,15:16:03,Lunch,BK,"[('Fries', 10), ('Salad', 8), ('Chicken', 1), ...",804.60,-37.805571,144.941830,0,9.306,14.440601
364,ORDJ10565,2018-11-03,18:08:27,Dinner,NS,"[('Salmon', 9), ('Shrimp', 3)]",531.00,-37.803167,145.004497,0,12.079,17.448913
387,ORDA10246,2018-10-04,17:07:36,Dinner,NS,"[('Salmon', 3), ('Fish&Chips', 1), ('Pasta', 4)]",268.00,-37.806691,144.945277,0,9.317,17.072313
401,ORDA00753,2018-08-12,15:26:11,Lunch,NS,"[('Fries', 3), ('Burger', 3), ('Steak', 6), ('...",873.80,-37.810412,144.988266,0,5.280,14.001156
411,ORDZ03961,2018-05-08,12:13:31,Lunch,BK,"[('Fries', 5), ('Burger', 6)]",246.00,-37.804307,145.011153,0,10.132,15.637220
415,ORDJ02792,2018-10-08,17:17:44,Dinner,TP,"[('Salmon', 7), ('Fish&Chips', 4)]",427.00,-37.819402,144.961118,0,7.633,12.138353
425,ORDA07342,2018-04-28,11:53:14,Breakfast,TP,"[('Coffee', 8), ('Pancake', 2), ('Cereal', 2),...",260.50,-37.816005,144.963555,0,7.878,14.617005
426,ORDK00329,2018-02-18,09:31:16,Breakfast,TP,"[('Coffee', 1), ('Cereal', 10), ('Pancake', 9)]",435.75,-37.819611,144.993726,0,5.451,13.033753
450,ORDC06324,2018-11-04,18:08:27,Dinner,TP,"[('Pasta', 8), ('Salmon', 4)]",384.00,-37.818785,144.952466,0,9.285,17.937408
479,ORDA04385,2018-10-23,17:48:10,Dinner,TP,"[('Pasta', 8), ('Fish&Chips', 10)]",570.00,-37.807279,144.948608,0,8.825,15.572730
487,ORDJ08784,2018-01-09,08:10:08,Breakfast,TP,"[('Coffee', 8), ('Cereal', 9), ('Eggs', 6), ('...",599.25,-37.812935,144.960171,1,8.424,6.029875

In [15]:
# fixing branch code
def check_branch_code(order_id, branch_code):
    if order_id.startswith('ORDA') or order_id.startswith('ORDK') or order_id.startswith('ORDX'):
        return 'BK'
    elif order_id.startswith('ORDB') or order_id.startswith('ORDJ') or order_id.startswith('ORDY'):
        return 'TP'
    elif order_id.startswith('ORDC') or order_id.startswith('ORDI') or order_id.startswith('ORDZ'):
        return 'NS'
    return branch_code

In [16]:
dirty_bc['branch_code'] = dirty_bc.apply(lambda row:check_branch_code(row['order_id'], row['branch_code']),axis=1)
dirty_bc

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDY03163,2018-09-15,16:27:02,Dinner,TP,"[('Fish&Chips', 4), ('Salmon', 7), ('Pasta', 3...",671.50,-37.815611,144.973490,0,8.318,14.140324
13,ORDK00414,2018-06-27,13:44:47,Lunch,BK,"[('Salad', 8), ('Fries', 9), ('Chicken', 3)]",341.60,-37.818929,144.973552,0,7.245,13.235827
28,ORDJ00251,2018-12-11,19:19:26,Dinner,TP,"[('Fish&Chips', 1), ('Shrimp', 1), ('Pasta', 8)]",309.00,-37.822558,144.950131,0,8.647,12.832132
98,ORDB04798,2018-06-03,13:04:13,Lunch,TP,"[('Burger', 1), ('Chicken', 10), ('Fries', 7),...",607.00,-37.816684,144.970055,0,7.984,12.902967
107,ORDA10203,2018-04-19,11:32:57,Breakfast,BK,"[('Eggs', 4), ('Cereal', 1), ('Pancake', 6), (...",314.50,-37.813404,144.974073,0,6.806,11.718539
132,ORDJ06622,2018-05-29,12:54:05,Lunch,TP,"[('Chicken', 7), ('Fries', 5), ('Steak', 6), (...",970.60,-37.816534,145.008947,0,11.625,14.418109
154,ORDK05097,2018-07-23,14:45:38,Lunch,BK,"[('Salad', 4), ('Steak', 3), ('Fries', 9)]",311.80,-37.823694,145.013756,0,4.828,10.575452
188,ORDB08700,2018-08-22,15:46:28,Lunch,TP,"[('Fries', 5), ('Steak', 6)]",330.00,-37.820425,144.976665,0,8.511,11.914621
235,ORDB03709,2018-07-07,14:15:12,Lunch,TP,"[('Chicken', 7), ('Steak', 8)]",584.00,-37.818630,145.016065,0,12.751,17.293692
239,ORDI09901,2018-07-01,13:54:55,Lunch,NS,"[('Steak', 1), ('Chicken', 1)]",77.00,-37.813624,144.941056,0,9.513,16.408801
241,ORDI02277,2018-12-10,19:19:26,Dinner,NS,"[('Shrimp', 1), ('Pasta', 5), ('Fish&Chips', 8)]",471.50,-37.811683,145.012088,0,10.510,16.595504
264,ORDY05491,2018-08-07,15:16:03,Lunch,TP,"[('Salad', 6), ('Burger', 8)]",351.20,-37.809310,144.952641,0,9.126,12.207146
267,ORDC06790,2018-06-15,13:24:30,Lunch,NS,"[('Steak', 4), ('Fries', 7), ('Burger', 3), ('...",507.00,-37.813495,144.965648,0,7.843,13.399540
298,ORDI09369,2018-08-22,15:46:28,Lunch,NS,"[('Steak', 2), ('Fries', 5), ('Salad', 1), ('B...",641.20,-37.809117,144.936871,0,10.109,15.867473
352,ORDI05109,2018-07-21,14:35:29,Lunch,NS,"[('Salad', 5), ('Fries', 4), ('Burger', 5), ('...",739.00,-37.821238,145.011546,0,11.462,18.969606
360,ORDC08852,2018-08-10,15:16:03,Lunch,NS,"[('Fries', 10), ('Salad', 8), ('Chicken', 1), ...",804.60,-37.805571,144.941830,0,9.306,14.440601
364,ORDJ10565,2018-11-03,18:08:27,Dinner,TP,"[('Salmon', 9), ('Shrimp', 3)]",531.00,-37.803167,145.004497,0,12.079,17.448913
387,ORDA10246,2018-10-04,17:07:36,Dinner,BK,"[('Salmon', 3), ('Fish&Chips', 1), ('Pasta', 4)]",268.00,-37.806691,144.945277,0,9.317,17.072313
401,ORDA00753,2018-08-12,15:26:11,Lunch,BK,"[('Fries', 3), ('Burger', 3), ('Steak', 6), ('...",873.80,-37.810412,144.988266,0,5.280,14.001156
411,ORDZ03961,2018-05-08,12:13:31,Lunch,NS,"[('Fries', 5), ('Burger', 6)]",246.00,-37.804307,145.011153,0,10.132,15.637220
415,ORDJ02792,2018-10-08,17:17:44,Dinner,TP,"[('Salmon', 7), ('Fish&Chips', 4)]",427.00,-37.819402,144.961118,0,7.633,12.138353
425,ORDA07342,2018-04-28,11:53:14,Breakfast,BK,"[('Coffee', 8), ('Pancake', 2), ('Cereal', 2),...",260.50,-37.816005,144.963555,0,7.878,14.617005
426,ORDK00329,2018-02-18,09:31:16,Breakfast,BK,"[('Coffee', 1), ('Cereal', 10), ('Pancake', 9)]",435.75,-37.819611,144.993726,0,5.451,13.033753
450,ORDC06324,2018-11-04,18:08:27,Dinner,NS,"[('Pasta', 8), ('Salmon', 4)]",384.00,-37.818785,144.952466,0,9.285,17.937408
479,ORDA04385,2018-10-23,17:48:10,Dinner,BK,"[('Pasta', 8), ('Fish&Chips', 10)]",570.00,-37.807279,144.948608,0,8.825,15.572730
487,ORDJ08784,2018-01-09,08:10:08,Breakfast,TP,"[('Coffee', 8), ('Cereal', 9), ('Eggs', 6), ('...",599.25,-37.812935,144.960171,1,8.424,6.029875

In [17]:
dirty_new_1 = dirty_new[~dirty_new['order_id'].isin(dirty_bc['order_id'])]
len(dirty_new_1)

437

I am not checking it on the extracted data as we will anyway run it on the entire data

In [ ]:
# dirty_new_1[((dirty_new_1.order_id.startswith('ORDA') or dirty_new_1.order_id.startswith('ORDK') or dirty_new_1.order_id.startswith('ORDX')) \
#             and (dirty_new_1.branch_code != 'BK'))|\
#             ((dirty_new_1.order_id.startswith('ORDB') or dirty_new_1.order_id.startswith('ORDJ') or dirty_new_1.order_id.startswith('ORDY')) \
#             and (dirty_new_1.branch_code != 'TP'))|\
#             ((dirty_new_1.order_id.startswith('ORDC') or dirty_new_1.order_id.startswith('ORDI') or dirty_new_1.order_id.startswith('ORDZ')) \
#             and (dirty_new_1.branch_code != 'NS'))]

In [18]:

# checking interchange latitude longitude
interchanged_df = dirty_new_1[(dirty_new_1['customer_lat'] > 0) & (dirty_new_1['customer_lon'] < 0)]

idx = (interchanged_df['customer_lat'] > 0) & (interchanged_df['customer_lon'] < 0)

interchanged_df

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
376,ORDX10477,2018-08-06,15:05:54,Lunch,BK,"[('Steak', 3), ('Burger', 7), ('Salad', 4), ('...",540.8,144.970391,-37.823134,0,7.938,13.555022
385,ORDJ02390,2018-11-05,18:08:27,Dinner,TP,"[('Pasta', 6), ('Salmon', 10), ('Fish&Chips', ...",1160.0,144.963469,-37.815258,0,7.906,12.166725
459,ORDA05768,2018-05-19,12:33:48,Lunch,BK,"[('Steak', 5), ('Salad', 10), ('Fries', 1), ('...",817.0,144.962735,-37.803438,0,7.742,16.251153
460,ORDZ08685,2018-12-06,19:19:26,Dinner,NS,"[('Salmon', 8), ('Pasta', 5)]",465.5,145.015210,-37.810352,0,10.826,16.713025

In [19]:
# fixing latitude longitude
interchanged_df.loc[idx,['customer_lat','customer_lon']] = interchanged_df.loc[idx,['customer_lon','customer_lat']].values
interchanged_df

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
376,ORDX10477,2018-08-06,15:05:54,Lunch,BK,"[('Steak', 3), ('Burger', 7), ('Salad', 4), ('...",540.8,-37.823134,144.970391,0,7.938,13.555022
385,ORDJ02390,2018-11-05,18:08:27,Dinner,TP,"[('Pasta', 6), ('Salmon', 10), ('Fish&Chips', ...",1160.0,-37.815258,144.963469,0,7.906,12.166725
459,ORDA05768,2018-05-19,12:33:48,Lunch,BK,"[('Steak', 5), ('Salad', 10), ('Fries', 1), ('...",817.0,-37.803438,144.962735,0,7.742,16.251153
460,ORDZ08685,2018-12-06,19:19:26,Dinner,NS,"[('Salmon', 8), ('Pasta', 5)]",465.5,-37.810352,145.015210,0,10.826,16.713025

In [20]:
dirty_new_2 = dirty_new_1[~dirty_new_1['order_id'].isin(interchanged_df['order_id'])]
len(dirty_new_2)

433

In [21]:

# checking positive latitude 
positive_lat_to_negative = dirty_new_2[dirty_new_2['customer_lat'] > 0]
positive_lat_to_negative

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
11,ORDJ04320,2018-06-29,13:54:55,Lunch,TP,"[('Fries', 3), ('Steak', 8)]",396.00,37.806172,144.944749,0,10.048,13.321015
15,ORDC08350,2018-04-04,11:02:32,Breakfast,NS,"[('Pancake', 4), ('Eggs', 10), ('Cereal', 4), ...",446.00,37.817408,144.945824,0,9.435,14.395185
27,ORDK05494,2018-11-05,18:08:27,Dinner,BK,"[('Shrimp', 5), ('Fish&Chips', 1)]",305.00,37.819857,144.951875,0,8.922,16.059124
31,ORDZ03638,2018-11-07,18:18:35,Dinner,NS,"[('Salmon', 7), ('Pasta', 9), ('Shrimp', 10), ...",1354.50,37.811267,144.961717,0,7.744,13.626144
34,ORDZ02029,2018-05-04,12:03:22,Lunch,NS,"[('Burger', 6), ('Salad', 7), ('Fries', 9)]",414.40,37.800157,144.935366,0,6.636,12.369558
45,ORDY08080,2018-11-28,18:59:09,Dinner,TP,"[('Shrimp', 6), ('Fish&Chips', 7)]",569.00,37.805046,144.967249,0,9.401,13.727322
48,ORDC06702,2018-05-12,12:13:31,Lunch,NS,"[('Salad', 2), ('Fries', 8), ('Burger', 2)]",192.40,37.802282,144.962224,0,7.018,14.787773
57,ORDZ08200,2018-01-03,08:00:00,Breakfast,NS,"[('Coffee', 7), ('Eggs', 1), ('Cereal', 4)]",158.50,37.800937,145.015453,1,10.778,8.221095
63,ORDC09613,2018-08-12,15:26:11,Lunch,NS,"[('Chicken', 8), ('Fries', 8), ('Steak', 5), (...",738.80,37.818178,144.964958,0,8.504,15.937463
67,ORDZ00943,2018-04-06,11:02:32,Breakfast,NS,"[('Pancake', 7), ('Cereal', 6), ('Eggs', 6)]",427.75,37.812266,144.983811,0,8.327,13.559941
90,ORDB01052,2018-02-24,09:41:24,Breakfast,TP,"[('Eggs', 1), ('Cereal', 4), ('Coffee', 5), ('...",216.25,37.811030,144.963657,0,8.497,12.011636
112,ORDY06164,2018-09-10,16:16:54,Dinner,TP,"[('Salmon', 5), ('Shrimp', 2), ('Pasta', 4), (...",493.00,37.807381,144.998196,0,11.141,14.930649
114,ORDC08092,2018-09-10,16:16:54,Dinner,NS,"[('Salmon', 2), ('Shrimp', 7)]",460.00,37.807797,144.973202,0,7.074,12.950579
119,ORDI03100,2018-01-05,08:00:00,Breakfast,NS,"[('Coffee', 6), ('Pancake', 6), ('Cereal', 10)...",532.50,37.802519,144.992267,1,8.365,6.707984
124,ORDB02586,2018-11-07,18:18:35,Dinner,TP,"[('Shrimp', 3), ('Pasta', 9)]",409.50,37.809350,144.960834,0,8.612,12.924069
125,ORDZ05256,2018-09-28,16:57:27,Dinner,NS,"[('Pasta', 4), ('Fish&Chips', 7)]",355.00,37.810001,144.944741,0,9.136,15.363535
137,ORDY00005,2018-04-03,11:02:32,Breakfast,TP,"[('Cereal', 3), ('Coffee', 5), ('Pancake', 9),...",406.75,37.810429,144.984431,0,9.589,11.790980
206,ORDB03568,2018-07-26,14:45:38,Lunch,TP,"[('Burger', 1), ('Steak', 9), ('Fries', 7)]",520.00,37.806235,144.933584,0,10.862,13.867534
219,ORDI05565,2018-07-23,14:45:38,Lunch,NS,"[('Fries', 10), ('Steak', 3), ('Salad', 7), ('...",503.40,37.812003,144.990883,0,8.881,14.564758
234,ORDY00851,2018-03-11,10:11:49,Breakfast,TP,"[('Eggs', 10), ('Pancake', 6), ('Coffee', 1)]",373.00,37.803830,144.963397,0,9.319,13.357791
246,ORDZ05833,2018-12-20,19:39:43,Dinner,NS,"[('Salmon', 9), ('Shrimp', 5), ('Fish&Chips', 8)]",919.00,37.814592,144.959722,0,8.290,14.472206
301,ORDA05178,2018-03-10,10:11:49,Breakfast,BK,"[('Coffee', 1), ('Eggs', 5), ('Cereal', 4), ('...",322.75,37.823279,144.978495,0,7.165,14.418280
313,ORDB07128,2018-03-06,10:01:41,Breakfast,TP,"[('Cereal', 10), ('Eggs', 8)]",386.00,37.816026,144.982576,0,9.133,12.095391
314,ORDX01360,2018-01-05,08:00:00,Breakfast,BK,"[('Coffee', 3), ('Pancake', 5), ('Cereal', 8)]",311.75,37.813249,144.937156,1,10.095,7.387176
332,ORDJ09823,2018-04-12,11:22:49,Breakfast,TP,"[('Coffee', 1), ('Pancake', 9), ('Eggs', 9), (...",444.75,37.810037,144.964360,0,8.620,10.603949
358,ORDA07222,2018-06-07,13:14:21,Lunch,BK,"[('Fries', 2), ('Burger', 1), ('Steak', 6), ('...",679.40,37.805880,144.955990,0,8.069,13.953428
372,ORDC02052,2018-02-07,09:10:59,Breakfast,NS,"[('Eggs', 6), ('Cereal', 10), ('Pancake', 5)]",463.25,37.824416,144.989164,0,9.659,14.354491
380,ORDI08549,2018-01-24,08:40:33,Breakfast,NS,"[('Pancake', 8), ('Eggs', 7), ('Coffee', 7), (...",526.50,37.812723,144.962641,0,7.883,12.959957
386,ORDK00704,2018-08-03,15:05:54,Lunch,BK,"[('Burger', 7), ('Steak', 9), ('Salad', 8), ('...",887.60,37.814721,144.990386,0,5.430,11.135269
407,ORDY09831,2018-01-21,08:40:33,Breakfast,TP,"[('Eggs', 2), ('Pancake', 6)]",189.50,37.805083,144.963657,0,9.217,13.531902
410,ORDI06013,2018-03-16,10:21:58,Breakfast,NS,"[('Coffee', 10), ('Pancake', 3), ('Cereal', 4)]",231.75,37.813012,144.976231,0,7.907,13.387011
413,ORDI07251,2018-12-25,19:49:51,Dinner,NS,"[('Shrimp', 8), ('Fish&Chips', 9)]",747.00,37.805647,144.968215,0,6.744,12.719263
440,ORDC00777,2018-02-28,09:51:32,Breakfast,NS,"[('Eggs', 4), ('Cereal', 10)]",298.00,37.811374,144.936892,0,10.389,15.057098
454,ORDB00358,2018-10-15,17:27:53,Dinner,TP,"[('Pasta', 2), ('Salmon', 6), ('Shrimp', 1)]",355.00,37.821257,144.942430,0,9.415,13.777699
476,ORDZ03022,2018-01-10,08:10:08,Breakfast,NS,"[('Eggs', 4), ('Pancake', 5), ('Cereal', 6)]",335.25,37.806988,144.957088,1,8.157,6.130123
477,ORDA07175,2018-05-19,12:33:48,Lunch,BK,"[('Steak', 10), ('Salad', 7), ('Chicken', 8)]",826.40,37.802609,144.957187,0,8.275,16.333235
490,ORDA10116,2018-12-22,19:49:51,Dinner,BK,"[('Pasta', 1), ('Fish&Chips', 1), ('Shrimp', 9...",712.50,37.805768,144.966843,0,7.282,16.389603

In [22]:
# fixing positive latitude to negative
positive_lat_to_negative['customer_lat'] = -positive_lat_to_negative['customer_lat']
positive_lat_to_negative

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
11,ORDJ04320,2018-06-29,13:54:55,Lunch,TP,"[('Fries', 3), ('Steak', 8)]",396.00,-37.806172,144.944749,0,10.048,13.321015
15,ORDC08350,2018-04-04,11:02:32,Breakfast,NS,"[('Pancake', 4), ('Eggs', 10), ('Cereal', 4), ...",446.00,-37.817408,144.945824,0,9.435,14.395185
27,ORDK05494,2018-11-05,18:08:27,Dinner,BK,"[('Shrimp', 5), ('Fish&Chips', 1)]",305.00,-37.819857,144.951875,0,8.922,16.059124
31,ORDZ03638,2018-11-07,18:18:35,Dinner,NS,"[('Salmon', 7), ('Pasta', 9), ('Shrimp', 10), ...",1354.50,-37.811267,144.961717,0,7.744,13.626144
34,ORDZ02029,2018-05-04,12:03:22,Lunch,NS,"[('Burger', 6), ('Salad', 7), ('Fries', 9)]",414.40,-37.800157,144.935366,0,6.636,12.369558
45,ORDY08080,2018-11-28,18:59:09,Dinner,TP,"[('Shrimp', 6), ('Fish&Chips', 7)]",569.00,-37.805046,144.967249,0,9.401,13.727322
48,ORDC06702,2018-05-12,12:13:31,Lunch,NS,"[('Salad', 2), ('Fries', 8), ('Burger', 2)]",192.40,-37.802282,144.962224,0,7.018,14.787773
57,ORDZ08200,2018-01-03,08:00:00,Breakfast,NS,"[('Coffee', 7), ('Eggs', 1), ('Cereal', 4)]",158.50,-37.800937,145.015453,1,10.778,8.221095
63,ORDC09613,2018-08-12,15:26:11,Lunch,NS,"[('Chicken', 8), ('Fries', 8), ('Steak', 5), (...",738.80,-37.818178,144.964958,0,8.504,15.937463
67,ORDZ00943,2018-04-06,11:02:32,Breakfast,NS,"[('Pancake', 7), ('Cereal', 6), ('Eggs', 6)]",427.75,-37.812266,144.983811,0,8.327,13.559941
90,ORDB01052,2018-02-24,09:41:24,Breakfast,TP,"[('Eggs', 1), ('Cereal', 4), ('Coffee', 5), ('...",216.25,-37.811030,144.963657,0,8.497,12.011636
112,ORDY06164,2018-09-10,16:16:54,Dinner,TP,"[('Salmon', 5), ('Shrimp', 2), ('Pasta', 4), (...",493.00,-37.807381,144.998196,0,11.141,14.930649
114,ORDC08092,2018-09-10,16:16:54,Dinner,NS,"[('Salmon', 2), ('Shrimp', 7)]",460.00,-37.807797,144.973202,0,7.074,12.950579
119,ORDI03100,2018-01-05,08:00:00,Breakfast,NS,"[('Coffee', 6), ('Pancake', 6), ('Cereal', 10)...",532.50,-37.802519,144.992267,1,8.365,6.707984
124,ORDB02586,2018-11-07,18:18:35,Dinner,TP,"[('Shrimp', 3), ('Pasta', 9)]",409.50,-37.809350,144.960834,0,8.612,12.924069
125,ORDZ05256,2018-09-28,16:57:27,Dinner,NS,"[('Pasta', 4), ('Fish&Chips', 7)]",355.00,-37.810001,144.944741,0,9.136,15.363535
137,ORDY00005,2018-04-03,11:02:32,Breakfast,TP,"[('Cereal', 3), ('Coffee', 5), ('Pancake', 9),...",406.75,-37.810429,144.984431,0,9.589,11.790980
206,ORDB03568,2018-07-26,14:45:38,Lunch,TP,"[('Burger', 1), ('Steak', 9), ('Fries', 7)]",520.00,-37.806235,144.933584,0,10.862,13.867534
219,ORDI05565,2018-07-23,14:45:38,Lunch,NS,"[('Fries', 10), ('Steak', 3), ('Salad', 7), ('...",503.40,-37.812003,144.990883,0,8.881,14.564758
234,ORDY00851,2018-03-11,10:11:49,Breakfast,TP,"[('Eggs', 10), ('Pancake', 6), ('Coffee', 1)]",373.00,-37.803830,144.963397,0,9.319,13.357791
246,ORDZ05833,2018-12-20,19:39:43,Dinner,NS,"[('Salmon', 9), ('Shrimp', 5), ('Fish&Chips', 8)]",919.00,-37.814592,144.959722,0,8.290,14.472206
301,ORDA05178,2018-03-10,10:11:49,Breakfast,BK,"[('Coffee', 1), ('Eggs', 5), ('Cereal', 4), ('...",322.75,-37.823279,144.978495,0,7.165,14.418280
313,ORDB07128,2018-03-06,10:01:41,Breakfast,TP,"[('Cereal', 10), ('Eggs', 8)]",386.00,-37.816026,144.982576,0,9.133,12.095391
314,ORDX01360,2018-01-05,08:00:00,Breakfast,BK,"[('Coffee', 3), ('Pancake', 5), ('Cereal', 8)]",311.75,-37.813249,144.937156,1,10.095,7.387176
332,ORDJ09823,2018-04-12,11:22:49,Breakfast,TP,"[('Coffee', 1), ('Pancake', 9), ('Eggs', 9), (...",444.75,-37.810037,144.964360,0,8.620,10.603949
358,ORDA07222,2018-06-07,13:14:21,Lunch,BK,"[('Fries', 2), ('Burger', 1), ('Steak', 6), ('...",679.40,-37.805880,144.955990,0,8.069,13.953428
372,ORDC02052,2018-02-07,09:10:59,Breakfast,NS,"[('Eggs', 6), ('Cereal', 10), ('Pancake', 5)]",463.25,-37.824416,144.989164,0,9.659,14.354491
380,ORDI08549,2018-01-24,08:40:33,Breakfast,NS,"[('Pancake', 8), ('Eggs', 7), ('Coffee', 7), (...",526.50,-37.812723,144.962641,0,7.883,12.959957
386,ORDK00704,2018-08-03,15:05:54,Lunch,BK,"[('Burger', 7), ('Steak', 9), ('Salad', 8), ('...",887.60,-37.814721,144.990386,0,5.430,11.135269
407,ORDY09831,2018-01-21,08:40:33,Breakfast,TP,"[('Eggs', 2), ('Pancake', 6)]",189.50,-37.805083,144.963657,0,9.217,13.531902
410,ORDI06013,2018-03-16,10:21:58,Breakfast,NS,"[('Coffee', 10), ('Pancake', 3), ('Cereal', 4)]",231.75,-37.813012,144.976231,0,7.907,13.387011
413,ORDI07251,2018-12-25,19:49:51,Dinner,NS,"[('Shrimp', 8), ('Fish&Chips', 9)]",747.00,-37.805647,144.968215,0,6.744,12.719263
440,ORDC00777,2018-02-28,09:51:32,Breakfast,NS,"[('Eggs', 4), ('Cereal', 10)]",298.00,-37.811374,144.936892,0,10.389,15.057098
454,ORDB00358,2018-10-15,17:27:53,Dinner,TP,"[('Pasta', 2), ('Salmon', 6), ('Shrimp', 1)]",355.00,-37.821257,144.942430,0,9.415,13.777699
476,ORDZ03022,2018-01-10,08:10:08,Breakfast,NS,"[('Eggs', 4), ('Pancake', 5), ('Cereal', 6)]",335.25,-37.806988,144.957088,1,8.157,6.130123
477,ORDA07175,2018-05-19,12:33:48,Lunch,BK,"[('Steak', 10), ('Salad', 7), ('Chicken', 8)]",826.40,-37.802609,144.957187,0,8.275,16.333235
490,ORDA10116,2018-12-22,19:49:51,Dinner,BK,"[('Pasta', 1), ('Fish&Chips', 1), ('Shrimp', 9...",712.50,-37.805768,144.966843,0,7.282,16.389603

In [23]:
dirty_new_3 = dirty_new_2[~dirty_new_2['order_id'].isin(positive_lat_to_negative['order_id'])]
len(dirty_new_3)

396

In [24]:
# No customer longitude with negative sign

dirty_new_3[dirty_new_3['customer_lon'] < 0]

Empty DataFrame
Columns: [order_id, date, time, order_type, branch_code, order_items, order_price, customer_lat, customer_lon, customerHasloyalty?, distance_to_customer_KM, delivery_fee]
Index: []

In [25]:
# checking order type with respect to time
time_order_type = dirty_new_3[((dirty_new_3.time >= '08:00:00') & (dirty_new_3.time <= '12:00:00') & (dirty_new_3.order_type != 'Breakfast'))|\
            ((dirty_new_3.time >= '12:00:01') & (dirty_new_3.time <= '16:00:00') & (dirty_new_3.order_type != 'Lunch'))|\
            ((dirty_new_3.time >= '16:00:01') & (dirty_new_3.time <= '20:00:00') & (dirty_new_3.order_type != 'Dinner'))]


time_order_type

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
4,ORDA10328,2018-07-16,14:25:21,Dinner,BK,"[('Fries', 9), ('Salad', 8), ('Burger', 6)]",431.60,-37.805799,144.994800,0,5.102,11.231360
49,ORDX06996,2018-06-15,13:24:30,Dinner,BK,"[('Burger', 2), ('Fries', 8)]",158.00,-37.813268,144.965470,0,7.520,12.629953
75,ORDZ04960,2018-06-09,13:14:21,Dinner,NS,"[('Burger', 6), ('Chicken', 8)]",442.00,-37.818399,144.978798,0,9.109,16.502571
81,ORDC04467,2018-02-02,09:00:50,Dinner,NS,"[('Pancake', 10), ('Cereal', 9), ('Coffee', 8)...",513.50,-37.819764,145.012797,0,11.284,16.189410
105,ORDZ08634,2018-02-15,09:21:07,Dinner,NS,"[('Eggs', 7), ('Cereal', 9), ('Pancake', 8)]",537.00,-37.811941,144.969361,0,7.441,12.513105
116,ORDZ08328,2018-04-21,11:32:57,Dinner,NS,"[('Coffee', 8), ('Eggs', 9), ('Cereal', 4), ('...",390.50,-37.818818,144.953376,0,9.227,16.908111
118,ORDY08030,2018-09-26,16:47:19,Lunch,TP,"[('Shrimp', 9), ('Pasta', 8), ('Fish&Chips', 2...",899.00,-37.799264,144.960783,0,10.011,13.816681
126,ORDC05978,2018-03-10,10:11:49,Lunch,NS,"[('Pancake', 5), ('Coffee', 1), ('Cereal', 2)]",170.75,-37.822858,145.014101,0,11.710,19.117573
133,ORDB01502,2018-12-06,19:09:17,Breakfast,TP,"[('Pasta', 10), ('Fish&Chips', 2), ('Salmon', ...",643.00,-37.818440,144.956745,0,8.155,13.288764
147,ORDJ03556,2018-12-01,19:09:17,Lunch,TP,"[('Pasta', 6), ('Shrimp', 9), ('Fish&Chips', 1)]",686.00,-37.808319,144.936399,0,10.529,15.613354
180,ORDK10834,2018-02-19,09:31:16,Dinner,BK,"[('Pancake', 4), ('Eggs', 5), ('Coffee', 6)]",252.00,-37.824226,144.986689,0,6.499,11.372960
198,ORDA03989,2018-11-22,18:49:00,Breakfast,BK,"[('Pasta', 10), ('Fish&Chips', 6)]",485.00,-37.821044,144.983691,0,6.549,12.772421
227,ORDJ08044,2018-04-20,11:32:57,Dinner,TP,"[('Pancake', 4), ('Eggs', 1), ('Cereal', 10)]",329.00,-37.819002,144.952830,0,8.555,11.452001
232,ORDX05105,2018-04-06,11:02:32,Dinner,BK,"[('Pancake', 1), ('Eggs', 3), ('Cereal', 6), (...",223.75,-37.814846,144.950625,0,10.086,15.021940
233,ORDX04792,2018-08-04,15:05:54,Breakfast,BK,"[('Chicken', 4), ('Burger', 1), ('Steak', 6)]",429.00,-37.803524,144.949886,0,8.793,16.779613
243,ORDK08426,2018-01-08,08:10:08,Dinner,BK,"[('Coffee', 8), ('Cereal', 4), ('Eggs', 3)]",210.00,-37.808679,145.006707,1,3.829,3.955939
247,ORDY02965,2018-04-26,11:43:05,Lunch,TP,"[('Eggs', 7), ('Cereal', 4)]",238.00,-37.819053,144.965513,0,7.422,10.218993
257,ORDB07081,2018-06-26,13:44:47,Dinner,TP,"[('Burger', 4), ('Fries', 7), ('Salad', 6), ('...",625.20,-37.802612,144.970545,0,9.764,13.477806
259,ORDK09411,2018-08-25,15:46:28,Dinner,BK,"[('Burger', 1), ('Steak', 9), ('Chicken', 9)]",724.00,-37.824554,144.946887,0,9.586,18.217519
265,ORDC04323,2018-12-19,19:39:43,Breakfast,NS,"[('Salmon', 2), ('Pasta', 10), ('Shrimp', 7)]",735.00,-37.821143,144.954898,0,9.436,15.438976
269,ORDZ02463,2018-05-25,12:43:56,Dinner,NS,"[('Salad', 3), ('Steak', 9)]",456.60,-37.824991,144.949411,0,10.243,15.312055
285,ORDZ06123,2018-04-10,11:12:40,Lunch,NS,"[('Eggs', 1), ('Coffee', 10), ('Cereal', 10), ...",355.50,-37.802651,144.945577,0,8.600,13.303507
287,ORDI00713,2018-11-11,18:28:43,Lunch,NS,"[('Salmon', 5), ('Fish&Chips', 3)]",310.00,-37.803123,144.961601,0,7.165,15.117966
295,ORDI05249,2018-02-21,09:41:24,Dinner,NS,"[('Eggs', 2), ('Pancake', 7), ('Coffee', 7)]",266.25,-37.814928,144.999836,0,9.938,15.054007
326,ORDJ00353,2018-01-23,08:40:33,Lunch,TP,"[('Pancake', 7), ('Eggs', 1)]",191.75,-37.814942,144.960603,0,8.229,10.922235
340,ORDC03807,2018-06-19,13:34:38,Dinner,NS,"[('Steak', 2), ('Chicken', 6), ('Fries', 10), ...",643.00,-37.824644,145.005777,0,11.158,16.652347
343,ORDC01373,2018-06-17,13:24:30,Breakfast,NS,"[('Burger', 8), ('Fries', 5), ('Chicken', 8), ...",982.20,-37.802534,144.964587,0,6.822,14.365069
344,ORDB10841,2018-07-10,14:15:12,Breakfast,TP,"[('Burger', 3), ('Salad', 5)]",179.00,-37.824700,144.984722,0,8.917,12.323881
406,ORDJ02429,2018-11-25,18:49:00,Lunch,TP,"[('Fish&Chips', 2), ('Pasta', 3)]",152.50,-37.820867,144.982362,0,9.014,14.498447
420,ORDJ02149,2018-10-18,17:38:01,Lunch,TP,"[('Fish&Chips', 10), ('Pasta', 10), ('Shrimp',...",1180.00,-37.802571,144.948827,0,10.081,14.386339
435,ORDY04225,2018-06-18,13:34:38,Dinner,TP,"[('Steak', 2), ('Salad', 2)]",124.40,-37.814554,144.964091,0,7.991,11.537220
452,ORDA03243,2018-01-12,08:20:16,Dinner,BK,"[('Cereal', 7), ('Eggs', 7), ('Pancake', 7)]",470.75,-37.820897,144.947371,1,9.337,6.935784
463,ORDZ01150,2018-12-03,19:09:17,Lunch,NS,"[('Shrimp', 2), ('Fish&Chips', 3)]",213.00,-37.818574,144.966275,0,8.536,15.337476
468,ORDJ09311,2018-05-28,12:54:05,Breakfast,TP,"[('Burger', 3), ('Chicken', 9), ('Salad', 9), ...",805.80,-37.817548,144.933481,0,10.844,14.575940
484,ORDZ00806,2018-06-24,13:44:47,Breakfast,NS,"[('Steak', 1), ('Chicken', 8), ('Burger', 6), ...",573.00,-37.818858,144.974113,0,8.301,16.411459
485,ORDY07286,2018-12-03,19:09:17,Breakfast,TP,"[('Fish&Chips', 10), ('Pasta', 9)]",597.50,-37.816116,144.964014,0,7.796,12.530235
491,ORDY10038,2018-01-17,08:30:25,Dinner,TP,"[('Cereal', 7), ('Pancake', 9), ('Coffee', 4),...",593.25,-37.806701,144.956017,1,9.242,6.110585

In [26]:
# fixing order type with respect to time
def fix_order_type_with_respect_to_time(time, order_type):
    if (time >= '08:00:00') & (time <= '12:00:00') & (order_type != 'Breakfast'):
        order_type = 'Breakfast'
    elif (time >= '12:00:01') & (time <= '16:00:00') & (order_type != 'Lunch'):
        order_type = 'Lunch'
    elif (time >= '16:00:01') & (time <= '20:00:00') & (order_type != 'Dinner'):
        order_type = 'Dinner'
    
    return order_type

time_order_type['order_type'] = time_order_type.apply(lambda row:fix_order_type_with_respect_to_time(row['time'], row['order_type']),axis=1)
time_order_type

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
4,ORDA10328,2018-07-16,14:25:21,Lunch,BK,"[('Fries', 9), ('Salad', 8), ('Burger', 6)]",431.60,-37.805799,144.994800,0,5.102,11.231360
49,ORDX06996,2018-06-15,13:24:30,Lunch,BK,"[('Burger', 2), ('Fries', 8)]",158.00,-37.813268,144.965470,0,7.520,12.629953
75,ORDZ04960,2018-06-09,13:14:21,Lunch,NS,"[('Burger', 6), ('Chicken', 8)]",442.00,-37.818399,144.978798,0,9.109,16.502571
81,ORDC04467,2018-02-02,09:00:50,Breakfast,NS,"[('Pancake', 10), ('Cereal', 9), ('Coffee', 8)...",513.50,-37.819764,145.012797,0,11.284,16.189410
105,ORDZ08634,2018-02-15,09:21:07,Breakfast,NS,"[('Eggs', 7), ('Cereal', 9), ('Pancake', 8)]",537.00,-37.811941,144.969361,0,7.441,12.513105
116,ORDZ08328,2018-04-21,11:32:57,Breakfast,NS,"[('Coffee', 8), ('Eggs', 9), ('Cereal', 4), ('...",390.50,-37.818818,144.953376,0,9.227,16.908111
118,ORDY08030,2018-09-26,16:47:19,Dinner,TP,"[('Shrimp', 9), ('Pasta', 8), ('Fish&Chips', 2...",899.00,-37.799264,144.960783,0,10.011,13.816681
126,ORDC05978,2018-03-10,10:11:49,Breakfast,NS,"[('Pancake', 5), ('Coffee', 1), ('Cereal', 2)]",170.75,-37.822858,145.014101,0,11.710,19.117573
133,ORDB01502,2018-12-06,19:09:17,Dinner,TP,"[('Pasta', 10), ('Fish&Chips', 2), ('Salmon', ...",643.00,-37.818440,144.956745,0,8.155,13.288764
147,ORDJ03556,2018-12-01,19:09:17,Dinner,TP,"[('Pasta', 6), ('Shrimp', 9), ('Fish&Chips', 1)]",686.00,-37.808319,144.936399,0,10.529,15.613354
180,ORDK10834,2018-02-19,09:31:16,Breakfast,BK,"[('Pancake', 4), ('Eggs', 5), ('Coffee', 6)]",252.00,-37.824226,144.986689,0,6.499,11.372960
198,ORDA03989,2018-11-22,18:49:00,Dinner,BK,"[('Pasta', 10), ('Fish&Chips', 6)]",485.00,-37.821044,144.983691,0,6.549,12.772421
227,ORDJ08044,2018-04-20,11:32:57,Breakfast,TP,"[('Pancake', 4), ('Eggs', 1), ('Cereal', 10)]",329.00,-37.819002,144.952830,0,8.555,11.452001
232,ORDX05105,2018-04-06,11:02:32,Breakfast,BK,"[('Pancake', 1), ('Eggs', 3), ('Cereal', 6), (...",223.75,-37.814846,144.950625,0,10.086,15.021940
233,ORDX04792,2018-08-04,15:05:54,Lunch,BK,"[('Chicken', 4), ('Burger', 1), ('Steak', 6)]",429.00,-37.803524,144.949886,0,8.793,16.779613
243,ORDK08426,2018-01-08,08:10:08,Breakfast,BK,"[('Coffee', 8), ('Cereal', 4), ('Eggs', 3)]",210.00,-37.808679,145.006707,1,3.829,3.955939
247,ORDY02965,2018-04-26,11:43:05,Breakfast,TP,"[('Eggs', 7), ('Cereal', 4)]",238.00,-37.819053,144.965513,0,7.422,10.218993
257,ORDB07081,2018-06-26,13:44:47,Lunch,TP,"[('Burger', 4), ('Fries', 7), ('Salad', 6), ('...",625.20,-37.802612,144.970545,0,9.764,13.477806
259,ORDK09411,2018-08-25,15:46:28,Lunch,BK,"[('Burger', 1), ('Steak', 9), ('Chicken', 9)]",724.00,-37.824554,144.946887,0,9.586,18.217519
265,ORDC04323,2018-12-19,19:39:43,Dinner,NS,"[('Salmon', 2), ('Pasta', 10), ('Shrimp', 7)]",735.00,-37.821143,144.954898,0,9.436,15.438976
269,ORDZ02463,2018-05-25,12:43:56,Lunch,NS,"[('Salad', 3), ('Steak', 9)]",456.60,-37.824991,144.949411,0,10.243,15.312055
285,ORDZ06123,2018-04-10,11:12:40,Breakfast,NS,"[('Eggs', 1), ('Coffee', 10), ('Cereal', 10), ...",355.50,-37.802651,144.945577,0,8.600,13.303507
287,ORDI00713,2018-11-11,18:28:43,Dinner,NS,"[('Salmon', 5), ('Fish&Chips', 3)]",310.00,-37.803123,144.961601,0,7.165,15.117966
295,ORDI05249,2018-02-21,09:41:24,Breakfast,NS,"[('Eggs', 2), ('Pancake', 7), ('Coffee', 7)]",266.25,-37.814928,144.999836,0,9.938,15.054007
326,ORDJ00353,2018-01-23,08:40:33,Breakfast,TP,"[('Pancake', 7), ('Eggs', 1)]",191.75,-37.814942,144.960603,0,8.229,10.922235
340,ORDC03807,2018-06-19,13:34:38,Lunch,NS,"[('Steak', 2), ('Chicken', 6), ('Fries', 10), ...",643.00,-37.824644,145.005777,0,11.158,16.652347
343,ORDC01373,2018-06-17,13:24:30,Lunch,NS,"[('Burger', 8), ('Fries', 5), ('Chicken', 8), ...",982.20,-37.802534,144.964587,0,6.822,14.365069
344,ORDB10841,2018-07-10,14:15:12,Lunch,TP,"[('Burger', 3), ('Salad', 5)]",179.00,-37.824700,144.984722,0,8.917,12.323881
406,ORDJ02429,2018-11-25,18:49:00,Dinner,TP,"[('Fish&Chips', 2), ('Pasta', 3)]",152.50,-37.820867,144.982362,0,9.014,14.498447
420,ORDJ02149,2018-10-18,17:38:01,Dinner,TP,"[('Fish&Chips', 10), ('Pasta', 10), ('Shrimp',...",1180.00,-37.802571,144.948827,0,10.081,14.386339
435,ORDY04225,2018-06-18,13:34:38,Lunch,TP,"[('Steak', 2), ('Salad', 2)]",124.40,-37.814554,144.964091,0,7.991,11.537220
452,ORDA03243,2018-01-12,08:20:16,Breakfast,BK,"[('Cereal', 7), ('Eggs', 7), ('Pancake', 7)]",470.75,-37.820897,144.947371,1,9.337,6.935784
463,ORDZ01150,2018-12-03,19:09:17,Dinner,NS,"[('Shrimp', 2), ('Fish&Chips', 3)]",213.00,-37.818574,144.966275,0,8.536,15.337476
468,ORDJ09311,2018-05-28,12:54:05,Lunch,TP,"[('Burger', 3), ('Chicken', 9), ('Salad', 9), ...",805.80,-37.817548,144.933481,0,10.844,14.575940
484,ORDZ00806,2018-06-24,13:44:47,Lunch,NS,"[('Steak', 1), ('Chicken', 8), ('Burger', 6), ...",573.00,-37.818858,144.974113,0,8.301,16.411459
485,ORDY07286,2018-12-03,19:09:17,Dinner,TP,"[('Fish&Chips', 10), ('Pasta', 9)]",597.50,-37.816116,144.964014,0,7.796,12.530235
491,ORDY10038,2018-01-17,08:30:25,Breakfast,TP,"[('Cereal', 7), ('Pancake', 9), ('Coffee', 4),...",593.25,-37.806701,144.956017,1,9.242,6.110585

In [27]:
dirty_new_4 = dirty_new_3[~dirty_new_3['order_id'].isin(time_order_type['order_id'])]
len(dirty_new_4)

359

In [33]:
# drop branch name column from branches data
branches.drop(['branch_name'], axis=1, inplace=True)

In [34]:
branches

  branch_code  branch_lat  branch_lon
0          NS  -37.773803  144.983647
1          TP  -37.861835  144.905716
2          BK  -37.815834  145.046450

In [56]:
# merging data with branches data to retrieve latitude and longitude of branches
dirty_new_with_branch = pd.merge(dirty_new_4, branches, on='branch_code')

In [57]:
dirty_new_with_branch.tail()

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,branch_lat,branch_lon
354,ORDI01440,2018-07-26,14:45:38,Lunch,NS,"[('Fries', 3), ('Burger', 8), ('Chicken', 3), ...",898.8,-37.816482,144.964894,0,8.309,13.651699,-37.773803,144.983647
355,ORDC05569,2018-09-12,16:27:02,Dinner,NS,"[('Shrimp', 3), ('Salmon', 8)]",370.0,-37.807130,144.995719,0,8.816,14.548538,-37.773803,144.983647
356,ORDC07616,2018-09-14,16:27:02,Dinner,NS,"[('Shrimp', 5), ('Fish&Chips', 9), ('Pasta', 5...",871.0,-37.811360,144.927209,0,10.225,16.570459,-37.773803,144.983647
357,ORDC07167,2018-01-28,08:50:42,Breakfast,NS,"[('Eggs', 6), ('Coffee', 3), ('Pancake', 6)]",300.0,-37.805487,144.926597,1,10.831,17.749827,-37.773803,144.983647
358,ORDC10686,2018-03-20,10:32:06,Breakfast,NS,"[('Pancake', 8), ('Coffee', 6), ('Cereal', 8)]",407.0,-37.812117,144.959222,0,7.991,12.864128,-37.773803,144.983647

In [58]:
node.head()

        node        lat         lon
0  711327755 -37.807675  144.955873
1  711327756 -37.807094  144.955978
2  711327759 -37.807301  144.957817
3  711327760 -37.807885  144.957719
4  777781264 -37.805221  144.952173

In [59]:
edges.head()

   Unnamed: 0          u          v  distance(m)  street type  speed(km/h)
0           0  711327755  711332946         58.0            1         15.0
1           2  711327755   55725841         15.0            2         20.0
2           3  711327755  711327760        165.0            1         15.0
3           4  711327756  703557073          4.0            0         10.0
4           5  711327756  711332946          8.0            1         15.0

In [60]:
# creating a graph from the edges dataframe
G = nx.from_pandas_edgelist(edges, 'u', 'v', ['distance(m)'])

In [61]:
# calculating the distance given branch loation and customer location
def calculate_distance(branch_lat,branch_lon,cust_lat,cust_lon):
    u = int(node[(node['lat']==branch_lat) & (node['lon']==branch_lon)] ['node'])
    v= int(node[(node['lat']==cust_lat) & (node['lon']==cust_lon)] ['node'])
    
#     print("branch_lat:"+str(branch_lat)+"  branch_lon:"+str(branch_lon) + " node:" + str(u))
#     print("cust_lat:"+str(cust_lat)+"  cust_lon:"+str(cust_lon) + " node:" + str(v))
    
    
    #Shortest Path
    distance, path= nx.single_source_dijkstra(G,source=u, target=v,weight='distance(m)')
    return(distance/1000)

dirty_new_with_branch['shortest_dist'] = dirty_new_with_branch.apply(lambda row:calculate_distance(row['branch_lat'], row['branch_lon'], row['customer_lat'], row['customer_lon']),axis=1)
# dirty_new_with_branch

In [62]:
dirty_new_with_branch.tail()

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,branch_lat,branch_lon,shortest_dist
354,ORDI01440,2018-07-26,14:45:38,Lunch,NS,"[('Fries', 3), ('Burger', 8), ('Chicken', 3), ...",898.8,-37.816482,144.964894,0,8.309,13.651699,-37.773803,144.983647,8.309
355,ORDC05569,2018-09-12,16:27:02,Dinner,NS,"[('Shrimp', 3), ('Salmon', 8)]",370.0,-37.807130,144.995719,0,8.816,14.548538,-37.773803,144.983647,8.816
356,ORDC07616,2018-09-14,16:27:02,Dinner,NS,"[('Shrimp', 5), ('Fish&Chips', 9), ('Pasta', 5...",871.0,-37.811360,144.927209,0,10.225,16.570459,-37.773803,144.983647,10.225
357,ORDC07167,2018-01-28,08:50:42,Breakfast,NS,"[('Eggs', 6), ('Coffee', 3), ('Pancake', 6)]",300.0,-37.805487,144.926597,1,10.831,17.749827,-37.773803,144.983647,10.831
358,ORDC10686,2018-03-20,10:32:06,Breakfast,NS,"[('Pancake', 8), ('Coffee', 6), ('Cereal', 8)]",407.0,-37.812117,144.959222,0,7.991,12.864128,-37.773803,144.983647,7.991

In [63]:
# rounding off the decimal points to 3
dirty_new_with_branch['distance_to_customer_KM']=dirty_new_with_branch['distance_to_customer_KM'].apply(lambda x: round(x, 3))
dirty_new_with_branch['shortest_dist']=dirty_new_with_branch['shortest_dist'].apply(lambda x: round(x, 3))

In [65]:
# checking the mismatched shortest distance in the data
shortest_dist_df = dirty_new_with_branch[dirty_new_with_branch['distance_to_customer_KM'] != dirty_new_with_branch['shortest_dist']]
shortest_dist_df

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,branch_lat,branch_lon,shortest_dist
1,ORDB05089,2018-03-14,10:21:58,Breakfast,TP,"[('Coffee', 3), ('Cereal', 10), ('Pancake', 10)]",475.00,-37.799659,144.970194,0,9.221,12.911713,-37.861835,144.905716,10.055
10,ORDB10295,2018-08-28,15:56:37,Lunch,TP,"[('Burger', 9), ('Fries', 5), ('Salad', 3), ('...",570.60,-37.811464,144.963864,0,9.711,11.641200,-37.861835,144.905716,8.384
14,ORDB07843,2018-04-30,11:53:14,Breakfast,TP,"[('Eggs', 8), ('Coffee', 3), ('Cereal', 8)]",366.50,-37.817316,144.953188,0,10.009,11.609733,-37.861835,144.905716,8.618
18,ORDJ01798,2018-08-07,15:16:03,Lunch,TP,"[('Chicken', 3), ('Burger', 2)]",158.00,-37.810244,144.962155,0,10.965,12.079466,-37.861835,144.905716,8.545
31,ORDY00486,2018-12-31,20:00:00,Dinner,TP,"[('Fish&Chips', 8), ('Shrimp', 10)]",820.00,-37.804178,144.958503,0,11.158,12.968869,-37.861835,144.905716,9.225
36,ORDB10686,2018-11-28,18:59:09,Dinner,TP,"[('Pasta', 9), ('Fish&Chips', 3), ('Salmon', 4)]",516.50,-37.816644,144.976307,0,8.612,13.074580,-37.861835,144.905716,8.610
42,ORDJ10917,2018-09-04,16:06:45,Dinner,TP,"[('Pasta', 9), ('Shrimp', 4), ('Fish&Chips', 9...",1106.50,-37.799733,144.953413,0,10.650,14.279521,-37.861835,144.905716,10.009
44,ORDX06329,2018-06-13,13:24:30,Lunch,TP,"[('Fries', 1), ('Chicken', 7)]",236.00,-37.827260,144.981663,0,7.940,13.871810,-37.861835,144.905716,8.783
46,ORDC10966,2018-06-18,13:34:38,Lunch,TP,"[('Chicken', 10), ('Burger', 5)]",475.00,-37.818483,144.974779,0,8.491,13.774487,-37.861835,144.905716,8.287
61,ORDJ01792,2018-08-23,15:46:28,Lunch,TP,"[('Burger', 1), ('Salad', 1)]",48.20,-37.823057,144.987967,0,7.245,12.551528,-37.861835,144.905716,9.326
64,ORDK10712,2018-12-14,19:29:34,Dinner,TP,"[('Shrimp', 4), ('Fish&Chips', 7), ('Salmon', 9)]",830.00,-37.813267,144.958643,0,7.997,14.418086,-37.861835,144.905716,8.538
88,ORDY10281,2018-09-06,16:16:54,Dinner,TP,"[('Fish&Chips', 7), ('Salmon', 5), ('Shrimp', 1)]",504.00,-37.803030,144.962773,0,9.126,13.493367,-37.861835,144.905716,9.446
94,ORDA10879,2018-01-08,08:10:08,Breakfast,TP,"[('Cereal', 7), ('Coffee', 4)]",177.00,-37.816083,144.938991,1,9.884,7.466568,-37.861835,144.905716,10.294
102,ORDX08327,2018-11-18,18:38:52,Dinner,TP,"[('Salmon', 3), ('Pasta', 9), ('Shrimp', 9)]",856.50,-37.803866,144.964124,0,7.579,16.521115,-37.861835,144.905716,9.433
106,ORDB06523,2018-01-29,08:50:42,Breakfast,TP,"[('Cereal', 4), ('Eggs', 3), ('Pancake', 6)]",295.50,-37.824950,144.933345,0,8.497,12.722771,-37.861835,144.905716,10.377
122,ORDY08355,2018-02-27,09:51:32,Breakfast,TP,"[('Pancake', 6), ('Eggs', 1), ('Coffee', 7)]",220.00,-37.810625,144.978105,0,9.739,11.946844,-37.861835,144.905716,9.137
124,ORDJ09221,2018-12-20,19:39:43,Dinner,TP,"[('Fish&Chips', 3), ('Salmon', 6)]",351.00,-37.813111,144.933559,0,9.569,14.626073,-37.861835,144.905716,11.346
134,ORDY07686,2018-05-24,12:43:56,Lunch,TP,"[('Burger', 6), ('Steak', 3)]",321.00,-37.804085,144.958415,0,8.585,12.379316,-37.861835,144.905716,9.240
138,ORDX05369,2018-11-23,18:49:00,Dinner,BK,"[('Shrimp', 3), ('Fish&Chips', 2), ('Salmon', ...",587.50,-37.819768,144.942664,0,6.744,16.512848,-37.815834,145.046450,9.780
139,ORDJ10983,2018-07-30,14:55:46,Lunch,BK,"[('Salad', 2), ('Steak', 9), ('Chicken', 6), (...",655.40,-37.812112,144.973982,0,8.787,12.352091,-37.815834,145.046450,6.760
143,ORDK03715,2018-10-11,17:17:44,Dinner,BK,"[('Fish&Chips', 10), ('Shrimp', 4)]",566.00,-37.812085,144.953561,0,8.647,14.983799,-37.815834,145.046450,8.430
148,ORDA05377,2018-11-15,18:28:43,Dinner,BK,"[('Shrimp', 7), ('Salmon', 4)]",542.00,-37.819937,144.984982,0,7.884,13.128780,-37.815834,145.046450,6.294
155,ORDA06688,2018-11-11,18:28:43,Dinner,BK,"[('Salmon', 5), ('Pasta', 10), ('Fish&Chips', 3)]",585.00,-37.802884,144.966495,0,11.330,17.100098,-37.815834,145.046450,7.536
158,ORDI05394,2018-02-18,09:31:16,Breakfast,BK,"[('Coffee', 1), ('Pancake', 9), ('Eggs', 5), (...",356.75,-37.808268,144.943818,0,9.242,16.236121,-37.815834,145.046450,9.412
163,ORDK03395,2018-03-26,10:42:15,Breakfast,BK,"[('Coffee', 2), ('Pancake', 3), ('Eggs', 2), (...",320.75,-37.805583,144.949028,0,11.024,13.835921,-37.815834,145.046450,8.722
192,ORDX03898,2018-02-06,09:10:59,Breakfast,BK,"[('Eggs', 1), ('Coffee', 7)]",74.50,-37.799814,144.978239,0,9.499,11.464598,-37.815834,145.046450,6.966
205,ORDA06303,2018-01-12,08:20:16,Breakfast,BK,"[('Pancake', 6), ('Coffee', 1), ('Eggs', 3), (...",387.00,-37.820897,144.947371,1,10.154,7.492145,-37.815834,145.046450,9.337
227,ORDX00198,2018-10-20,17:38:01,Dinner,BK,"[('Pasta', 3), ('Salmon', 6), ('Fish&Chips', 4...",846.50,-37.822089,144.969548,0,9.413,17.832321,-37.815834,145.046450,7.923
237,ORDJ07817,2018-09-02,16:06:45,Dinner,BK,"[('Pasta', 6), ('Shrimp', 5), ('Fish&Chips', 4)]",575.00,-37.811904,144.936087,0,10.530,15.746757,-37.815834,145.046450,10.096
238,ORDK08261,2018-02-23,09:41:24,Breakfast,BK,"[('Eggs', 4), ('Pancake', 8)]",282.00,-37.806770,144.932388,0,11.852,15.127249,-37.815834,145.046450,10.380
239,ORDA09282,2018-04-27,11:53:14,Breakfast,BK,"[('Coffee', 8), ('Cereal', 6), ('Eggs', 9)]",384.00,-37.800231,144.987391,0,10.721,10.640065,-37.815834,145.046450,6.203
240,ORDK08011,2018-06-28,13:54:55,Lunch,BK,"[('Salad', 7), ('Chicken', 1), ('Steak', 3)]",287.40,-37.817443,144.989884,0,7.880,11.493050,-37.815834,145.046450,5.677
248,ORDA05303,2018-09-12,16:27:02,Dinner,BK,"[('Salmon', 9), ('Shrimp', 4)]",585.00,-37.815886,144.946111,0,7.002,16.378988,-37.815834,145.046450,9.183
255,ORDA00983,2018-02-18,09:31:16,Breakfast,BK,"[('Pancake', 2), ('Cereal', 4), ('Eggs', 9)]",330.50,-37.804081,145.008981,0,4.828,11.983119,-37.815834,145.046450,4.497
260,ORDZ10882,2018-02-25,09:41:24,Breakfast,NS,"[('Eggs', 3), ('Cereal', 2), ('Pancake', 2), (...",164.00,-37.816412,144.955803,0,6.636,15.456883,-37.773803,144.983647,8.736
273,ORDI00867,2018-08-21,15:36:20,Lunch,NS,"[('Burger', 6), ('Fries', 8), ('Chicken', 5), ...",562.40,-37.816748,144.969981,0,7.111,13.463530,-37.773803,144.983647,8.097
283,ORDZ09819,2018-01-23,08:40:33,Breakfast,NS,"[('Coffee', 1), ('Cereal', 7), ('Pancake', 3),...",337.25,-37.787442,144.980409,0,9.230,12.762764,-37.773803,144.983647,8.292
284,ORDZ04479,2018-01-09,08:10:08,Breakfast,NS,"[('Pancake', 10), ('Eggs', 1), ('Coffee', 10),...",402.50,-37.822191,144.947664,1,10.377,7.299614,-37.773803,144.983647,9.955
285,ORDY01639,2018-06-22,13:34:38,Lunch,NS,"[('Fries', 3), ('Chicken', 6), ('Steak', 2), (...",514.20,-37.810218,145.009017,0,12.215,15.058980,-37.773803,144.983647,10.509
297,ORDB11002,2018-04-16,11:22:49,Breakfast,NS,"[('Eggs', 8), ('Cereal', 4), ('Pancake', 6)]",405.50,-37.813602,144.957260,0,8.426,10.610369,-37.773803,144.983647,8.278
320,ORDC06858,2018-03-14,10:21:58,Breakfast,NS,"[('Pancake', 5), ('Coffee', 9), ('Cereal', 8)]",356.75,-37.816976,144.966580,0,9.948,12.698444,-37.773803,144.983647,8.293
323,ORDZ01249,2018-10-26,17:48:10,Dinner,NS,"[('Salmon', 10), ('Shrimp', 9), ('Fish&Chips',...",1381.00,-37.809481,144.963783,0,7.536,13.611695,-37.773803,144.983647,7.403
325,ORDC09411,2018-12-30,20:00:00,Dinner,NS,"[('Pasta', 9), ('Shrimp', 7)]",625.50,-37.815978,144.938301,0,7.764,17.970747,-37.773803,144.983647,9.948
326,ORDC02914,2018-09-07,16:16:54,Dinner,NS,"[('Shrimp', 2), ('Pasta', 9)]",355.50,-37.820494,144.976775,0,8.917,15.108278,-37.773803,144.983647,8.894
327,ORDB01768,2018-12-17,19:39:43,Dinner,NS,"[('Salmon', 4), ('Shrimp', 8), ('Pasta', 10)]",871.00,-37.806426,144.955672,0,9.278,13.239524,-37.773803,144.983647,8.033
339,ORDZ08797,2018-04-25,11:43:05,Breakfast,NS,"[('Pancake', 4), ('Cereal', 1), ('Coffee', 9)]",185.50,-37.806437,144.952010,0,8.295,13.672443,-37.773803,144.983647,8.340
346,ORDC07605,2018-05-24,12:43:56,Lunch,NS,"[('Fries', 4), ('Burger', 8), ('Steak', 6), ('...",726.00,-37.818997,144.976616,0,9.446,13.979935,-37.773803,144.983647,8.486
349,ORDZ05579,2018-07-28,14:55:46,Lunch,NS,"[('Salad', 3), ('Fries', 3), ('Chicken', 10), ...",936.60,-37.812641,144.959718,0,7.923,15.240234,-37.773803,144.983647,8.009

In [67]:
# fixing and replacing the mismatched shortest distance with the one calculated
shortest_dist_df['distance_to_customer_KM'] = shortest_dist_df['shortest_dist']
shortest_dist_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,branch_lat,branch_lon,shortest_dist
1,ORDB05089,2018-03-14,10:21:58,Breakfast,TP,"[('Coffee', 3), ('Cereal', 10), ('Pancake', 10)]",475.00,-37.799659,144.970194,0,10.055,12.911713,-37.861835,144.905716,10.055
10,ORDB10295,2018-08-28,15:56:37,Lunch,TP,"[('Burger', 9), ('Fries', 5), ('Salad', 3), ('...",570.60,-37.811464,144.963864,0,8.384,11.641200,-37.861835,144.905716,8.384
14,ORDB07843,2018-04-30,11:53:14,Breakfast,TP,"[('Eggs', 8), ('Coffee', 3), ('Cereal', 8)]",366.50,-37.817316,144.953188,0,8.618,11.609733,-37.861835,144.905716,8.618
18,ORDJ01798,2018-08-07,15:16:03,Lunch,TP,"[('Chicken', 3), ('Burger', 2)]",158.00,-37.810244,144.962155,0,8.545,12.079466,-37.861835,144.905716,8.545
31,ORDY00486,2018-12-31,20:00:00,Dinner,TP,"[('Fish&Chips', 8), ('Shrimp', 10)]",820.00,-37.804178,144.958503,0,9.225,12.968869,-37.861835,144.905716,9.225
36,ORDB10686,2018-11-28,18:59:09,Dinner,TP,"[('Pasta', 9), ('Fish&Chips', 3), ('Salmon', 4)]",516.50,-37.816644,144.976307,0,8.610,13.074580,-37.861835,144.905716,8.610
42,ORDJ10917,2018-09-04,16:06:45,Dinner,TP,"[('Pasta', 9), ('Shrimp', 4), ('Fish&Chips', 9...",1106.50,-37.799733,144.953413,0,10.009,14.279521,-37.861835,144.905716,10.009
44,ORDX06329,2018-06-13,13:24:30,Lunch,TP,"[('Fries', 1), ('Chicken', 7)]",236.00,-37.827260,144.981663,0,8.783,13.871810,-37.861835,144.905716,8.783
46,ORDC10966,2018-06-18,13:34:38,Lunch,TP,"[('Chicken', 10), ('Burger', 5)]",475.00,-37.818483,144.974779,0,8.287,13.774487,-37.861835,144.905716,8.287
61,ORDJ01792,2018-08-23,15:46:28,Lunch,TP,"[('Burger', 1), ('Salad', 1)]",48.20,-37.823057,144.987967,0,9.326,12.551528,-37.861835,144.905716,9.326
64,ORDK10712,2018-12-14,19:29:34,Dinner,TP,"[('Shrimp', 4), ('Fish&Chips', 7), ('Salmon', 9)]",830.00,-37.813267,144.958643,0,8.538,14.418086,-37.861835,144.905716,8.538
88,ORDY10281,2018-09-06,16:16:54,Dinner,TP,"[('Fish&Chips', 7), ('Salmon', 5), ('Shrimp', 1)]",504.00,-37.803030,144.962773,0,9.446,13.493367,-37.861835,144.905716,9.446
94,ORDA10879,2018-01-08,08:10:08,Breakfast,TP,"[('Cereal', 7), ('Coffee', 4)]",177.00,-37.816083,144.938991,1,10.294,7.466568,-37.861835,144.905716,10.294
102,ORDX08327,2018-11-18,18:38:52,Dinner,TP,"[('Salmon', 3), ('Pasta', 9), ('Shrimp', 9)]",856.50,-37.803866,144.964124,0,9.433,16.521115,-37.861835,144.905716,9.433
106,ORDB06523,2018-01-29,08:50:42,Breakfast,TP,"[('Cereal', 4), ('Eggs', 3), ('Pancake', 6)]",295.50,-37.824950,144.933345,0,10.377,12.722771,-37.861835,144.905716,10.377
122,ORDY08355,2018-02-27,09:51:32,Breakfast,TP,"[('Pancake', 6), ('Eggs', 1), ('Coffee', 7)]",220.00,-37.810625,144.978105,0,9.137,11.946844,-37.861835,144.905716,9.137
124,ORDJ09221,2018-12-20,19:39:43,Dinner,TP,"[('Fish&Chips', 3), ('Salmon', 6)]",351.00,-37.813111,144.933559,0,11.346,14.626073,-37.861835,144.905716,11.346
134,ORDY07686,2018-05-24,12:43:56,Lunch,TP,"[('Burger', 6), ('Steak', 3)]",321.00,-37.804085,144.958415,0,9.240,12.379316,-37.861835,144.905716,9.240
138,ORDX05369,2018-11-23,18:49:00,Dinner,BK,"[('Shrimp', 3), ('Fish&Chips', 2), ('Salmon', ...",587.50,-37.819768,144.942664,0,9.780,16.512848,-37.815834,145.046450,9.780
139,ORDJ10983,2018-07-30,14:55:46,Lunch,BK,"[('Salad', 2), ('Steak', 9), ('Chicken', 6), (...",655.40,-37.812112,144.973982,0,6.760,12.352091,-37.815834,145.046450,6.760
143,ORDK03715,2018-10-11,17:17:44,Dinner,BK,"[('Fish&Chips', 10), ('Shrimp', 4)]",566.00,-37.812085,144.953561,0,8.430,14.983799,-37.815834,145.046450,8.430
148,ORDA05377,2018-11-15,18:28:43,Dinner,BK,"[('Shrimp', 7), ('Salmon', 4)]",542.00,-37.819937,144.984982,0,6.294,13.128780,-37.815834,145.046450,6.294
155,ORDA06688,2018-11-11,18:28:43,Dinner,BK,"[('Salmon', 5), ('Pasta', 10), ('Fish&Chips', 3)]",585.00,-37.802884,144.966495,0,7.536,17.100098,-37.815834,145.046450,7.536
158,ORDI05394,2018-02-18,09:31:16,Breakfast,BK,"[('Coffee', 1), ('Pancake', 9), ('Eggs', 5), (...",356.75,-37.808268,144.943818,0,9.412,16.236121,-37.815834,145.046450,9.412
163,ORDK03395,2018-03-26,10:42:15,Breakfast,BK,"[('Coffee', 2), ('Pancake', 3), ('Eggs', 2), (...",320.75,-37.805583,144.949028,0,8.722,13.835921,-37.815834,145.046450,8.722
192,ORDX03898,2018-02-06,09:10:59,Breakfast,BK,"[('Eggs', 1), ('Coffee', 7)]",74.50,-37.799814,144.978239,0,6.966,11.464598,-37.815834,145.046450,6.966
205,ORDA06303,2018-01-12,08:20:16,Breakfast,BK,"[('Pancake', 6), ('Coffee', 1), ('Eggs', 3), (...",387.00,-37.820897,144.947371,1,9.337,7.492145,-37.815834,145.046450,9.337
227,ORDX00198,2018-10-20,17:38:01,Dinner,BK,"[('Pasta', 3), ('Salmon', 6), ('Fish&Chips', 4...",846.50,-37.822089,144.969548,0,7.923,17.832321,-37.815834,145.046450,7.923
237,ORDJ07817,2018-09-02,16:06:45,Dinner,BK,"[('Pasta', 6), ('Shrimp', 5), ('Fish&Chips', 4)]",575.00,-37.811904,144.936087,0,10.096,15.746757,-37.815834,145.046450,10.096
238,ORDK08261,2018-02-23,09:41:24,Breakfast,BK,"[('Eggs', 4), ('Pancake', 8)]",282.00,-37.806770,144.932388,0,10.380,15.127249,-37.815834,145.046450,10.380
239,ORDA09282,2018-04-27,11:53:14,Breakfast,BK,"[('Coffee', 8), ('Cereal', 6), ('Eggs', 9)]",384.00,-37.800231,144.987391,0,6.203,10.640065,-37.815834,145.046450,6.203
240,ORDK08011,2018-06-28,13:54:55,Lunch,BK,"[('Salad', 7), ('Chicken', 1), ('Steak', 3)]",287.40,-37.817443,144.989884,0,5.677,11.493050,-37.815834,145.046450,5.677
248,ORDA05303,2018-09-12,16:27:02,Dinner,BK,"[('Salmon', 9), ('Shrimp', 4)]",585.00,-37.815886,144.946111,0,9.183,16.378988,-37.815834,145.046450,9.183
255,ORDA00983,2018-02-18,09:31:16,Breakfast,BK,"[('Pancake', 2), ('Cereal', 4), ('Eggs', 9)]",330.50,-37.804081,145.008981,0,4.497,11.983119,-37.815834,145.046450,4.497
260,ORDZ10882,2018-02-25,09:41:24,Breakfast,NS,"[('Eggs', 3), ('Cereal', 2), ('Pancake', 2), (...",164.00,-37.816412,144.955803,0,8.736,15.456883,-37.773803,144.983647,8.736
273,ORDI00867,2018-08-21,15:36:20,Lunch,NS,"[('Burger', 6), ('Fries', 8), ('Chicken', 5), ...",562.40,-37.816748,144.969981,0,8.097,13.463530,-37.773803,144.983647,8.097
283,ORDZ09819,2018-01-23,08:40:33,Breakfast,NS,"[('Coffee', 1), ('Cereal', 7), ('Pancake', 3),...",337.25,-37.787442,144.980409,0,8.292,12.762764,-37.773803,144.983647,8.292
284,ORDZ04479,2018-01-09,08:10:08,Breakfast,NS,"[('Pancake', 10), ('Eggs', 1), ('Coffee', 10),...",402.50,-37.822191,144.947664,1,9.955,7.299614,-37.773803,144.983647,9.955
285,ORDY01639,2018-06-22,13:34:38,Lunch,NS,"[('Fries', 3), ('Chicken', 6), ('Steak', 2), (...",514.20,-37.810218,145.009017,0,10.509,15.058980,-37.773803,144.983647,10.509
297,ORDB11002,2018-04-16,11:22:49,Breakfast,NS,"[('Eggs', 8), ('Cereal', 4), ('Pancake', 6)]",405.50,-37.813602,144.957260,0,8.278,10.610369,-37.773803,144.983647,8.278
320,ORDC06858,2018-03-14,10:21:58,Breakfast,NS,"[('Pancake', 5), ('Coffee', 9), ('Cereal', 8)]",356.75,-37.816976,144.966580,0,8.293,12.698444,-37.773803,144.983647,8.293
323,ORDZ01249,2018-10-26,17:48:10,Dinner,NS,"[('Salmon', 10), ('Shrimp', 9), ('Fish&Chips',...",1381.00,-37.809481,144.963783,0,7.403,13.611695,-37.773803,144.983647,7.403
325,ORDC09411,2018-12-30,20:00:00,Dinner,NS,"[('Pasta', 9), ('Shrimp', 7)]",625.50,-37.815978,144.938301,0,9.948,17.970747,-37.773803,144.983647,9.948
326,ORDC02914,2018-09-07,16:16:54,Dinner,NS,"[('Shrimp', 2), ('Pasta', 9)]",355.50,-37.820494,144.976775,0,8.894,15.108278,-37.773803,144.983647,8.894
327,ORDB01768,2018-12-17,19:39:43,Dinner,NS,"[('Salmon', 4), ('Shrimp', 8), ('Pasta', 10)]",871.00,-37.806426,144.955672,0,8.033,13.239524,-37.773803,144.983647,8.033
339,ORDZ08797,2018-04-25,11:43:05,Breakfast,NS,"[('Pancake', 4), ('Cereal', 1), ('Coffee', 9)]",185.50,-37.806437,144.952010,0,8.340,13.672443,-37.773803,144.983647,8.340
346,ORDC07605,2018-05-24,12:43:56,Lunch,NS,"[('Fries', 4), ('Burger', 8), ('Steak', 6), ('...",726.00,-37.818997,144.976616,0,8.486,13.979935,-37.773803,144.983647,8.486
349,ORDZ05579,2018-07-28,14:55:46,Lunch,NS,"[('Salad', 3), ('Fries', 3), ('Chicken', 10), ...",936.60,-37.812641,144.959718,0,8.009,15.240234,-37.773803,144.983647,8.009

In [68]:
dirty_new_5 = dirty_new_4[~dirty_new_4['order_id'].isin(shortest_dist_df['order_id'])]
len(dirty_new_5)

311

## Missing value imputation

In [105]:
missing_df.shape

(500, 12)

In [106]:
missing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
order_id                   500 non-null object
date                       500 non-null object
time                       500 non-null object
order_type                 500 non-null object
branch_code                400 non-null object
order_items                500 non-null object
order_price                500 non-null float64
customer_lat               500 non-null float64
customer_lon               500 non-null float64
customerHasloyalty?        500 non-null int64
distance_to_customer_KM    450 non-null float64
delivery_fee               450 non-null float64
dtypes: float64(5), int64(1), object(6)
memory usage: 47.0+ KB

In [107]:
missing_df.head()

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDB00336,2018-11-27,18:59:09,Dinner,TP,"[('Fish&Chips', 9), ('Shrimp', 2), ('Pasta', 5)]",560.5,-37.816186,145.012942,0,12.129,16.144210
1,ORDJ03182,2018-03-30,10:52:23,Breakfast,NaN,"[('Coffee', 6), ('Cereal', 1)]",66.0,-37.810246,144.961350,0,8.501,11.384186
2,ORDC01032,2018-09-18,16:37:10,Dinner,NS,"[('Salmon', 6), ('Shrimp', 4), ('Pasta', 6), (...",837.0,-37.806882,144.957889,0,8.110,13.893630
3,ORDX03103,2018-11-21,18:38:52,Dinner,BK,"[('Shrimp', 8), ('Salmon', 9), ('Fish&Chips', ...",1188.5,-37.813348,144.935750,0,10.285,17.171047
4,ORDJ00175,2018-08-08,15:16:03,Lunch,NaN,"[('Burger', 7), ('Steak', 4)]",397.0,-37.806441,144.941329,0,NaN,13.082562

In [108]:
missing_df.describe()

,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
count,500.000000,500.000000,500.000000,500.000000,450.000000,450.000000
mean,500.571100,-37.812380,144.966818,0.064000,8.640987,13.713170
std,265.200107,0.007580,0.020441,0.244998,1.609263,2.710950
min,59.500000,-37.829848,144.926723,0.000000,3.640000,4.224023
25%,300.000000,-37.818463,144.953097,0.000000,7.744250,12.641206
50%,429.000000,-37.812833,144.963767,0.000000,8.677000,13.986931
75%,683.250000,-37.805928,144.978163,0.000000,9.665500,15.344647
max,1444.000000,-37.794547,145.018407,1.000000,13.559000,19.901359

In [109]:
missing_df.describe(include=['O'])

,order_id,date,time,order_type,branch_code,order_items
count,500,500,500,500,400,500
unique,500,275,72,3,3,494
top,ORDC00531,2018-11-12,08:30:25,Breakfast,BK,"[('Pasta', 2), ('Fish&Chips', 7)]"
freq,1,5,13,170,143,2

In [110]:
sum(missing_df['branch_code'].isnull())

100

In [77]:
# missing_df[missing_df['branch_code'] == 'NS']['order_id'].unique()

In [79]:
# missing_df[missing_df['order_id'].str.startswith('ORDB')]

In [111]:
def check_branch_code(order_id, branch_code):
    if pd.isnull(branch_code):
        if order_id.startswith('ORDA') or order_id.startswith('ORDK') or order_id.startswith('ORDX'):
            return 'BK'
        elif order_id.startswith('ORDB') or order_id.startswith('ORDJ') or order_id.startswith('ORDY'):
            return 'TP'
        elif order_id.startswith('ORDC') or order_id.startswith('ORDI') or order_id.startswith('ORDZ'):
            return 'NS'
    return branch_code

missing_df['branch_code'] = missing_df.apply(lambda row:check_branch_code(row['order_id'], row['branch_code']),axis=1)

In [112]:
# merging data with branches data to retrieve latitude and longitude of branches
missing_df_with_branch = pd.merge(missing_df, branches, on='branch_code')

In [113]:
missing_df_with_branch

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,branch_lat,branch_lon
0,ORDB00336,2018-11-27,18:59:09,Dinner,TP,"[('Fish&Chips', 9), ('Shrimp', 2), ('Pasta', 5)]",560.50,-37.816186,145.012942,0,12.129,16.144210,-37.861835,144.905716
1,ORDJ03182,2018-03-30,10:52:23,Breakfast,TP,"[('Coffee', 6), ('Cereal', 1)]",66.00,-37.810246,144.961350,0,8.501,11.384186,-37.861835,144.905716
2,ORDJ00175,2018-08-08,15:16:03,Lunch,TP,"[('Burger', 7), ('Steak', 4)]",397.00,-37.806441,144.941329,0,NaN,13.082562,-37.861835,144.905716
3,ORDB01865,2018-11-04,18:08:27,Dinner,TP,"[('Pasta', 2), ('Shrimp', 1)]",109.00,-37.818751,144.953040,0,8.552,14.329238,-37.861835,144.905716
4,ORDY03961,2018-11-16,18:38:52,Dinner,TP,"[('Shrimp', 10), ('Salmon', 3)]",663.00,-37.799811,144.958342,0,9.784,14.016848,-37.861835,144.905716
5,ORDY06940,2018-04-23,11:43:05,Breakfast,TP,"[('Coffee', 2), ('Eggs', 4), ('Pancake', 10)]",345.50,-37.818680,144.953187,0,8.536,NaN,-37.861835,144.905716
6,ORDB00245,2018-07-12,14:15:12,Lunch,TP,"[('Chicken', 5), ('Burger', 4)]",284.00,-37.816873,145.007266,0,11.442,NaN,-37.861835,144.905716
7,ORDB03699,2018-10-10,17:17:44,Dinner,TP,"[('Fish&Chips', 5), ('Salmon', 10), ('Pasta', ...",990.50,-37.819765,144.998960,0,10.572,14.407244,-37.861835,144.905716
8,ORDY04052,2018-05-24,12:43:56,Lunch,TP,"[('Burger', 3), ('Fries', 8), ('Salad', 5)]",275.00,-37.812841,144.939897,0,10.153,13.020443,-37.861835,144.905716
9,ORDJ01836,2018-11-23,18:49:00,Dinner,TP,"[('Pasta', 9), ('Shrimp', 10), ('Fish&Chips', 6)]",997.50,-37.805582,144.945080,0,10.058,NaN,-37.861835,144.905716
10,ORDJ00763,2018-01-28,08:50:42,Breakfast,TP,"[('Eggs', 8), ('Coffee', 10), ('Cereal', 7), (...",519.25,-37.816969,144.961547,0,7.985,12.486570,-37.861835,144.905716
11,ORDY07697,2018-04-09,11:12:40,Breakfast,TP,"[('Cereal', 2), ('Coffee', 9), ('Pancake', 7)]",279.25,-37.798997,144.977882,0,10.311,13.100062,-37.861835,144.905716
12,ORDY02830,2018-02-04,09:00:50,Breakfast,TP,"[('Eggs', 2), ('Pancake', 10), ('Coffee', 4)]",316.50,-37.817336,144.991590,0,NaN,14.226050,-37.861835,144.905716
13,ORDJ02422,2018-04-26,11:43:05,Breakfast,TP,"[('Coffee', 7), ('Cereal', 9), ('Eggs', 3)]",307.50,-37.818363,144.967075,0,7.680,10.832874,-37.861835,144.905716
14,ORDB06776,2018-10-14,17:27:53,Dinner,TP,"[('Fish&Chips', 9), ('Salmon', 9)]",684.00,-37.815466,144.991616,0,10.056,15.296395,-37.861835,144.905716
15,ORDB07125,2018-03-15,10:21:58,Breakfast,TP,"[('Cereal', 9), ('Pancake', 10)]",431.50,-37.813085,144.967067,0,8.341,10.595469,-37.861835,144.905716
16,ORDJ07059,2018-02-18,09:31:16,Breakfast,TP,"[('Cereal', 8), ('Pancake', 5)]",289.25,-37.815473,144.992171,0,10.108,14.342563,-37.861835,144.905716
17,ORDB02581,2018-12-07,19:19:26,Dinner,TP,"[('Fish&Chips', 8), ('Shrimp', 10), ('Pasta', 3)]",902.50,-37.817835,144.957385,0,8.298,12.375086,-37.861835,144.905716
18,ORDY05185,2018-08-23,15:46:28,Lunch,TP,"[('Burger', 6), ('Fries', 8), ('Salad', 6), ('...",577.20,-37.801084,144.953017,0,9.866,13.796506,-37.861835,144.905716
19,ORDY09568,2018-02-04,09:00:50,Breakfast,TP,"[('Eggs', 7), ('Coffee', 10), ('Cereal', 9), (...",587.75,-37.807015,144.955092,0,9.233,13.362570,-37.861835,144.905716
20,ORDJ06653,2018-01-30,08:50:42,Breakfast,TP,"[('Eggs', 5), ('Cereal', 5)]",215.00,-37.823126,144.978093,0,8.259,11.160450,-37.861835,144.905716
21,ORDJ05748,2018-10-27,17:58:18,Dinner,TP,"[('Fish&Chips', 9), ('Salmon', 9)]",684.00,-37.815590,144.954585,0,8.557,14.260697,-37.861835,144.905716
22,ORDB10859,2018-09-03,16:06:45,Dinner,TP,"[('Fish&Chips', 6), ('Salmon', 7), ('Shrimp', ...",1202.00,-37.807237,144.949569,0,9.569,14.322230,-37.861835,144.905716
23,ORDY03299,2018-01-18,08:30:25,Breakfast,TP,"[('Pancake', 5), ('Cereal', 1), ('Eggs', 3)]",208.25,-37.799821,144.963050,1,9.809,6.128347,-37.861835,144.905716
24,ORDJ08464,2018-04-22,11:43:05,Breakfast,TP,"[('Pancake', 8), ('Coffee', 5), ('Cereal', 5)]",336.50,-37.818862,144.953444,0,NaN,12.792187,-37.861835,144.905716
25,ORDJ05908,2018-04-23,11:43:05,Breakfast,TP,"[('Pancake', 5), ('Eggs', 9), ('Cereal', 2), (...",368.75,-37.818738,144.953241,0,8.528,11.468240,-37.861835,144.905716
26,ORDB02061,2018-08-11,15:16:03,Lunch,TP,"[('Chicken', 3), ('Fries', 1), ('Burger', 6), ...",429.00,-37.818149,144.952363,0,NaN,15.191204,-37.861835,144.905716
27,ORDB10971,2018-10-18,17:38:01,Dinner,TP,"[('Pasta', 2), ('Fish&Chips', 7)]",300.00,-37.803578,144.953928,0,9.634,13.738148,-37.861835,144.905716
28,ORDB03982,2018-03-06,10:01:41,Breakfast,TP,"[('Coffee', 5), ('Eggs', 3), ('Cereal', 5), ('...",305.50,-37.813220,144.951484,0,9.064,11.342471,-37.861835,144.905716
29,ORDJ09739,2018-08-09,15:16:03,Lunch,TP,"[('Chicken', 7), ('Fries', 4), ('Burger', 4), ...",413.20,-37.807411,144.939538,0,10.306,13.572150,-37.861835,144.905716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,ORDK08212,2018-09-25,16:47:19,Dinner,BK,"[('Fish&Chips', 1), ('Pasta', 4)]",145.00,-37.799126,144.960285,0,8.469,NaN,-37.815834,145.046450
471,ORDA05907,2018-06-29,13:54:55,Lunch,BK,"[('Salad', 2), ('Steak', 9), ('Burger', 7), ('...",900.40,-37.804417,144.929584,0,10.574,16.688179,-37.815834,145.046450
472,ORDK08857,2018-05-19,12:33:48,Lunch,BK,"[('Burger', 7), ('Chicken', 7), ('Fries', 6), ...",1004.00,-37.803976,144.957498,0,8.008,15.959371,-37.815834,145.046450
473,ORDX02755,2018-12-31,20:00:00,Dinner,BK,"[('Salmon', 1), ('Fish&Chips', 5), ('Pasta', 1)]",243.50,-37.821075,144.969444,0,7.799,15.000844,-37.815834,145.046450
474,ORDK11110,2018-06-29,13:54:55,Lunch,BK,"[('Chicken', 5), ('Steak', 9), ('Burger', 9)]",844.00,-37.826963,144.982912,0,8.242,14.475665,-37.815834,145.046450
475,ORDK08655,2018-12-11,19:19:26,Dinner,BK,"[('Pasta', 9), ('Shrimp', 4), ('Salmon', 6), (...",814.50,-37.820734,144.948821,0,9.202,16.666061,-37.815834,145.046450
476,ORDK03008,2018-04-26,11:43:05,Breakfast,BK,"[('Cereal', 1), ('Pancake', 5), ('Eggs', 9)]",340.25,-37.818551,144.965708,0,NaN,12.887705,-37.815834,145.046450
477,ORDA05586,2018-12-20,19:39:43,Dinner,BK,"[('Salmon', 1), ('Fish&Chips', 8)]",321.00,-37.815358,144.936667,0,10.085,16.799847,-37.815834,145.046450
478,ORDK00442,2018-01-16,08:30:25,Breakfast,BK,"[('Coffee', 7), ('Pancake', 8), ('Cereal', 1)]",267.50,-37.817825,144.967351,1,7.475,5.835988,-37.815834,145.046450
479,ORDA07398,2018-10-17,17:38:01,Dinner,BK,"[('Shrimp', 10), ('Fish&Chips', 1), ('Salmon',...",903.00,-37.824687,145.005827,0,4.923,11.289860,-37.815834,145.046450
480,ORDK07032,2018-03-24,10:42:15,Breakfast,BK,"[('Eggs', 4), ('Cereal', 8), ('Coffee', 2), ('...",343.75,-37.812357,144.954034,0,8.311,15.914987,-37.815834,145.046450
481,ORDK08856,2018-02-18,09:31:16,Breakfast,BK,"[('Pancake', 7), ('Cereal', 8), ('Coffee', 6),...",404.75,-37.807444,144.957820,0,8.020,16.112384,-37.815834,145.046450
482,ORDA07408,2018-03-29,10:52:23,Breakfast,BK,"[('Coffee', 1), ('Eggs', 5), ('Cereal', 8)]",285.50,-37.816434,144.965308,0,7.663,12.790342,-37.815834,145.046450
483,ORDX06134,2018-10-27,17:58:18,Dinner,BK,"[('Fish&Chips', 7), ('Salmon', 6), ('Shrimp', ...",1113.50,-37.820487,144.965911,0,7.996,17.160142,-37.815834,145.046450
484,ORDA11024,2018-01-20,08:30:25,Breakfast,BK,"[('Coffee', 10), ('Cereal', 9)]",264.00,-37.806349,144.959032,0,7.801,14.870212,-37.815834,145.046450
485,ORDX03481,2018-03-17,10:21:58,Breakfast,BK,"[('Cereal', 3), ('Pancake', 7), ('Eggs', 3), (...",373.75,-37.807443,144.971362,0,6.699,14.051456,-37.815834,145.046450
486,ORDK10396,2018-06-28,13:54:55,Lunch,BK,"[('Salad', 3), ('Fries', 9), ('Chicken', 3), (...",472.60,-37.812921,144.991312,0,5.191,10.122821,-37.815834,145.046450
487,ORDK10294,2018-11-03,18:08:27,Dinner,BK,"[('Shrimp', 5), ('Salmon', 3)]",393.00,-37.811131,144.952352,0,8.511,17.464534,-37.815834,145.046450
488,ORDX03328,2018-01-18,08:30:25,Breakfast,BK,"[('Eggs', 7), ('Cereal', 2), ('Pancake', 5)]",317.25,-37.813803,145.014300,1,4.470,4.525068,-37.815834,145.046450
489,ORDK02944,2018-12-25,19:49:51,Dinner,BK,"[('Salmon', 1), ('Shrimp', 2), ('Pasta', 10), ...",459.00,-37.825467,144.956304,0,8.917,16.077269,-37.815834,145.046450
490,ORDK02257,2018-02-11,09:21:07,Breakfast,BK,"[('Pancake', 7), ('Eggs', 6), ('Coffee', 1)]",309.25,-37.813092,144.970875,0,7.061,14.727503,-37.815834,145.046450
491,ORDA00214,2018-02-09,09:10:59,Breakfast,BK,"[('Coffee', 1), ('Pancake', 7), ('Eggs', 3)]",243.25,-37.799308,144.959241,0,8.430,12.926675,-37.815834,145.046450
492,ORDX06374,2018-09-23,16:47:19,Dinner,BK,"[('Fish&Chips', 8), ('Pasta', 2)]",335.00,-37.799403,144.998433,0,5.492,14.491036,-37.815834,145.046450
493,ORDA08349,2018-03-16,10:21:58,Breakfast,BK,"[('Cereal', 10), ('Coffee', 2)]",225.00,-37.819260,144.957538,0,NaN,13.420194,-37.815834,145.046450
494,ORDX03851,2018-01-26,08:40:33,Breakfast,BK,"[('Eggs', 2), ('Cereal', 8), ('Coffee', 7), ('...",337.25,-37.825373,144.995268,0,5.912,10.531091,-37.815834,145.046450
495,ORDK04816,2018-11-16,18:38:52,Dinner,BK,"[('Shrimp', 4), ('Salmon', 4), ('Pasta', 1)]",407.50,-37.806564,144.947437,0,8.897,NaN,-37.815834,145.046450
496,ORDK07273,2018-07-16,14:25:21,Lunch,BK,"[('Steak', 5), ('Chicken', 3), ('Salad', 4), (...",709.80,-37.814125,144.972431,0,6.957,12.821571,-37.815834,145.046450
497,ORDK10684,2018-08-05,15:05:54,Lunch,BK,"[('Steak', 6), ('Burger', 8)]",518.00,-37.813286,144.951476,0,8.556,17.269522,-37.815834,145.046450
498,ORDA06960,2018-10-21,17:38:01,Dinner,BK,"[('Salmon', 5), ('Shrimp', 4), ('Pasta', 3)]",503.50,-37.802213,144.965601,0,7.668,17.020840,-37.815834,145.046450
499,ORDK05652,2018-04-16,11:22:49,Breakfast,BK,"[('Pancake', 4), ('Eggs', 3)]",163.00,-37.812598,144.960745,0,7.798,12.885391,-37.815834,145.046450

In [114]:
missing_df_with_branch.loc[missing_df_with_branch['distance_to_customer_KM'].isnull(), ]

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,branch_lat,branch_lon
2,ORDJ00175,2018-08-08,15:16:03,Lunch,TP,"[('Burger', 7), ('Steak', 4)]",397.00,-37.806441,144.941329,0,NaN,13.082562,-37.861835,144.905716
12,ORDY02830,2018-02-04,09:00:50,Breakfast,TP,"[('Eggs', 2), ('Pancake', 10), ('Coffee', 4)]",316.50,-37.817336,144.991590,0,NaN,14.226050,-37.861835,144.905716
24,ORDJ08464,2018-04-22,11:43:05,Breakfast,TP,"[('Pancake', 8), ('Coffee', 5), ('Cereal', 5)]",336.50,-37.818862,144.953444,0,NaN,12.792187,-37.861835,144.905716
26,ORDB02061,2018-08-11,15:16:03,Lunch,TP,"[('Chicken', 3), ('Fries', 1), ('Burger', 6), ...",429.00,-37.818149,144.952363,0,NaN,15.191204,-37.861835,144.905716
37,ORDB03877,2018-02-13,09:21:07,Breakfast,TP,"[('Cereal', 4), ('Pancake', 1), ('Eggs', 6)]",240.25,-37.811339,145.008582,0,NaN,13.672674,-37.861835,144.905716
46,ORDB08884,2018-08-21,15:36:20,Lunch,TP,"[('Salad', 10), ('Fries', 8), ('Burger', 3), (...",842.00,-37.819958,144.968424,0,NaN,11.436469,-37.861835,144.905716
48,ORDJ00874,2018-09-11,16:16:54,Dinner,TP,"[('Shrimp', 3), ('Pasta', 6), ('Fish&Chips', 7...",941.00,-37.806475,144.941341,0,NaN,14.146855,-37.861835,144.905716
56,ORDJ09675,2018-09-01,15:56:37,Lunch,TP,"[('Fries', 2), ('Burger', 3), ('Salad', 8), ('...",530.60,-37.817007,144.953132,0,NaN,13.360629,-37.861835,144.905716
70,ORDY07247,2018-08-21,15:36:20,Lunch,TP,"[('Chicken', 7), ('Fries', 2), ('Salad', 8), (...",835.60,-37.812476,144.994013,0,NaN,13.724963,-37.861835,144.905716
91,ORDY10772,2018-07-04,14:05:04,Lunch,TP,"[('Burger', 7), ('Salad', 1), ('Steak', 5), ('...",483.20,-37.817887,144.946647,0,NaN,13.022241,-37.861835,144.905716
92,ORDY03657,2018-09-16,16:37:10,Dinner,TP,"[('Shrimp', 6), ('Pasta', 8)]",544.00,-37.805874,144.978373,0,NaN,14.724004,-37.861835,144.905716
100,ORDY01038,2018-02-20,09:31:16,Breakfast,TP,"[('Eggs', 5), ('Cereal', 4), ('Pancake', 5), (...",337.75,-37.823373,144.967321,0,NaN,10.530539,-37.861835,144.905716
109,ORDB08480,2018-05-28,12:54:05,Lunch,TP,"[('Fries', 8), ('Burger', 10), ('Salad', 1), (...",1084.20,-37.808300,144.966129,0,NaN,11.998755,-37.861835,144.905716
110,ORDY03744,2018-10-11,17:17:44,Dinner,TP,"[('Salmon', 10), ('Shrimp', 10)]",950.00,-37.812205,144.953310,0,NaN,12.997633,-37.861835,144.905716
114,ORDJ02908,2018-07-12,14:15:12,Lunch,TP,"[('Burger', 7), ('Salad', 9), ('Steak', 2), ('...",685.80,-37.810930,144.972815,0,NaN,12.569727,-37.861835,144.905716
127,ORDB04726,2018-10-13,17:27:53,Dinner,TP,"[('Salmon', 10), ('Shrimp', 8), ('Fish&Chips',...",1052.00,-37.805564,144.941932,0,NaN,16.167689,-37.861835,144.905716
130,ORDJ05300,2018-01-12,08:20:16,Breakfast,TP,"[('Cereal', 6), ('Coffee', 9), ('Pancake', 2),...",418.00,-37.807029,144.959020,1,NaN,5.729018,-37.861835,144.905716
132,ORDJ10810,2018-07-24,14:45:38,Lunch,TP,"[('Steak', 1), ('Fries', 1), ('Chicken', 10), ...",542.20,-37.799348,144.984644,0,NaN,13.957493,-37.861835,144.905716
139,ORDJ03969,2018-07-30,14:55:46,Lunch,TP,"[('Chicken', 7), ('Burger', 1), ('Steak', 4)]",435.00,-37.812164,144.973716,0,NaN,12.240507,-37.861835,144.905716
144,ORDY03202,2018-12-29,20:00:00,Dinner,TP,"[('Fish&Chips', 3), ('Pasta', 10), ('Shrimp', 9)]",866.00,-37.820207,144.950625,0,NaN,14.690649,-37.861835,144.905716
165,ORDI03717,2018-01-29,08:50:42,Breakfast,NS,"[('Pancake', 10), ('Coffee', 10), ('Cereal', 3...",578.50,-37.826276,144.938138,0,NaN,16.250098,-37.773803,144.983647
166,ORDI09258,2018-11-27,18:59:09,Dinner,NS,"[('Pasta', 9), ('Fish&Chips', 1), ('Shrimp', 5)]",552.50,-37.825538,144.966822,0,NaN,15.381614,-37.773803,144.983647
177,ORDI05923,2018-03-18,10:32:06,Breakfast,NS,"[('Coffee', 5), ('Eggs', 1)]",59.50,-37.813313,144.973772,0,NaN,14.323552,-37.773803,144.983647
185,ORDC03742,2018-08-12,15:26:11,Lunch,NS,"[('Burger', 1), ('Salad', 8)]",168.60,-37.813567,144.968366,0,NaN,15.114230,-37.773803,144.983647
190,ORDZ09464,2018-07-24,14:45:38,Lunch,NS,"[('Burger', 3), ('Salad', 10), ('Chicken', 9),...",661.00,-37.803497,144.949887,0,NaN,13.593302,-37.773803,144.983647
193,ORDZ08710,2018-02-03,09:00:50,Breakfast,NS,"[('Eggs', 7), ('Coffee', 3), ('Pancake', 2), (...",414.00,-37.809128,144.955902,0,NaN,14.782922,-37.773803,144.983647
203,ORDI04631,2018-06-14,13:24:30,Lunch,NS,"[('Fries', 10), ('Salad', 7), ('Chicken', 5), ...",625.40,-37.800143,144.967724,0,NaN,12.331079,-37.773803,144.983647
275,ORDI07915,2018-01-13,08:20:16,Breakfast,NS,"[('Eggs', 8), ('Coffee', 10), ('Cereal', 3)]",314.00,-37.818021,144.966854,1,NaN,7.112834,-37.773803,144.983647
282,ORDI02391,2018-01-30,08:50:42,Breakfast,NS,"[('Coffee', 4), ('Cereal', 8), ('Pancake', 9)]",416.25,-37.802294,144.990587,0,NaN,13.105914,-37.773803,144.983647
283,ORDC00680,2018-10-23,17:48:10,Dinner,NS,"[('Salmon', 7), ('Shrimp', 9), ('Fish&Chips', 9)]",1088.00,-37.807279,144.948608,0,NaN,14.512345,-37.773803,144.983647
288,ORDC06880,2018-10-08,17:17:44,Dinner,NS,"[('Shrimp', 5), ('Salmon', 3), ('Fish&Chips', ...",683.00,-37.815595,144.958218,0,NaN,14.721861,-37.773803,144.983647
297,ORDC01471,2018-02-19,09:31:16,Breakfast,NS,"[('Coffee', 2), ('Pancake', 8), ('Eggs', 7)]",363.00,-37.807287,144.957846,0,NaN,12.973059,-37.773803,144.983647
322,ORDK00723,2018-11-19,18:38:52,Dinner,BK,"[('Shrimp', 8), ('Fish&Chips', 8), ('Pasta', 4)]",822.00,-37.818975,145.008136,0,NaN,11.056059,-37.815834,145.046450
333,ORDA04471,2018-09-09,16:16:54,Dinner,BK,"[('Shrimp', 6), ('Salmon', 9)]",693.00,-37.823315,144.993684,0,NaN,15.298848,-37.815834,145.046450
337,ORDX09509,2018-12-09,19:19:26,Dinner,BK,"[('Salmon', 3), ('Shrimp', 3)]",285.00,-37.802437,144.980088,0,NaN,15.882626,-37.815834,145.046450
345,ORDX02320,2018-11-01,18:08:27,Dinner,BK,"[('Pasta', 7), ('Shrimp', 2)]",300.50,-37.825676,144.997922,0,NaN,12.864683,-37.815834,145.046450
356,ORDK00836,2018-04-04,11:02:32,Breakfast,BK,"[('Coffee', 4), ('Eggs', 9), ('Cereal', 1), ('...",418.75,-37.807080,144.959716,0,NaN,12.463687,-37.815834,145.046450
372,ORDA03053,2018-10-19,17:38:01,Dinner,BK,"[('Salmon', 7), ('Fish&Chips', 6), ('Shrimp', 8)]",929.00,-37.818088,144.966887,0,NaN,14.665146,-37.815834,145.046450
373,ORDK07440,2018-12-02,19:09:17,Dinner,BK,"[('Fish&Chips', 8), ('Shrimp', 4)]",496.00,-37.801756,144.958105,0,NaN,17.837899,-37.815834,145.046450
383,ORDK08455,2018-03-10,10:11:49,Breakfast,BK,"[('Eggs', 5), ('Pancake', 6)]",255.50,-37.823039,144.975941,0,NaN,14.215481,-37.815834,145.046450
390,ORDX03470,2018-04-03,11:02:32,Breakfast,BK,"[('Cereal', 1), ('Eggs', 2)]",65.00,-37.812274,144.989074,0,NaN,9.879927,-37.815834,145.046450
404,ORDX08723,2018-05-02,11:53:14,Breakfast,BK,"[('Eggs', 2), ('Coffee', 8), ('Pancake', 10), ...",514.50,-37.809747,144.972784,0,NaN,11.361394,-37.815834,145.046450
405,ORDA01157,2018-09-22,16:47:19,Dinner,BK,"[('Pasta', 2), ('Shrimp', 3), ('Salmon', 1), (...",608.00,-37.799835,144.936321,0,NaN,19.901359,-37.815834,145.046450
409,ORDK09478,2018-10-23,17:48:10,Dinner,BK,"[('Shrimp', 2), ('Fish&Chips', 1), ('Salmon', 3)]",266.00,-37.819722,144.970380,0,NaN,15.024927,-37.815834,145.046450
425,ORDA10895,2018-09-30,16:57:27,Dinner,BK,"[('Salmon', 6), ('Shrimp', 6), ('Pasta', 6)]",735.00,-37.812517,144.974010,0,NaN,15.756205,-37.815834,145.046450
433,ORDK11096,2018-03-08,10:11:49,Breakfast,BK,"[('Coffee', 4), ('Pancake', 1), ('Eggs', 7)]",208.25,-37.811665,144.984456,0,NaN,9.954797,-37.815834,145.046450
435,ORDX10883,2018-11-12,18:28:43,Dinner,BK,"[('Pasta', 4), ('Fish&Chips', 6), ('Salmon', 9)]",689.00,-37.813629,144.957384,0,NaN,14.902901,-37.815834,145.046450
463,ORDX06191,2018-04-28,11:53:14,Breakfast,BK,"[('Coffee', 6), ('Eggs', 5)]",155.00,-37.823293,144.968608,0,NaN,15.869435,-37.815834,145.046450
476,ORDK03008,2018-04-26,11:43:05,Breakfast,BK,"[('Cereal', 1), ('Pancake', 5), ('Eggs', 9)]",340.25,-37.818551,144.965708,0,NaN,12.887705,-37.815834,145.046450
493,ORDA08349,2018-03-16,10:21:58,Breakfast,BK,"[('Cereal', 10), ('Coffee', 2)]",225.00,-37.819260,144.957538,0,NaN,13.420194,-37.815834,145.046450

In [115]:
missing_df_with_branch.loc[missing_df_with_branch['distance_to_customer_KM'].isnull(), 'distance_to_customer_KM'] = missing_df_with_branch[missing_df_with_branch['distance_to_customer_KM'].isnull()].apply(lambda row:calculate_distance(row['branch_lat'], row['branch_lon'], row['customer_lat'], row['customer_lon']),axis=1)

In [117]:
# drop branch_lon and branch_lat column from branches data
missing_df_with_branch.drop(['branch_lat', 'branch_lon'], axis=1, inplace=True)

In [118]:
missing_df_with_branch.describe()

,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
count,500.000000,500.000000,500.000000,500.000000,500.000000,450.000000
mean,500.571100,-37.812380,144.966818,0.064000,8.610816,13.713170
std,265.200107,0.007580,0.020441,0.244998,1.605471,2.710950
min,59.500000,-37.829848,144.926723,0.000000,3.640000,4.224023
25%,300.000000,-37.818463,144.953097,0.000000,7.725250,12.641206
50%,429.000000,-37.812833,144.963767,0.000000,8.622000,13.986931
75%,683.250000,-37.805928,144.978163,0.000000,9.634750,15.344647
max,1444.000000,-37.794547,145.018407,1.000000,13.559000,19.901359

In [99]:
sum(missing_df['customerHasloyalty?'].isnull())

0

## Outlier detection

In [ ]:
# node.head()

In [ ]:
# print(node['lat'].max())
# print(node['lat'].min())
# print(node['lon'].max())
# print(node['lon'].min())

In [ ]:
outlier_df.shape

In [ ]:
outlier_df.describe()

In [ ]:
bp = outlier_df.boxplot(figsize=(12,10))
bp

In [ ]:
# 144.9631608,-37.8142177,144.9631608,-37.8142177

outlier_df.boxplot('order_price', by='order_type', figsize=(10,6))

In [ ]:
outlier_df.boxplot('delivery_fee', by='branch_code', figsize=(12,8))

In [ ]:
outlier_df['date'] = pd.to_datetime(outlier_df['date'])
outlier_df['time'] = pd.to_datetime(outlier_df['time'])

In [ ]:
def check_for_weekend(order_date):
    day = order_date.weekday()
    if day < 5:
        return 0
    else:
        return 1

outlier_df['weekend'] = outlier_df.apply(lambda row:check_for_weekend(row['date']),axis=1)

In [ ]:
outlier_tp_branch = outlier_df[outlier_df['branch_code'] == 'TP']
outlier_bk_branch = outlier_df[outlier_df['branch_code'] == 'BK']
outlier_ns_branch = outlier_df[outlier_df['branch_code'] == 'NS']

In [ ]:
import matplotlib.pyplot as plt

fig1 = plt.figure()
ax1 = fig1.add_subplot(1, 1, 1)
n, bins, patches = ax1.hist(outlier_tp_branch['delivery_fee'], color='r')
ax1.set_xlabel('Branch TP Delivery Fee')
ax1.set_ylabel('Frequency')


fig2 = plt.figure()
ax2 = fig2.add_subplot(1, 1, 1)
n, bins, patches = ax2.hist(outlier_bk_branch['delivery_fee'])
ax2.set_xlabel('Branch BK Delivery Fee')
ax2.set_ylabel('Frequency')

fig3 = plt.figure()
ax3 = fig3.add_subplot(1, 1, 1)
n, bins, patches = ax3.hist(outlier_ns_branch['delivery_fee'], color='black')
ax3.set_xlabel('Branch NS Delivery Fee')
ax3.set_ylabel('Frequency')

In [ ]:
# outlier_tp_branch.boxplot('delivery_fee', by='order_type', figsize=(12,8))
# outlier_tp_branch.boxplot('delivery_fee', by='weekend', figsize=(12,8))
# outlier_bk_branch.boxplot('delivery_fee', by='order_type', figsize=(12,8))
# outlier_bk_branch.boxplot('delivery_fee', by='weekend', figsize=(12,8))
# outlier_ns_branch.boxplot('delivery_fee', by='order_type', figsize=(12,8))
# outlier_ns_branch.boxplot('delivery_fee', by='weekend', figsize=(12,8))

In [ ]:
outlier_df.loc[outlier_df['branch_code'] == 'TP','Predicted_Delivery_Fee'] =l0.predict(outliers[outlier_df['branch_code'] == 'TP'][['distance_to_customer_KM','weekend','order_type']])

sns.residplot(outlier_df[outlier_df['branch_code']=='TP']['Predicted_Delivery_Fee'],outlier_df[outlier_df['branch_code']=='TP']['delivery_fee'],lowess=True,line_kws={'color': 'red'} )
plt.xlabel('Fitted Values')
plt.ylabel('Fare ')
plt.title('Residual VS Fitted for Fare of Uber Type 0')

In [ ]:
outlier_df.head()

In [ ]:
outlier_df.boxplot('distance_to_customer_KM', figsize=(12,8))

In [ ]:
outlier_df.boxplot('distance_to_customer_KM', by='branch_code', figsize=(12,8))